<div [formGroup]="formGroup" style="display: flex;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0px;
      height: auto;
      background-color: white;
      border-top: #aaa solid 1px;
      border-left: #aaa solid 1px;
      border-right: #aaa solid 1px;
      padding: 10px;
      z-index: 9999">
  <button mat-icon-button (click)="closePanel()"><mat-icon>close</mat-icon></button>
  <mat-form-field>
    <input matInput formControlName="allfieldsandcontent" type="text" placeholder="All fields" />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="from" type="text" placeholder="From"  />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="to" type="text" placeholder="To"  />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="subject" type="text" placeholder="Subject"  />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="date" type="text" placeholder="Date (YYYYMMDD)"  />
  </mat-form-field>
  <mat-checkbox formControlName="currentfolderonly">Current folder</mat-checkbox>
  <a mat-icon-button target="_blank" href="https://help.runbox.com/new-webmail-search/">
    <mat-icon>help</mat-icon>    
  </a>
</div>