#multipleSearchFieldsContainer mat-form-field {
    height: 20px;
    margin-right: 10px;
}

mat-form-field, mat-checkbox {
    width: 190px;
    padding-right: 5px;
}

#allfieldsandcontent {
    width: 395px !important;
}

#multipleSearchFieldsOptions {
    margin-top: 10px;
}

#multipleSearchFieldsOptions mat-checkbox {
    width: 125px;
}

#multipleSearchFieldsClose, #multipleSearchFieldsHelp {
    height: 30px;
    width: 30px;
    float: right;
}


