<div [formGroup]="formGroup" id="multipleSearchFieldsContainer">
  <mat-form-field>
    <input matInput formControlName="allfieldsandcontent" type="text" placeholder="All fields" />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="from" type="text" placeholder="From"  />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="to" type="text" placeholder="To"  />
  </mat-form-field>
  <button mat-icon-button (click)="closePanel()" id="multipleSearchFieldsClose"><mat-icon svgIcon="close"></mat-icon></button>
  <br />
  <mat-form-field>
    <input matInput formControlName="subject" type="text" placeholder="Subject"  />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="date" type="text" placeholder="Date (YYYYMMDD)"  />
  </mat-form-field>
  <mat-checkbox formControlName="currentfolderonly">Current folder</mat-checkbox>
  <a mat-icon-button target="_blank" id="multipleSearchFieldsHelp" href="https://help.runbox.com/runbox-7-webmail-new-features/#Search_parameters">
    <mat-icon svgIcon="help-circle"></mat-icon>    
  </a>
</div>
