div.section-header-with-toggle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

mat-form-field {
    margin: 0 10px;
}
    
#totp_instructions, #totp_example {
    float: left;
    width: 48%;
}

#totp-steps span {
    margin-left: 20px;
}

#table_totp_example {
    margin-top: 20px;
    margin-left: 4%;
}

#totp_example table {
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid #D7D5D7;
    border-right: 1px solid #D7D5D7;
    border-bottom: 1px solid #D7D5D7;
}

#totp_example table td
{
    padding: 10px;
    margin: 0;    
    border-spacing: 0px;
    border-collapse: separate;
}

/* Animated otp begin */

#totp_example .base64scan {
  background: url(/_img/totp.png) no-repeat left center;
  margin-left: 10px;
  display: inline-block;
  height: 176px;
  width: 207px;
}

#totp_example .timer {
    position:relative;
    font-size: 200px;
    width:1em;
    height:1em;
    float: left;
}

#totp_example .timer > .percent {
    position: absolute;
    top: 1.05em;
    left: 0;
    width: 3.33em;
    font-size: 0.3em;
    text-align:center;
}

#totp_example .timer > #slice {
    position:absolute;
    width:1em;
    height:1em;
    clip:rect(0px,1em,1em,0.5em);
}

#totp_example .timer > #slice.gt50 {
    clip:rect(auto, auto, auto, auto);
}

#totp_example .timer > #slice > .pie {
    border: 0.1em solid #c0c0c0;
    position:absolute;
    width:0.8em; /* 1 - (2 * border width) */
    height:0.8em; /* 1 - (2 * border width) */
    clip:rect(0em,0.5em,1em,0em);
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em; 
    border-radius:0.5em; 
}

#totp_example .timer > #slice > .pie.fill {
    -moz-transform:rotate(180deg) !important;
    -webkit-transform:rotate(180deg) !important;
    -o-transform:rotate(180deg) !important;
    transform:rotate(180deg) !important;
}

#totp_example .timer.fill > .percent {
    display: none;
}

#totp_example .timer.fill > #slice > .pie {
    border: transparent;
    background-color: #155d97;
    width:1em;
    height:1em;
}

#totp_example .totp-timer-code {
    font-weight: bolder;
    font-size: 0.8em;
    margin-left: 5px;
}

#totp_example .totp-timer,
#totp_example .totp-timer-code 
{
    vertical-align: middle;
    display: inline-block;
    margin-right: 0px;
}

#totp_example #totp_test_code input {
    width: 125px;
}

#totp_example .otp-print {
    margin-top: 15px; 
    display: inline-block; 
    vertical-align: middle;
}

#totp-animation {
    margin-top: 121px;
    margin-left: 19px;
    position: absolute;
}

#totp-animation .totp-timer-code {
    margin-left: 2px;
    margin-top: 4px;
}

/* Animated TOTP end */

#last-logins {
    margin-top: 20px;
}

#last-logins mat-form-field, #manage-ips mat-form-field {
    margin-right: 30px;
}

