<app-runbox-container sidebar_opened=false>
  <mat-tab-group>
    <mat-tab label="Account Security">
      <app-runbox-section>
        <div runbox-section-header>
          <h3 class="runbox-section-header">Account Security</h3>
        </div>
        <div runbox-section-content>
          <div class="accountsecurity-intro body">
            <p>In this area you can manage your account's security settings. An overview of the settings with explanations can be found below. You may then navigate to each section using the tabs above in order to change individual settings.</p><p>We encourage you to enable Two-Factor Authentication and review the other security settings in order to keep your account secure.</p>
	    <p>Please see <a href="https://help.runbox.com/account-security/" target="help">Account Security Help</a> for more information.</p>
            <h4>Two-Factor Authentication</h4>
            <p>With Two-Factor Authentication (2FA) you have to use your username and password along with an extra code to log in. When enabling 2FA, you have the following options:</p>
            <ul class="text-list">
              <li><strong>Timed One-Time Passwords (TOTP)</strong>: To use this option you need a free TOTP app on your smartphone or computer (see <a href="https://help.runbox.com/account-security/">Help</a> for examples). TOTP works by generating a unique code which changes over time.<br><br></li>
              <li><strong>One-Time Passwords (OTP)</strong>: When you enable this option, the system will generate random codes that you can use only once.<br><br></li>
              <li><strong>Trusted browsers</strong>: This allows the server to trust your current web browser so that you don't have to use a 2FA code to log in.<br><br></li>
              <li><strong>Unlock code</strong>: This special code can be used to disable 2FA if you have problems logging in with your 2FA codes.<br><br></li>
            </ul>
            <h4>Manage Services</h4>
            <p>This section lets you disable email services on your account, such as IMAP, POP, and SMTP.</p><p>These services are used with email programs/apps such as Outlook, Thunderbird, and Apple Mail. Disabling the services you don't use can protect your account from attempts at unauthorized access.</p>
            <h4>App Passwords</h4>
            <p>App Passwords are strong passwords that can be used with each of your device's email programs and apps.</p>
            <p>If you use a different app password with each device and then lose one of them, you can easily disable that device's password and prevent it from logging in.</p>
            <h4>Access Control</h4>
            <p>Here you can manage the access to your account, review your last logins, and allow or deny IP addresses.</p>
            <h4>Sessions</h4>
            <p>This section shows the currently active sessions for your account.</p>
          </div>
        </div>
      </app-runbox-section>
    </mat-tab>
    <mat-tab label="Two-Factor Authentication">
      <app-runbox-section>
        <div runbox-section-header>
          <h3 class="runbox-section-header">Two-Factor Authentication</h3>
          <mat-slide-toggle
            [(ngModel)]="rmm.account_security.tfa.settings.is_2fa_enabled"
            (ngModelChange)="toggle_2fa()"
            style="float: right;"
            >
            {{ rmm.account_security.tfa.settings.is_2fa_enabled ? 'Enabled' : 'Disabled' }}
          </mat-slide-toggle>
        </div>
        <div runbox-section-content>
          <p>This is the Two-Factor Authentication (2FA) configuration screen, where you can configure the various options for enabling and using 2FA.</p>
          <p>We recommended that you create an <strong>Unlock Code</strong> when enabling 2FA. This special code can be used to disable 2FA if you have problems logging in with your 2FA codes.</p>
          <p style="margin: 0 5%"><em><strong>Note:</strong> For security reasons, enabling 2FA will disable your account password for non-web services. These include IMAP, POP, SMTP, FTP, CalDAV, and CardDAV services that may be used with progams or apps on your device. Therefore you will need to set up App Passwords for these services if you want to continue using them.</em></p>
	  <p>For more information on these settings, please see <a href="https://help.runbox.com/account-security/#Two-Factor_Authentication" target="help">Two-Factor Authentication Help</a>.</p>
        </div>
      </app-runbox-section>
      <app-runbox-section size="h2">
        <div runbox-section-header>
          <h4 class="runbox-section-header">Timed One-Time Passwords</h4>
          <mat-slide-toggle
            [(ngModel)]="rmm.account_security.tfa.settings.is_device_2fa_enabled"
            (ngModelChange)="toggle_totp_device()"
            style="float: right;"
            >
            {{ rmm.account_security.tfa.settings.is_device_2fa_enabled ? 'Enabled' : 'Disabled' }}
          </mat-slide-toggle>
        </div>
        <div runbox-section-content>
          <p></p><p>Timed One-Time Passwords (<strong>TOTP</strong>) are 6 digit codes that change every 30 seconds. The codes are generated by a free app that you download onto your smartphone or computer.</p><p>To generate codes for your account the system will provide you with a secret key. The secret key is entered into the app, and the generated codes along with your username and account password are used to log into your account.</p><p></p>
          <div id="totp_instructions">
            <h4>Setting up Timed One-Time Passwords</h4>
	    <p>First you need to download and install one of the recommended <a href="https://help.runbox.com/account-security/#Timed_One-Time_Passwords_TOTP">TOTP apps</a>, unless you already have a TOTP app.</p>
	    <p>Follow the steps below to set up TOTP. The app you installed will help guide you through the process.</p>
	    <p>When you have completed the setup, 2FA will be enabled for your account.</p>
	    <p>The next time you log into Runbox, you will be asked for a TOTP code in addition to your username and account password.</p>
          </div>
	  
          <div id="totp_example">
	    <table id="table_totp_example" cellpadding="0" cellspacing="0">
	      <tbody>
		<tr>
		  <td>
		    <div id="totp-example">
		      <div style="text-align: center; padding: 5px 0">Example TOTP app</div>
		      <div id="totp-animation">
			<div style="font-size: 14px;" class="totp-timer timer fill"><div class="percent">50%</div><div id="slice" class="gt50"><div style="transform: rotate(180.072deg);" class="pie"></div><div style="transform: rotate(180.072deg);" class="pie fill"></div></div></div>
			<div class="totp-timer-code">136929</div>
		      </div>
		      <img class="base64scan">
		    </div>
		  </td>
		  <td>
		    <div>Recommended TOTP apps:
		      <ul class="square-list">
			<li>Authy (<a href="https://itunes.apple.com/br/app/authy/id494168017?mt=8">iOS</a>/<a href="https://play.google.com/store/apps/details?id=com.authy.authy">Android</a>)</li>
			<li>FreeOTP Authenticator (<a href="https://itunes.apple.com/en/app/freeotp-authenticator/id872559395?mt=8">iOS</a>/<a href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp&amp;hl=en">Android</a>)
			</li>
			<li>Google Authenticator (<a href="https://itunes.apple.com/br/app/google-authenticator/id388497605?mt=8">iOS</a>/<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a>)
			</li>
		      </ul>
		    </div>
		  </td>
		</tr>
	      </tbody>
	    </table>
          </div>
	  <div style="clear: both"></div>

          <div id="totp-steps">
	      <div>
		<p>
		  1. Click [Generate key] to generate a new TOTP key.
		</p>
		<p>
		  <span><button mat-raised-button class="primaryContentButton" (click)="totp_generate_new_key()">Generate key</button></span>
                  <mat-form-field>
                    <input matInput name="new_totp_code" placeholder="Key" maxlength="16" disabled="" [value]="rmm.account_security.tfa.new_totp_code">
                  </mat-form-field>
		</p>
              </div>
              <div>
		<p>
		  2. Note the label below, as it will identify the key in the TOTP app on your device.
		</p>
		<p>
		  <span><strong>Label:</strong></span>
                  <mat-form-field  *ngIf="rmm.me.data">
                    <input matInput name="totp_label" (ngModel)="rmm.account_security.tfa.totp_label" placeholder="Label" readonly [value]="'Runbox: ' + rmm.me.data.username">
                  </mat-form-field>
		</p>
              </div>
	      <div>
		<p>
		  3. Scan the generated QR code below when requested by the app, or manually enter the key above into the app.
		</p>
	      </div>
              <div *ngIf="rmm.account_security.tfa.qr_code_value">
		<p>
		  <span>
                    <qr-code [value]="rmm.account_security.tfa.qr_code_value.href" [size]="250" level="H"></qr-code>
		  </span>
		</p>
              </div>
              <div>
		<p>
		  4. Enter the code generated by the app and click [Check code] to ensure that the setup is correct.
		</p>
		<p>
		  <span><strong>Test code:</strong></span>
                  <mat-form-field>
                    <input matInput name="totp_test_code" placeholder="Enter code" maxlength="6" [(ngModel)]="totp_test_code" (ngModelChange)="totp_test_code_change()">
                  </mat-form-field>
		  <span><button  mat-raised-button class="primaryContentButton" [disabled]="is_btn_totp_check_disabled" (click)="totp_check_code()">Check code</button></span>
		</p>
		<p>
		  5. If the code is correct, Two-Factor Authenetication with TOTP will be enabled for your account.
		</p>
              </div>
	  </div>
	</div>
      </app-runbox-section>
      <app-runbox-section size="h2">
        <div runbox-section-header>
          <h4 class="runbox-section-header">One-Time Passwords</h4>
          <mat-slide-toggle
            [(ngModel)]="rmm.account_security.tfa.settings.is_otp_enabled"
            (ngModelChange)="toggle_otp()"
            style="float: right;"
            >
            {{ rmm.account_security.tfa.settings.is_otp_enabled ? 'Enabled' : 'Disabled' }}
          </mat-slide-toggle>
        </div>
        <div runbox-section-content>
          <p>One-Time Passwords (<strong>OTP</strong>) are codes that can be used only once. The OTP must be used together with your username and account password to log in.</p>
          <p>You can generate new codes at any time, and this will invalidate any existing codes. A total of 40 codes with 16 characters each are generated each time.</p>
          <p>Click the button below to generate a new list of codes that you can copy &amp; paste or print out.</p>
          <span><button mat-raised-button class="primaryContentButton" (click)="otp_generate()" [disabled]="is_busy_otp_update" >Generate codes</button></span>
	  <p></p>
          <div *ngIf="is_busy_otp_update" style="display: flex; justify-content: center">
            <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
          </div>
          <ul *ngIf="rmm.account_security.tfa.otp_generated_list && rmm.account_security.tfa.otp_generated_list.passwords">
            <li *ngFor="let password of rmm.account_security.tfa.otp_generated_list.passwords">
              <span>{{password.value}}</span>
            </li>
          </ul>
        </div>
      </app-runbox-section>
      <app-runbox-section size="h2">
        <div runbox-section-header>
          <h4 class="runbox-section-header">Trusted Browsers</h4>
        </div>
        <div runbox-section-content>
            <p>Trusted browsers are able to log into Runbox with just the username and account password even if 2FA is enabled.</p>
            <p>
	      <span>Browser name: </span>
              <mat-form-field>
		<input matInput name="trusted_browser_name" placeholder="Enter browser/device name" [(ngModel)]="trusted_browser_name" (ngModelChange)="trusted_browser_name_change()">
              </mat-form-field>
              <span><button mat-raised-button class="primaryContentButton" [disabled]="is_btn_trust_browser_disabled" (click)="device_trust_create()">Trust this browser</button></span>
              <span style="padding-left: 20px">Suggestion: "Firefox on PC"</span>
            </p>
            <mat-grid-list cols="5" rowHeight="50px" *ngIf="rmm.account_security.device.results">
              <mat-grid-tile><h4>Name</h4></mat-grid-tile>
              <mat-grid-tile><h4>Status</h4></mat-grid-tile>
              <mat-grid-tile><h4>Created</h4></mat-grid-tile>
              <mat-grid-tile><h4>Action</h4></mat-grid-tile>
              <mat-grid-tile></mat-grid-tile>
              <div *ngFor="let result of rmm.account_security.device.results">
		<mat-grid-tile>{{ result.name }}</mat-grid-tile>
		<mat-grid-tile>
                  <mat-slide-toggle
                    [(ngModel)]="result.is_trusted"
                    (ngModelChange)="device_toggle(result)"
                    >
                    {{ result.is_trusted ? 'Trusted' : 'Not trusted' }}
                  </mat-slide-toggle>
		</mat-grid-tile>
		<mat-grid-tile>{{result.created}}</mat-grid-tile>
		<mat-grid-tile>
                  <button mat-raised-button class="primaryContentButton" (click)="device_delete(result.id)">Delete</button>
		</mat-grid-tile>
		<mat-grid-tile>
                  <span>
                    <mat-chip-list *ngIf="result.is_current_device">
                      <mat-chip>Current device</mat-chip>
                    </mat-chip-list>
                  </span>
		</mat-grid-tile>
              </div>
            </mat-grid-list>
        </div>
      </app-runbox-section>
      <app-runbox-section size="h2">
        <div runbox-section-header>
          <h4 class="runbox-section-header">Unlock code</h4>
        </div>
        <div runbox-section-content>
          <p>
            An unlock code is required so that if you lose your TOTP or OTP codes, you can still access your account.
          </p>
          <p>
            Using the unlock code will turn off 2FA for your account. You can easily reactivate 2FA on this page once you are successfully logged in again.
          </p>
          <div *ngIf="is_busy_unlock_code_update" style="display: flex; justify-content: center">
            <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
          </div>
          <span><button mat-raised-button class="primaryContentButton" (click)="unlock_code_generate()" [disabled]="is_busy_unlock_code_update">Generate code</button></span>
          <span *ngIf="this.rmm.account_security.unlock_code.unlock_code">
            {{this.rmm.account_security.unlock_code.unlock_code}}
          </span>
	  <p></p>
        </div>
      </app-runbox-section>

    </mat-tab>
    <mat-tab label="Manage Services">
      <app-runbox-section>
        <div runbox-section-header>
          <h3 class="runbox-section-header">Manage Services</h3>
        </div>
        <div runbox-section-content>
          <p>On this screen you can enable or disable specific services. When a service is disabled it's not possible to log into that service at all.</p>
          <p>Disabling all the services you don't use adds an extra layer of security to your account, as it completely prevents attempts to gain unauthorized access via those services.</p>
	  <p>For more information on these settings, please see <a href="https://help.runbox.com/account-security/#Manage_Services" target="help">Manage Services Help</a>.</p>
          <mat-grid-list cols="4" rowHeight="30px" *ngIf="rmm.account_security.service.results">
            <mat-grid-tile><h4>Service</h4></mat-grid-tile>
            <mat-grid-tile><h4>Status</h4></mat-grid-tile>
            <mat-grid-tile colspan="2"><h4>Description</h4></mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="4" rowHeight="50px" *ngIf="rmm.account_security.service.results">
            <div *ngFor="let service of rmm.account_security.service.services_translation | keyvalue">
              <div *ngIf="!rmm.account_security.service.services_translation[service.key].hide">
                <mat-grid-tile>
                  {{ rmm.account_security.service.services_translation[service.key].name }}
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-slide-toggle
                    [(ngModel)]="rmm.account_security.service.results[service.key].is_enabled"
                    (ngModelChange)="service_toggle(rmm.account_security.service.results[service.key])"
                    >
                    {{
                    rmm.account_security.service.results[service.key] &&
                    rmm.account_security.service.results[service.key].is_enabled
                    ? 'Enabled'
                    : 'Disabled'
                    }}
                  </mat-slide-toggle>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" style="justify-content: left">
                  {{ rmm.account_security.service.services_translation[service.key].description }}
                </mat-grid-tile>
              </div>
            </div>
          </mat-grid-list>
        </div>
      </app-runbox-section>
    </mat-tab>
    <mat-tab label="App Passwords">
      <app-runbox-section size="h2">
        <div runbox-section-header>
          <h3 class="runbox-section-header">App passwords</h3>
        </div>
        <div runbox-section-content>
          <p>Here you can create app passwords for specific applications or devices. App passwords are strong passwords that replace your account password for each service.</p>
          <p>The main advantage of using app specific passwords is that you can use different passwords on each app or device. If you happen to lose a device you can immediately disable the password used by that device.</p>
          <p>App passwords work for all non-web services such as IMAP, POP, SMTP, FTP, CalDAV, and CardDAV. For example, create one password for 'Outlook on my MacBook Pro', and another password for 'My Android email client'.</p>
	  <p>For more information on these settings, please see <a href="https://help.runbox.com/account-security/#App_Passwords" target="help">App Passwords Help</a>.</p>
          <mat-grid-list cols="4" rowHeight="50px" *ngIf="rmm.account_security.app_pass.results">
            <mat-grid-tile><h4>Name</h4></mat-grid-tile>
            <mat-grid-tile><h4>Status</h4></mat-grid-tile>
            <mat-grid-tile><h4>Password</h4></mat-grid-tile>
            <mat-grid-tile><h4>Action</h4></mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="4" rowHeight="50px" *ngIf="rmm.account_security.app_pass.results">
            <div *ngFor="let result of rmm.account_security.app_pass.results">
              <mat-grid-tile>
                {{ result.name }}
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-slide-toggle
                  [(ngModel)]="result.is_enabled"
                  (ngModelChange)="app_pass_toggle(result)"
                  >
                  {{ result.is_enabled ? 'Enabled' : 'Disabled' }}
                </mat-slide-toggle>
              </mat-grid-tile>
              <mat-grid-tile>
                <span>
                  {{ 
                  rmm.account_security.app_pass.password[result.name] 
                  ? rmm.account_security.app_pass.password[result.name]
                  : '************'
                  }}
                </span>
              </mat-grid-tile>
              <mat-grid-tile>
                <span><button mat-raised-button class="primaryContentButton" type='button' (click)="app_pass_delete(result)" [disabled]="rmm.account_security.app_pass.is_busy">Delete</button></span>
              </mat-grid-tile>
            </div>
          </mat-grid-list>
        </div>
      </app-runbox-section>
      <app-runbox-section>
        <div runbox-section-header>
          <h4 class="runbox-section-header">New app password</h4>
        </div>
        <div runbox-section-content>
            <p>
              <span><strong>App password name:</strong></span>
              <mat-form-field>
		<input matInput name="app_pass_name" placeholder="Enter app/device" maxlength="64" [(ngModel)]="app_pass_name" (ngModelChange)="app_pass_name_changed()">
              </mat-form-field>
              <span><button mat-raised-button class="primaryContentButton" [disabled]="is_btn_app_pass_new_disabled || rmm.account_security.app_pass.is_busy" (click)="app_pass_create()">Submit</button></span>
              <span>Use a name so you will know which device you are using this app password on.</span>
            </p>
        </div>
      </app-runbox-section>
    </mat-tab>
    <mat-tab label="Access Control">
      <app-runbox-section>
        <div runbox-section-header>
          <h3 class="runbox-section-header">Access Control</h3>
        </div>
        <div runbox-section-content>
          <p>In this section you can review your last logins and access control lists, and manage the IP addresses that should have access to your account.</p>
          <p>We strongly recommend that you read the instructions below before making any changes, to avoid locking yourself out of your account.</p>
	  <p>For more information on these settings, please see <a href="https://help.runbox.com/account-security/#Access_Control" target="help">Access Control Help</a>.</p>
        </div>
      </app-runbox-section>
      <app-runbox-section size="h2">
        <div runbox-section-header>
          <h4 class="runbox-section-header">Last logins</h4>
        </div>
        <div runbox-section-content id="last-logins">
            <div>
              <mat-form-field>
		<mat-label>Service</mat-label>
		<mat-select name="acl_service" [(ngModel)]="acl_service">
                  <mat-option value="" selected>Any</mat-option>
                  <mat-option *ngFor="let service of rmm.account_security.service.services_translation | keyvalue" [value]="service.key">
                    {{ rmm.account_security.service.services_translation[service.key].name }}
                  </mat-option>
		</mat-select>
              </mat-form-field>
              <mat-form-field>
		<mat-label>Status</mat-label>
		<mat-select name="acl_status" [(ngModel)]="acl_status">
                  <mat-option value="" selected>Any</mat-option>
                  <mat-option value="1">Success</mat-option>
                  <mat-option value="0">Failure</mat-option>
		</mat-select>
              </mat-form-field>
              <mat-form-field>
		<mat-label>Period</mat-label>
		<mat-select name="acl_period" [(ngModel)]="acl_period">
                  <mat-option value="1h" selected>1 hour </mat-option>
                  <mat-option value="1d">1 day  </mat-option>
                  <mat-option value="7d">1 week </mat-option>
                  <mat-option value="1m">1 month</mat-option>
		</mat-select>
              </mat-form-field>
              <mat-form-field>
		<mat-label>Filter IPs</mat-label>
		<mat-select name="acl_filter_ips" [(ngModel)]="acl_filter_ips">
                  <mat-option value="">None</mat-option>
                  <mat-option value="not in" selected>Exclude IPs</mat-option>
                  <mat-option value="in">Include IPs</mat-option>
		</mat-select>
              </mat-form-field>
            </div>
            <mat-form-field>
              <input matInput name="acl_ip" placeholder="Enter IP or select from list" [(ngModel)]="acl_ip" (ngModelChange)="acl_ip_changed()">
            </mat-form-field>
            <span><button mat-raised-button class="primaryContentButton" (click)="acl_clear()" [disabled]="!is_acl_clear_enabled">Clear</button></span>
            <span><button mat-raised-button class="primaryContentButton" (click)="acl_update()" [disabled]="is_busy_list_logins">Update </button></span>
            <!-- header -->
            <mat-grid-list cols="7" rowHeight="50px" *ngIf="rmm.account_security.acl.results_logins_list">
              <mat-grid-tile><h4>Service</h4></mat-grid-tile>
              <mat-grid-tile><h4>Login</h4></mat-grid-tile>
              <mat-grid-tile><h4>IP</h4></mat-grid-tile>
              <mat-grid-tile><h4>Hostname</h4></mat-grid-tile>
              <mat-grid-tile><h4>Time</h4></mat-grid-tile>
              <mat-grid-tile><h4>Status</h4></mat-grid-tile>
              <mat-grid-tile></mat-grid-tile>
            </mat-grid-list>
            <div style='max-height: 500px; overflow-x: scroll;'>
              <div *ngIf="is_busy_list_logins" style="display: flex; justify-content: center">
		<mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
              </div>
              <mat-grid-list cols="7" rowHeight="50px" *ngIf="rmm.account_security.acl.results_logins_list">
		<div *ngFor="let result of rmm.account_security.acl.results_logins_list">
                  <mat-grid-tile>
                    {{ rmm.account_security.service.services_translation[result.service].name }}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    {{ result.login }}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    {{ result.ip }}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    {{ result.hostname || '-' }}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    {{ result.created }}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    {{ result.success === 1 ? 'success' : 'fail' }}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <span *ngIf="result.success === 0"><button mat-raised-button class="primaryContentButton" (click)="ip_always_block(result)">Always block</button></span>
                  </mat-grid-tile>
		</div>
              </mat-grid-list>
            </div>
        </div>
      </app-runbox-section>
      <app-runbox-section size="h2">
        <div runbox-section-header>
          <h4 class="runbox-section-header">Access Control List</h4>
        </div>
        <div runbox-section-content>
            <p>
              The IPs and IP ranges below indicate one or more IP addresses allowed or denied access to your account. Allowed IPs have higher priority than Denied IPs. Therefore you can allow an IP from within a range that you have otherwise denied.
            </p>
            <mat-form-field>
              <mat-label>Overwrite sub-account IP rules</mat-label>
              <mat-select name="acl_overwrite_subaccount_rules" ([ngModel])="acl_overwrite_subaccount_rules">
		<mat-option value="0" selected>No</mat-option>
		<mat-option value="1">Yes</mat-option>
              </mat-select>
            </mat-form-field>
            <span><button mat-raised-button class="primaryContentButton" (click)="acl_save()">Save</button></span>
            <p>
              Rules are valid for account(s): 
              <span class="usernames" *ngFor="let username of rmm.account_security.acl.results_accounts_affected">{{ username }}&nbsp;</span> 
            </p>
            <!-- header -->
            <mat-grid-list cols="4" rowHeight="50px" *ngIf="rmm.account_security.acl.results_rules">
              <mat-grid-tile><h4>Rule</h4></mat-grid-tile>
              <mat-grid-tile><h4>IP</h4></mat-grid-tile>
              <mat-grid-tile><h4>Label</h4></mat-grid-tile>
              <mat-grid-tile><h4>Action</h4></mat-grid-tile>
            </mat-grid-list>
            <div style='max-height: 500px; overflow-x: scroll;'>
              <mat-grid-list cols="4" rowHeight="50px" *ngIf="rmm.account_security.acl.results_rules">
		<div *ngFor="let result of rmm.account_security.acl.results_rules">
                  <mat-grid-tile>
                    {{ result.rule }}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    {{ result.ip }}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    {{ result.label }}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <button mat-raised-button class="primaryContentButton" (click)="acl_remove_rule(result)" [disabled]="rmm.account_security.acl.is_busy">Remove</button>
                  </mat-grid-tile>
		</div>
              </mat-grid-list>
            </div>
        </div>
      </app-runbox-section>
      <app-runbox-section size="h2">
        <div runbox-section-header>
          <h4 class="runbox-section-header">Manage IPs</h4>
        </div>
        <div runbox-section-content id="manage-ips">
            <p>
              Enter one specific IP (e.g. 1.2.3.4) or an IP range (e.g. 1-24.2.3.4-55 or 200.*.*.*), then choose Allow or Deny. Currently supports IPv4 only.
            </p>
            <p>
              One common type of rule is to deny *.*.*.* (all IPs) and only allow for example 12.34.56.78, which could be your own IP or the IP of an Internet connection you want access from. Be careful so that you don't lock yourself out.
            </p>
            <p>
              The rules below affect the following accounts/sub-accounts:
              <span class="usernames" *ngFor="let username of rmm.account_security.acl.results_accounts_affected">{{ username }}&nbsp;</span>
            </p>
            <mat-form-field>
              <mat-label>Rule</mat-label>
              <mat-select name="acl_manage_ip_rule" [(ngModel)]="acl_manage_ip_rule">
		<mat-option value="deny">Deny</mat-option>
		<mat-option value="allow">Allow</mat-option>
              </mat-select>
            </mat-form-field>
            IP:
            <mat-form-field>
              <input matInput name="acl_manage_ip_range" placeholder="1.22.*.44-55" [(ngModel)]="acl_manage_ip_range">
            </mat-form-field>
            Label:
            <mat-form-field>
              <input matInput name="acl_manage_ip_label" placeholder="E.g. Home IP" [(ngModel)]="acl_manage_ip_label">
            </mat-form-field>
            <span><button mat-raised-button class="primaryContentButton" (click)="acl_create_rule()" [disabled]="rmm.account_security.acl.is_busy">Submit</button></span>
        </div>
      </app-runbox-section>
      <app-runbox-section size="h2">
        <div runbox-section-header>
          <h4 class="runbox-section-header">Blocked IPs</h4>
        </div>
        <div runbox-section-content>

          <p>
            The list below shows currently blocked IP addresses for your account.
          </p>
          <p>
            The authentication service determines if a particular IP address should be allowed to access the service or whether it should be blocked from further attempts by using a set of internal rules. It also determines which IP addresses may be treated with less caution as they are your legitimate IP addresses.
          </p>
          <p>
            If you change any of your account passwords, remember to update all the devices that are connecting to your account as failed logins may lead to blocked IPs.
          </p>
          <p>
            <b>Unblock:</b> Unblocks an IP address.
          </p>
          <p>
            <b>Block permanently:</b> When this option is selected any attempt to login from this IP address will be rejected.
          </p>
          <p>
            <b>Allow permanently:</b> This option will not prevent the IP address from being blocked. Wrong passwords will fail but will not increase the failed login attempts count that leads to a blocked IP address.
          </p>

          <mat-grid-list cols="5" rowHeight="50px" *ngIf="rmm.account_security.acl.results_blocked">
            <mat-grid-tile><h4>Service</h4></mat-grid-tile>
            <mat-grid-tile><h4>IP</h4></mat-grid-tile>
            <mat-grid-tile><h4>Username</h4></mat-grid-tile>
            <mat-grid-tile><h4>Failed attempts</h4></mat-grid-tile>
            <mat-grid-tile><h4>Action</h4></mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="5" rowHeight="50px" *ngIf="rmm.account_security.acl.results_blocked">
            <div *ngFor="let result of rmm.account_security.acl.results_blocked">
              <mat-grid-tile>
                {{ rmm.account_security.service.services_translation[result.service].name }}
              </mat-grid-tile>
              <mat-grid-tile>
                {{ result.ip }}
              </mat-grid-tile>
              <mat-grid-tile>
                {{ result.login }}
              </mat-grid-tile>
              <mat-grid-tile>
                {{ result.failed_attempts }}
              </mat-grid-tile>
              <mat-grid-tile>
                <span><button mat-raised-button class="primaryContentButton" (click)="ip_unblock(result)">unblock</button></span>
                <span><button mat-raised-button class="primaryContentButton" (click)="ip_always_block(result)">always block</button></span>
                <span><button mat-raised-button class="primaryContentButton" (click)="ip_never_block(result)">never unblock</button></span>
              </mat-grid-tile>
            </div>
          </mat-grid-list>
        </div>
      </app-runbox-section>
    </mat-tab>
    <mat-tab label="Sessions">
      <app-runbox-section>
        <div runbox-section-header>
          <h3 class="runbox-section-header">Sessions</h3>
        </div>
        <div runbox-section-content>
          <p>Below you will find a list of active browser sessions for your account.</p>
	  <p>For more information on these settings, please see <a href="https://help.runbox.com/account-security/#Sessions" target="help">Sessions Help</a>.</p>
          <!-- header -->
          <mat-grid-list cols="5" rowHeight="50px" *ngIf="rmm.account_security.session.results">
            <mat-grid-tile><h4>Login time</h4></mat-grid-tile>
            <mat-grid-tile><h4>Last seen</h4></mat-grid-tile>
            <mat-grid-tile><h4>Logout time</h4></mat-grid-tile>
            <mat-grid-tile><h4>IP</h4></mat-grid-tile>
            <mat-grid-tile><h4>Browser</h4></mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="5" rowHeight="60px" *ngIf="rmm.account_security.session.results">
            <div *ngFor="let result of rmm.account_security.session.results">
              <mat-grid-tile>
                {{ result.created }}
              </mat-grid-tile>
              <mat-grid-tile>
                {{ result.updated }}
              </mat-grid-tile>
              <mat-grid-tile>
                {{ result.deleted }}
              </mat-grid-tile>
              <mat-grid-tile>
                {{ result.ip }}
              </mat-grid-tile>
              <mat-grid-tile>
                {{ result.user_agent }}
              </mat-grid-tile>
            </div>
          </mat-grid-list>
          <p style="text-align: center">
            <span>
              <button mat-raised-button class="primaryContentButton" type='button' (click)="rmm.account_security.session.list()">Refresh</button>
            </span>
          </p>
        </div>
      </app-runbox-section>
    </mat-tab>
  </mat-tab-group>
</app-runbox-container>
