<section class="mat-typography">
    <div class="container">
        <h2>Account Details</h2>
        <h3>General</h3>
        <table mat-table *ngIf="storageDetails | async as storageDetails" [dataSource]="storageDetails">
            <!-- Item Column -->
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td> UID </td>
                <td> Location </td>
                <td> Home directory </td>
                <td> Backup interval </td>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td> 12345 </td>
                <td> Oslo, Norway </td>
                <td> Home directory </td>
                <td> Backup interval </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <h3>Data Usage</h3>
        <table mat-table *ngIf="dataUsage | async as dataUsage" [dataSource]="dataUsage">
            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td class="capitalize" mat-cell *matCellDef="let data"> {{ data.type.split("_").join(" ") }} </td>
            </ng-container>

            <!-- Quota Column -->
            <ng-container matColumnDef="quota">
                <th mat-header-cell *matHeaderCellDef> Quota </th>
                <td mat-cell *matCellDef="let data">
                    <span *ngIf="(data.type === 'sent_email' || data.type === 'received_email')">
                        {{ data.details.quota }} </span>
                    <span *ngIf="!(data.type === 'sent_email' || data.type === 'received_email')">
                        {{ (((data.details.quota)/1024)/1024)/1024 }} GB </span>
                </td>
            </ng-container>

            <!-- Usage Column -->
            <ng-container matColumnDef="usage">
                <th mat-header-cell *matHeaderCellDef> Usage </th>
                <td mat-cell *matCellDef="let data">
                    <span *ngIf="(data.type === 'sent_email' || data.type === 'received_email')">
                        {{ data.details.usage ? data.details.usage : 0 }} </span>
                    <span *ngIf="!(data.type === 'sent_email' || data.type === 'received_email')">
                        {{ ((((data.details.usage ? data.details.usage : 0)/1024)/1024)/1024).toFixed(2) }} GB</span> </td>
            </ng-container>

            <!-- % used Column -->
            <ng-container matColumnDef="percentage_used">
                <th mat-header-cell *matHeaderCellDef> % used </th>
                <td mat-cell *matCellDef="let data"> {{ data.details.percentage_used.toFixed(2) }} % </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</section>
