<section class="mat-typography">
    <h1>Account Details</h1>
    <p>Account created: //ACCOUNT CREATED//</p>
    <p>We encourage you to keep the information as current as possible in case we need to contact you about your
        account.</p>

    <mat-divider></mat-divider>

    <!-- <div class="container smaller-fields">
        <p>Enter your current password to be able to change your personal information.</p>
        <form action="" class="form current-password-form">
            <mat-form-field>
                <mat-label>Current password</mat-label>
                <input matInput type="password" required>
                <mat-hint color="red">Required for all changes</mat-hint>
            </mat-form-field>
        </form>
    </div> -->

    <div class="container smaller-fields">
        <h2>Change Password</h2>
        <form action="" class="form new-password-form">
            <mat-form-field>
                <!-- TO DO:
                ADD DYNAMIC PASSWORD CHECK -->
                <mat-label>New password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <!-- TO DO:
                MAKE SURE PASSWORDS ARE THE SAME -->
                <mat-label>Confirm password</mat-label>
                <input matInput type="password">
                <mat-error>
                    Passwords do not match
                </mat-error>
            </mat-form-field>
            <div class="action-buttons password-button">
                <button mat-raised-button color="primary">Change Password</button>
            </div>
            <p><i>Your password must be 8-64 characters long, be a mix of characters, numbers, and special characters.</i></p>
        </form>
        <p>If you use an email client (Outlook, Thunderbird, etc), it may take a few minutes for the new password to
            take effect. <a href="http://help.runbox.com/usernames-and-passwords/">More information on selecting a
                password</a>.</p>
    </div>

    <div class="container">
        <form [formGroup]="detailsForm">
            <h2><strong>Personal Details</strong></h2>
            <div class="form-container form-personal">
                <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input type="text" matInput formControlName="first_name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last name</mat-label>
                    <input type="text" matInput formControlName="last_name">
                </mat-form-field>
            </div>
            <div class="form-container form-contact">
                <mat-form-field>
                    <mat-label>Alternative email address</mat-label>
                    <input type="email" matInput formControlName="email_alternative">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone number (optional)</mat-label>
                    <input type="tel" matInput formControlName="phone_number">
                </mat-form-field>
            </div>
            <h3><strong>Company information:</strong></h3>
            <div class="form-container form-company">
                <mat-form-field>
                    <mat-label>Company (optional)</mat-label>
                    <input type="text" matInput formControlName="company">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Organization number (optional)</mat-label>
                    <input type="text" matInput formControlName="org_number">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>VAT number (optional)</mat-label>
                    <input type="text" matInput matInput formControlName="vat_number">
                </mat-form-field>
            </div>
            <h3><strong>Address details:</strong></h3>
            <div class="form-container form-address">
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input type="text" matInput formControlName="street_address">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input type="text" matInput formControlName="city">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Postal/Zip code</mat-label>
                    <input type="text" matInput formControlName="postal_code">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <input type="text" matInput formControlName="country">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Time zone</mat-label>
                    <input type="text" matInput formControlName="timezone" [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let timezone of filteredTimezones | async" [value]="timezone">
                            {{ timezone }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="action-buttons">
                <button mat-raised-button color="primary" (click)="update()">Save Details</button>
            </div>
        </form>
    </div>
</section>
