mat-nav-list {
    margin-left: 2em;
}

.mat-mdc-nav-list .mat-mdc-list-item {
    font-size: 16px;
}

h4 {
    margin: 0.75em 0;
}

.mat-mdc-list-base[dense] .mat-mdc-list-item,
.mat-mdc-list-base[dense] .mat-mdc-list-option {
    height: auto;
    min-height: 30px;
}

#forumLink {
    padding: 20px;
}

#forumLink mat-icon {
    float: left;
    margin: 0 5px 30px 0;
}
