<style>
.productGrid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.productCard {
	margin: 10px;
	flex: 450px 1 1;
}
</style>

<ng-template #addonsLoading>
    <app-runbox-loading
        text="Loading available addons..."
    >
    </app-runbox-loading>
</ng-template>

<h1> Add-ons </h1>

<h2> Main account add-ons </h2>

<p> Add-ons are individual upgrades that can be added to your main account. </p>

<div class="productGrid" *ngIf="emailaddons | async as emailaddons; else addonsLoading">
    <app-account-product
        *ngFor="let p of emailaddons"
        class="productCard"
        [p]="p"
        [currency]="me.currency"
    >
    </app-account-product>
</div>

<h2> Sub-accounts </h2>

<p> Sub-accounts are additional accounts that are managed by your main account. They are ideal for companies, organizations, and families who need separate accounts with their own dedicated storage space and account settings. </p>

<p>
    To add sub-accounts that are tied to your main subscription, please select one or more sub-account products below.
</p>

<div class="productGrid" *ngIf="subaccounts | async as subaccounts; else addonsLoading">
    <app-account-product
        *ngFor="let p of subaccounts"
        class="productCard"
        [p]="p"
        [currency]="me.currency"
    >
    </app-account-product>
</div>
