<style>
#accountComponentsGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.componentCard {
    margin: 10px;
    flex: 45vw 1 0;
}

mat-card {
    min-height: 25vh !important;
    padding: 20px !important;
}

#specialOffer {
    margin: 0px auto 30px auto;
    width: 75%;
    border: 1px solid #155d97;
    padding: 0px 20px 10px 20px;
    background-color: #051a33;
    text-align: center;
}

#specialOffer h1 {
    margin: 0;
    line-height: 1.5em;
}

#specialOffer h1 {
    font-size: 50px;
    text-transform: uppercase !important;
    color: #fff;
}

#specialOffer h2, #specialOffer h3 {
    color: #fff;
    margin: 0;
}

#specialOffer p.description {
    font-size: 12px;
    color: #fff;
}

</style>

<h1> Account products </h1>

<p>
    Here you can control your account's subscription products.
</p>

<p>
    You can easily upgrade your account, renew it, or extend it with various components like sub-accounts or domain names.
</p>

<div id="specialOffer">
  <img src="/_img/index/20th_Anniversary_small.png" style="width: 500px; height: auto; margin: 50px 0 0 0;" />
  <h2>Special 20th Anniversary Offer</h2>
  <h3>During October 2020 All Runbox Products Get</h3>
  <h1><span style="font-size: 75px">2</span> YEARS FOR THE PRICE OF <span style="font-size: 75px">1</span></h1>
  <p class="description">The additional subscription time will be applied automatically upon subscribing.<br />All initial subscriptions come with a full 60-day money back guarantee.<br />Hosted domains and other third party purchases are exempt.</p>
</div>

<div id="accountComponentsGrid">
    <app-account-component-card ngClass="componentCard"
        title="Main account subscriptions"
        subtitle="Make your account more powerful by upgrading your subscription plan."
        icon="hot-tub"
        routerLink="/account/upgrades"
    >
    </app-account-component-card>

    <app-account-component-card ngClass="componentCard"
        title="Account add-ons"
        subtitle="Extend your account with add-ons such as storage space and sub-accounts."
        icon="puzzle"
        routerLink="/account/addons"
    >
    </app-account-component-card>

    <app-account-component-card ngClass="componentCard"
        title="Active products"
        subtitle="List your Runbox subscription and add-on products, and their renewals."
        icon="autorenew"
        routerLink="/account/renewals"
    >
    </app-account-component-card>

    <app-account-component-card ngClass="componentCard"
        title="Transactions"
        subtitle="View the full history of your transactions, receipts, and invoices."
        icon="poll-box"
        routerLink="/account/transactions"
    >
    </app-account-component-card>

    <app-account-component-card ngClass="componentCard"
        title="Credit cards"
        subtitle="List and edit your payment methods."
        icon="credit-card"
        routerLink="/account/credit_cards"
    >
    </app-account-component-card>
</div>
