mat-expansion-panel-header mat-icon {
    padding-right: 8px;
}
mat-expansion-panel-header span {
    vertical-align: bottom;
}

mat-list-item .mdc-list-item__primary-text,
mat-list-item .mat-mdc-list-item-title,
mat-list-item [mat-line],
mat-list-item [matListItemTitle],
mat-list-item [matListItemLine] {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto !important;
    min-height: 30px !important;
    line-height: 1.3 !important;

    span {
        white-space: normal !important;
        word-wrap: break-word;
    }
}

.account-cart-toolbar {
    width: 100%;
    display: flex;
    justify-content: right;
}

.account-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}
