<app-runbox-container>
    <nav>
        <h3 class="sideNavHeader">Settings Menu</h3>
        <mat-accordion>
            <!-- MAIL -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon svgIcon="email"></mat-icon>
                        <span>Mail</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="/account/identities">
                    <mat-icon matListItemIcon svgIcon="account-group"></mat-icon>
                    <span matListItemTitle>Identities</span>
                </mat-list-item>
                <mat-list-item routerLink="/account/aliases">
                    <mat-icon matListItemIcon svgIcon="account-circle"></mat-icon>
                    <span matListItemTitle>Email Aliases</span>
                </mat-list-item>
            </mat-expansion-panel>

            <!-- MANAGER -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon svgIcon="briefcase"></mat-icon>
                        <span>Manager</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a href="/mail/fetch" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <mat-icon matListItemIcon svgIcon="cloud-download"></mat-icon>
                        <span matListItemTitle>Retrieve</span>
                    </mat-list-item>
                </a>
                <a href="/mail/rules" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <mat-icon matListItemIcon svgIcon="filter-variant"></mat-icon>
                        <span matListItemTitle>Filter</span>
                    </mat-list-item>
                </a>
                <a href="/mail/access" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <mat-icon matListItemIcon svgIcon="download"></mat-icon>
                        <span matListItemTitle>Access</span>
                    </mat-list-item>
                </a>
            </mat-expansion-panel>

            <!-- HOSTING -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon svgIcon="cloud"></mat-icon>
                        <span>Hosting</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a href="/mail/account_domain" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <mat-icon matListItemIcon svgIcon="email"></mat-icon>
                        <span matListItemTitle>Email Hosting</span>
                    </mat-list-item>
                </a>
                <a href="/mail/account_domain_hosting" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <mat-icon matListItemIcon svgIcon="domain"></mat-icon>
                        <span matListItemTitle>Domain Hosting</span>
                    </mat-list-item>
                </a>
                <a href="/mail/account_webhosting" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <mat-icon matListItemIcon svgIcon="earth"></mat-icon>
                        <span matListItemTitle>Web Hosting</span>
                    </mat-list-item>
                </a>
            </mat-expansion-panel>

            <!-- ACCOUNT -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon svgIcon="account-cog"></mat-icon>
                        <span>Account</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="/account/details">
                    <mat-icon matListItemIcon svgIcon="face-man"></mat-icon>
                    <span matListItemTitle>Personal Details</span>
                </mat-list-item>
                <mat-list-item routerLink="/account/storage">
                    <mat-icon matListItemIcon svgIcon="view-list"></mat-icon>
                    <span matListItemTitle>Storage and Data</span>
                </mat-list-item>
                <mat-list-item routerLink="/account/preferences">
                    <mat-icon matListItemIcon svgIcon="cog"></mat-icon>
                    <span matListItemTitle>Preferences</span>
                </mat-list-item>
                <a href="/mail/account_account" target="rmm6" *ngIf="isMainAccount">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <mat-icon matListItemIcon svgIcon="account-supervisor"></mat-icon>
                        <span matListItemTitle>Sub-Accounts</span>
                    </mat-list-item>
                </a>
            </mat-expansion-panel>

            <!-- SECURITY -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon svgIcon="security"></mat-icon>
                        <span>Security</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="/account/account_password">
                    <mat-icon matListItemIcon svgIcon="form-textbox-password"></mat-icon>
                    <span matListItemTitle>Account Password</span>
                </mat-list-item>
                <mat-list-item routerLink="/account/2fa">
                    <mat-icon matListItemIcon svgIcon="cellphone-lock"></mat-icon>
                    <span matListItemTitle>Two-Factor Authentication</span>
                </mat-list-item>
                <mat-list-item routerLink="/account/app_passwords">
                    <mat-icon matListItemIcon svgIcon="lock-plus"></mat-icon>
                    <span matListItemTitle>App Passwords</span>
                </mat-list-item>
                <mat-list-item routerLink="/account/manage_services">
                    <mat-icon matListItemIcon svgIcon="tools"></mat-icon>
                    <span matListItemTitle>Manage Services</span>
                </mat-list-item>
                <!-- <mat-list-item routerLink="/account/last_logins">
                        <mat-icon matListItemIcon svgIcon="login-variant"></mat-icon>
                        <span matListItemTitle>Last Logins</span>
                    </mat-list-item> -->
                <mat-list-item routerLink="/account/sessions">
                    <mat-icon matListItemIcon svgIcon="history"></mat-icon>
                    <span matListItemTitle>Sessions</span>
                </mat-list-item>
            </mat-expansion-panel>

            <!-- SUBSCRIPTIONS -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon svgIcon="credit-card-check"></mat-icon>
                        <span>Subscriptions</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="/account/subscriptions">
                    <mat-icon matListItemIcon svgIcon="folder-star-multiple"></mat-icon>
                    <span matListItemTitle>Your Subscriptions</span>
                </mat-list-item>
                <mat-list-item routerLink="/account/plans">
                    <mat-icon matListItemIcon svgIcon="card-account-details"></mat-icon>
                    <span matListItemTitle>Plans &amp; Upgrades</span>
                </mat-list-item>
                <mat-list-item routerLink="/account/payments">
                    <mat-icon matListItemIcon svgIcon="receipt"></mat-icon>
                    <span matListItemTitle>Payment History</span>
                </mat-list-item>
                <mat-list-item routerLink="/account/payment_cards">
                    <mat-icon matListItemIcon svgIcon="credit-card"></mat-icon>
                    <span matListItemTitle>Payment Cards</span>
                </mat-list-item>
            </mat-expansion-panel>
        </mat-accordion>
    </nav>

    <ng-container toolbar *ngIf="mobileQuery.matches && cart.items | async as items">
        <div class="account-cart-toolbar">
            <button mat-mini-fab *ngIf="items.length > 0" routerLink="/account/cart"
                    [matBadge]="items.length" matBadgePosition="below before"
                    [matBadgeDescription]="items.length + ' items in cart'"
                    aria-label="Shopping cart">
                <mat-icon svgIcon="cart"></mat-icon>
            </button>
        </div>
    </ng-container>

    <div *ngIf="!mobileQuery.matches && cart.items | async as items">
        <button mat-fab id="shoppingCartButton" *ngIf="items.length > 0" matTooltip="Go to your shopping cart"
            routerLink="/account/cart" [matBadge]="items.length" matBadgePosition="below before"
            [matBadgeDescription]="items.length + ' items in cart'" aria-label="Go to your shopping cart">
            <mat-icon svgIcon="cart"></mat-icon>
        </button>
    </div>

    <div class="account-content">
        <router-outlet>
        </router-outlet>
    </div>
</app-runbox-container>
