<style>
@media(min-width: 1024px) {
    .limitedTimeOffer, .productCardSpecial {
	margin: 2% 25%;
    }
}

@media(max-width: 1023px) {
    .limitedTimeOffer, .productCardSpecial {
	margin: 2% 10%;
    }
}

@media(max-width: 813px) {
    .limitedTimeOffer, .productCardSpecial {
	margin: 2% 0;
    }
}

.limitedTimeOffer h2 {
    white-space: nowrap;
}

mat-icon.limitedTimeOffer {
    margin: 0;
    width: auto;
    border: none;
    color: primary;
    font-size: 40px;
    line-height: 12px;
}

#productGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.productCard {
    margin: 10px;
    flex: 200px 1 0;
}

.productCardSpecial {
    text-align: center;
}

</style>

<h2> Main account subscriptions </h2>

<div *ngIf="rmmapi.me | async as me; else loading">
    <p>
        <strong> Acccount: {{ me.first_name }} {{ me.last_name }} ({{ me.user_address }}) </strong>
    </p>

    <p>
      Here you can subscribe to Runbox, or change an existing subscription plan according to your needs.
    <p>
      Note: When selecting a subscription plan for your main account, please note that your current email disk usage is
      {{ (me.disk_used / 1024 / 1024 / 1024) | number:'1.2-2' }} GB.
    </p>

    <div *ngIf="(limitedTimeOffer)" class="limitedTimeOffer">
      <h2 style="margin: 20px 0 10px 0"><mat-icon class="limitedTimeOffer">star</mat-icon> Limited time offer <mat-icon class="limitedTimeOffer">star</mat-icon></h2>
      <h3 style="margin: 10px 0; font-weight: normal;">We're feeling extra generous today!</h3>
      <h4 style="margin: 20px 0 0 0">Subscribe within 24 hours of signing up and get</h4>
      <h1 style="margin: 10px 0 0 0">1 extra year for free!</h1>
      <p>This offer expires in <app-runbox-timer class="timer"></app-runbox-timer></p>
    </div>

    <div id="productGrid" *ngIf="subs_regular | async as subs_regular; else productsLoading">
      <app-account-product
        *ngFor="let p of subs_regular"
        [ngClass]="'productCard'"
        [p]="p"
        [currency]="me.currency"
        >
        <ul>
          <li *ngFor="let detail of p.details"> {{ detail }}
        </ul>
      </app-account-product>
    </div>

    <div id="productGrid" *ngIf="subs_special | async as subs_special; else productsLoading">
      <app-account-product
        *ngFor="let p of subs_special"
        [ngClass]="'productCardSpecial'"
        [p]="p"
        [currency]="me.currency"
        >
        <ul>
          <li *ngFor="let detail of p.details"> {{ detail }}
        </ul>
      </app-account-product>
    </div>

    <div style="margin-bottom: 5%; text-align: center">
        ...And don't forget to check out
        <button mat-button routerLink="/account/addons" class="contentButton">
            <mat-icon> extension </mat-icon> account addons
        </button>
	!
    </p>

    <ng-template #productsLoading>
        <app-runbox-loading
            text="Loading available plans..."
        >
        </app-runbox-loading>
    </ng-template>
</div>

<ng-template #loading>
    <div> Loading account details... </div>
</ng-template>
