mat-icon.category {
    margin: 0;
    width: 24px;
    height: auto;
    line-height: 24px;
}
mat-card {
    padding: 10px 20px;
}
mat-card a {
    color: inherit;
    text-decoration: none;
}
h3 {
    margin: 20px 0 0 0;
    font-size: 20px;
    line-height: 20px;
}
h4 {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
div.settingsRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
mat-card.settingsItem {
    display: flex;
    width: 180px;
    height: 125px;
    margin: 0 10px 10px 0;
}
mat-card.settingsItem mat-icon {
    float: left;
    margin-right: 5px;
    width: 26px;
    height: 26px;
}
div.divider {
    clear: both;
    height: 20px;
}
