mat-expansion-panel-header mat-icon {
    padding-right: 8px;
}
mat-expansion-panel-header span {
    vertical-align: bottom;
}
#shoppingCartButton {
    position: fixed;
    top: 75px;
    right: 50px;
    z-index: 10;
}
