<style>
#productGrid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.productCard {
	margin: 10px;
	flex: 45vw 1 0;
}
.productCardSpecial {
        margin: 10px;
        flex: 90vw 1 0;
        text-align: center;
}
</style>

<h2> Main account subscriptions </h2>

<div *ngIf="rmmapi.me | async as me; else loading">
    <p>
        <strong> Acccount: {{ me.first_name }} {{ me.last_name }} ({{ me.user_address }}) </strong>
    </p>

    <p>
      Here you can change your account's subscription plan.
    <p>
      Note: When selecting a subscription plan, please note that your current email disk usage is
      {{ (me.disk_used / 1024 / 1024 / 1024) | number:'1.2-2' }} GB.
    </p>

    <p>
        And don't forget to check out
        <button mat-button routerLink="/account/addons" class="contentButton">
            <mat-icon> extension </mat-icon> account addons
        </button>
	!
    </p>

    <div id="productGrid" *ngIf="subscriptions | async as subscriptions; else productsLoading">
        <app-account-product
            *ngFor="let p of subscriptions"
            [ngClass]="{'productCardSpecial' : p.subtype === 'special', 'productCard' : p.subtype !== 'special'}"
            [p]="p"
            [active_sub]="me.subscription === p.pid"
            [currency]="me.currency"
        >
            <div *ngIf="trial_with_own_domain && p.pid === MICRO_PID && ordered_micro">
                <div *ngIf="!ordered_email_hosting">
                    When using Runbox Micro with your own domain you'll need to
                    <button mat-button class="contentButton" (click)="order_email_hostng()">
                        Purchase Email Hosting for {{ email_hosting_product.price | number:'1.2-2' }} {{ currency }}
                    </button> as well.
                </div>
                <div *ngIf="ordered_email_hosting">
                    Required email hosting is in your shopping cart. You're good to go!
                </div>
            </div>
        </app-account-product>
    </div>
    <ng-template #productsLoading>
        <app-runbox-loading
            text="Loading available upgrades..."
        >
        </app-runbox-loading>
    </ng-template>
</div>

<ng-template #loading>
    <div> Loading account details... </div>
</ng-template>
