mat-card {
    height: 225px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    h4 {
        margin: 5px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    mat-card {
	    height: 200px;
    }
}

mat-card.addon {
}

mat-card-subtitle {
    margin: 0;
    font-size: 14px;
}

mat-card-subtitle {
    flex-grow: 1;
}

mat-card-content {
    margin: 0;
}

mat-card-actions {
    margin-bottom: 0px !important;

    ul {
        margin: 0;
        padding: 0 20px;
    }
    
    li {
    list-style-type: square;
    }
}

h5 {
    text-align: center;
}
