<app-runbox-container>
    <nav>
        <h3 class="sideNavHeader">Settings Menu</h3>
        <mat-accordion>
            <!-- MAIL -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="email"></mat-icon> <span>Mail</span>
                    </span>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="/account/identities">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="account-group"></mat-icon> <span>Identities</span>
                    </span>
                </mat-list-item>
                <mat-list-item routerLink="/account/aliases">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="account-circle"></mat-icon> <span>Email Aliases</span>
                    </span>
                </mat-list-item>
            </mat-expansion-panel>

            <!-- MANAGER -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="briefcase"></mat-icon> <span>Manager</span>
                    </span>
                </mat-expansion-panel-header>
                <a href="/mail/fetch" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <span matListItemTitle>
                            <mat-icon matListItemIcon svgIcon="cloud-download"></mat-icon> <span>Retrieve</span>
                        </span>
                    </mat-list-item>
                </a>
                <a href="/mail/rules" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <span matListItemTitle>
                            <mat-icon matListItemIcon svgIcon="filter-variant"></mat-icon> <span>Filter</span>
                        </span>
                    </mat-list-item>
                </a>
                <a href="/mail/access" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <span matListItemTitle>
                            <mat-icon matListItemIcon svgIcon="download"></mat-icon> <span>Access</span>
                        </span>
                    </mat-list-item>
                </a>
            </mat-expansion-panel>

            <!-- HOSTING -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="cloud"></mat-icon> <span>Hosting</span>
                    </span>
                </mat-expansion-panel-header>
                <a href="/mail/account_domain" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <span matListItemTitle>
                            <mat-icon matListItemIcon svgIcon="email"></mat-icon> <span>Email Hosting</span>
                        </span>
                    </mat-list-item>
                </a>
                <a href="/mail/account_domain_hosting" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <span matListItemTitle>
                            <mat-icon matListItemIcon svgIcon="domain"></mat-icon> <span>Domain Hosting</span>
                        </span>
                    </mat-list-item>
                </a>
                <a href="/mail/account_webhosting" target="rmm6">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <span matListItemTitle>
                            <mat-icon matListItemIcon svgIcon="earth"></mat-icon> <span>Web Hosting</span>
                        </span>
                    </mat-list-item>
                </a>
            </mat-expansion-panel>

            <!-- ACCOUNT -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="account-cog"></mat-icon> <span>Account</span>
                    </span>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="/account/details">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="face-man"></mat-icon> <span>Personal Details</span>
                    </span>
                </mat-list-item>
                <mat-list-item routerLink="/account/storage">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="view-list"></mat-icon> <span>Storage and Data</span>
                    </span>
                </mat-list-item>
                <mat-list-item routerLink="/account/preferences">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="cog"></mat-icon> <span>Preferences</span>
                    </span>
                </mat-list-item>
                <a href="/mail/account_account" target="rmm6" *ngIf="isMainAccount">
                    <mat-list-item [matTooltip]="rmm6tooltip">
                        <span matListItemTitle>
                            <mat-icon matListItemIcon svgIcon="account-supervisor"></mat-icon> <span>Sub-Accounts</span>
                        </span>
                    </mat-list-item>
                </a>
            </mat-expansion-panel>

            <!-- SECURITY -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="security"></mat-icon> <span>Security</span>
                    </span>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="/account/account_password">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="form-textbox-password"></mat-icon> <span>Account
                            Password</span>
                    </span>
                </mat-list-item>
                <mat-list-item routerLink="/account/2fa">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="cellphone-lock"></mat-icon> <span>Two-Factor
                            Authentication</span>
                    </span>
                </mat-list-item>
                <mat-list-item routerLink="/account/app_passwords">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="lock-plus"></mat-icon> <span>App Passwords</span>
                    </span>
                </mat-list-item>
                <mat-list-item routerLink="/account/manage_services">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="tools"></mat-icon> <span>Manage Services</span>
                    </span>
                </mat-list-item>
                <!-- <mat-list-item routerLink="/account/last_logins">
                        <span matListItemTitle>
                            <mat-icon matListItemIcon svgIcon="login-variant"></mat-icon> <span>Last Logins</span>
                        </span>
                    </mat-list-item> -->
                <mat-list-item routerLink="/account/sessions">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="history"></mat-icon> <span>Sessions</span>
                    </span>
                </mat-list-item>
            </mat-expansion-panel>

            <!-- SUBSCRIPTIONS -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="credit-card-check"></mat-icon> <span>Subscriptions</span>
                    </span>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="/account/subscriptions">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="folder-star-multiple"></mat-icon> <span>Your
                            Subscriptions</span>
                    </span>
                </mat-list-item>
                <mat-list-item routerLink="/account/plans">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="card-account-details"></mat-icon> <span>Plans &
                            Upgrades</span>
                    </span>
                </mat-list-item>
                <mat-list-item routerLink="/account/payments">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="receipt"></mat-icon> <span>Payment History</span>
                    </span>
                </mat-list-item>
                <mat-list-item routerLink="/account/payment_cards">
                    <span matListItemTitle>
                        <mat-icon matListItemIcon svgIcon="credit-card"></mat-icon> <span>Payment Cards</span>
                    </span>
                </mat-list-item>
            </mat-expansion-panel>
        </mat-accordion>
    </nav>

    <ng-container toolbar *ngIf="mobileQuery.matches && cart.items | async as items">
        <div style="width: 100%; display: flex; justify-content: right">
            <button mat-mini-fab *ngIf="items.length > 0" routerLink="/account/cart">
                <mat-icon [matBadge]="items.length" matBadgePosition="below before" svgIcon="cart">
                </mat-icon>
            </button>
        </div>
    </ng-container>

    <div *ngIf="!mobileQuery.matches && cart.items | async as items">
        <button mat-fab id="shoppingCartButton" *ngIf="items.length > 0" matTooltip="Go to your shopping cart"
            routerLink="/account/cart">
            <mat-icon [matBadge]="items.length" matBadgePosition="below before" svgIcon="cart">
            </mat-icon>
        </button>
    </div>

    <div style="padding-left: 25px; padding-right: 25px; padding-top: 10px">
        <router-outlet>
        </router-outlet>
    </div>
</app-runbox-container>
