<style>
#productGrid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.productCard {
	margin: 10px;
	flex: 450px 1 0;
}
</style>

<h2> Account upgrades </h2>

<div *ngIf="rmmapi.me | async as me; else loading">
    <p>
        <strong> Acccount: {{ me.first_name }} {{ me.last_name }} ({{ me.user_address }}) </strong>
    </p>

    <p>
      Here you can upgrade your account's subscription plan.
    <p>
        Note: When selecting a subscription plan, please note that your current email disk usage is
        {{ (me.disk_used / 1024 / 1024 / 1024) | number:'1.2-2' }} GB.
    </p>

    <p>
        Don't forget to check out
        <button mat-button routerLink="/account/addons" class="contentButton">
            <mat-icon> extension </mat-icon> account addons
        </button>
    </p>

    <div id="productGrid">
        <app-account-product
            *ngFor="let p of subscriptions"
            class="productCard"
            [p]="p"
            [currency]="me.currency"
        >
            <ul>
                <li *ngFor="let detail of p.details"> {{ detail }}
            </ul>
        </app-account-product>
    </div>
</div>

<ng-template #loading>
    <div> Loading account details... </div>
</ng-template>
