<style>
.productGrid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.productCard {
	margin: 10px;
	flex: 600px 1 0;
}
</style>

<h1> Sub-accounts </h1>

<p> Some blurb about why this is cool </p>

<p>
    For additional accounts tied to your main subscription, please select a number of sub-accounts below
</p>

<div class="productGrid">
    <app-account-product
        *ngFor="let p of subaccounts"
        class="productCard"
        [p]="p"
        [currency]="me.currency"
    >
    </app-account-product>
</div>

<h1> Email add-ons </h1>

<p> Some blurb about why this is cool </p>

<div class="productGrid">
    <app-account-product
        *ngFor="let p of emailaddons"
        class="productCard"
        [p]="p"
        [currency]="me.currency"
    >
    </app-account-product>
</div>

<h3> Web & Domain Hosting add-ons </h3>

<p> Some blurb about why this is cool </p>

<div class="productGrid">
    <app-account-product
        *ngFor="let p of hostingaddons"
        class="productCard"
        [p]="p"
        [currency]="me.currency"
    >
    </app-account-product>
</div>
