<style>
  mat-icon.category {
      margin: 0;
      width: 24px;
      height: auto;
      line-height: 24px;
  }
  mat-card a {
      color: inherit;
      text-decoration: none;
  }
  h3 {
      margin: 0;
      font-size: 15px;
      line-height: 20px;
  }
  h4 {
      margin: 0;
      font-size: 18px;
  }
  div.settingsRow {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  mat-card.settingsItem {
      display: flex;
      width: 160px;
      height: 130px;
      margin: 0 10px 10px 0;
  }
  mat-card.settingsItem {
      border: 2px solid #f4f4f4;
  }
  mat-card.settingsItem:hover {
      border: 2px solid lightblue;
  }
  mat-card.settingsItem mat-icon {
      margin-right: 5px;
      width: 26px;
      height: auto;
      line-height: 14px;
  }
  div.divider {
      clear: both;
      height: 20px;
  }
</style>

<section class="mat-typography">
  <h1>Account Settings</h1>

  <div>
    <h4 class="themePaletteBlack">
      <mat-icon svgIcon="email" class="category"></mat-icon> Mail
    </h4>
    <p>Settings that control the Mail interface.</p>
  </div>
  <div class="settingsRow">
    <mat-card class="settingsItem">
      <a routerLink="/account/identities">
        <h3>
          <mat-icon svgIcon="account-group"></mat-icon> <strong>Identities</strong>
        </h3>
        <p>Set up and manage alternative email addresses that deliver email to your account.</p>
      </a>
    </mat-card>
  </div>

  <div class="divider"></div>

  <div>
    <h4 class="themePaletteBlack">
      <mat-icon svgIcon="briefcase" class="category"></mat-icon> Manager
    </h4>
    <p>With Manager you can easily import, filter, and forward your email as it "falls" through each level.</p>
  </div>
  <div class="settingsRow">
    <mat-card class="settingsItem">
      <a href="/mail/fetch" target="rmm6" [matTooltip]="rmm6tooltip">
        <h3>
          <mat-icon svgIcon="cloud-download"></mat-icon> <strong>Retrieve</strong>
        </h3>
        <p>Lets you import email from external accounts into your Runbox account.</p>
      </a>
    </mat-card>
    <mat-card class="settingsItem">
      <a href="/mail/rules" target="rmm6" [matTooltip]="rmm6tooltip">
        <h3>
          <mat-icon svgIcon="filter-variant"></mat-icon> <strong>Filter</strong>
        </h3>
        <p>Configure spam and virus filters, set up an autoreply, and sort incoming email.</p>
      </a>
    </mat-card>
    <mat-card class="settingsItem">
      <a href="/mail/access" target="rmm6" [matTooltip]="rmm6tooltip">
        <h3>
          <mat-icon svgIcon="download"></mat-icon> <strong>Access</strong>
        </h3>
        <p>Shows you how to access all the email stored on the server.</p>
      </a>
    </mat-card>
  </div>

  <div class="divider"></div>

  <div>
    <h4 class="themePaletteBlack">
      <mat-icon svgIcon="cloud" class="category"></mat-icon> Hosting
    </h4>
    <p>Settings for email, domain, and web hosting.</p>
  </div>
  <div class="settingsRow">
    <mat-card class="settingsItem">
      <a href="/mail/account_domain" target="rmm6" [matTooltip]="rmm6tooltip">
        <h3>
          <mat-icon svgIcon="email"></mat-icon> <strong>Email Hosting</strong>
        </h3>
        <p>Set up your Runbox account to handle email for your domain.</p>
      </a>
    </mat-card>
    <mat-card class="settingsItem">
      <a href="/mail/account_domain_hosting" target="rmm6" [matTooltip]="rmm6tooltip">
        <h3>
          <mat-icon svgIcon="domain"></mat-icon> <strong>Domain Hosting</strong>
        </h3>
        <p>Manage domain names that you can use with Email Web Hosting services.</p>
      </a>
    </mat-card>
    <mat-card class="settingsItem">
      <a href="/mail/account_webhosting" target="rmm6" [matTooltip]="rmm6tooltip">
        <h3>
          <mat-icon svgIcon="earth"></mat-icon> <strong>Web Hosting</strong>
        </h3>
        <p>Manage your Runbox Web Hosting accounts.</p>
      </a>
    </mat-card>
  </div>

  <div class="divider"></div>

  <div>
    <h4 class="themePaletteBlack">
      <mat-icon svgIcon="account-cog" class="category"></mat-icon> Account & Security
    </h4>
    <p>Configure settings for your account and its security.</p>
  </div>
  <div class="settingsRow">
    <mat-card class="settingsItem">
      <a href="/mail/account" target="rmm6" [matTooltip]="rmm6tooltip">
        <h3>
          <mat-icon svgIcon="account-details"></mat-icon> <strong>Account Details</strong>
        </h3>
        <p>View and update your personal and account data.</p>
      </a>
    </mat-card>
    <mat-card class="settingsItem">
      <a routerLink="/account/security">
        <h3>
          <mat-icon svgIcon="security"></mat-icon> <strong>Security</strong>
        </h3>
        <p>Manage your account's security settings.</p>
      </a>
    </mat-card>
  </div>

  <div class="divider"></div>

  <div>
    <h4 class="themePaletteBlack">
      <mat-icon svgIcon="credit-card-check" class="category"></mat-icon> Subscriptions & Payments
    </h4>
    <p>Manage your subscriptions and transactions.</p>
  </div>
  <div class="settingsRow">
    <mat-card class="settingsItem">
      <a routerLink="/account/subscriptions">
        <h3>
          <mat-icon svgIcon="folder-star-multiple"></mat-icon> <strong>Your Subscriptions</strong>
        </h3>
        <p>Show all active products in your account, and renew any of them at any time.</p>
      </a>
    </mat-card>
    <mat-card class="settingsItem">
      <a routerLink="/account/plans">
        <h3>
          <mat-icon svgIcon="table-account"></mat-icon> <strong>Plans & Upgrades</strong>
        </h3>
        <p>Subscribe to Runbox or change an existing subscription plan.</p>
      </a>
    </mat-card>
    <mat-card class="settingsItem">
      <a routerLink="/account/payments">
        <h3>
          <mat-icon svgIcon="receipt"></mat-icon> <strong>Payment History</strong>
        </h3>
        <p>List all your payment transactions and show your receipts.</p>
      </a>
    </mat-card>
    <mat-card class="settingsItem">
      <a routerLink="/account/credit_cards">
        <h3>
          <mat-icon svgIcon="credit-card"></mat-icon> <strong>Payment Cards</strong>
        </h3>
        <p>Show the details of your payment cards, and add or remove cards.</p>
      </a>
    </mat-card>
  </div>

  <div class="divider"></div>

  <p>
    <mat-icon mat-list-icon svgIcon="help"></mat-icon> Need to know more about settings? See our <a
      href="https://help.runbox.com/documentation/" target="help">documentation</a> for more information.
  </p>
  <br>
</section>
