<h1> Active products </h1>

<div *ngIf="active_products.length === 0; else productsTable">
    <app-runbox-loading
        text="Loading your products..."
    >
    </app-runbox-loading>
</div>

<ng-template #productsTable>

<p>
  Here you can see all the active products in your account, and renew any of them at any time.
</p>

<table mat-table [dataSource]="active_products" [ngStyle]="{ width: '100%' }">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let p">
            {{ p.name }}
            <strong *ngIf="p.pid === current_subscription"> – your current subscription </strong>
        </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let p"> {{ p.quantity }} </td>
    </ng-container>
    <ng-container matColumnDef="active_from">
        <th mat-header-cell *matHeaderCellDef> Active from </th>
        <td mat-cell *matCellDef="let p">
            {{ p.active_from.format('YYYY-MM-DD') }}
        </td>
    </ng-container>
    <ng-container matColumnDef="active_until">
        <th mat-header-cell *matHeaderCellDef> Active until </th>
        <td mat-cell *matCellDef="let p">
            {{ p.active_until.format('YYYY-MM-DD') }}
        </td>
    </ng-container>
    <ng-container matColumnDef="hints">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let p">
            <strong *ngIf="p.expired">
                (expired {{ p.active_until.fromNow() }})
            </strong>
            <mat-error *ngIf="p.expires_soon" style="font-weight: bold;">
                (expires {{ p.active_until.fromNow() }})
            </mat-error>
        </td>
    </ng-container>
    <ng-container matColumnDef="recur">
        <th mat-header-cell *matHeaderCellDef> Auto renewal </th>
        <td mat-cell *matCellDef="let p">
            <span *ngIf="p.can_renew; else renewNA">
                <mat-checkbox *ngIf="!p.changingAutorenew"
                    [checked]="p.active"
                    (change)="toggleAutorenew(p)">
                    {{ p.active ? 'Yes' : 'No' }}
                </mat-checkbox>
                <app-runbox-loading *ngIf="p.changingAutorenew"
                    size="tiny"
                    text="{{ p.active ? 'Disabling' : 'Enabling' }}"
                >
                </app-runbox-loading>
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="renew">
        <th mat-header-cell *matHeaderCellDef> Renew now </th>
        <td mat-cell *matCellDef="let p">
            <span *ngIf="p.can_renew; else renewNA">
                <button mat-button (click)="renew(p)" *ngIf="!p.ordered" class="contentButton">
                    Renew <mat-icon svgIcon="cart"></mat-icon>
                </button>
                <span *ngIf="p.ordered">
                    Added to shopping cart
                </span>
            </span>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name', 'quantity', 'active_from', 'active_until', 'hints', 'recur', 'renew']">
    <tr mat-row        *matRowDef="let row; columns: ['name', 'quantity', 'active_from', 'active_until', 'hints', 'recur', 'renew'];"></tr>
</table>

</ng-template>

<ng-template #renewNA>
    N/A
</ng-template>
