<style>
mat-card {
        min-height: 150px;
}
</style>

<mat-card>
    <mat-card-title>
        <mat-icon *ngIf="p.subtype === 'special'"> stars </mat-icon>
        <span *ngIf="p.subtype === 'special'"> Special offer: </span>{{ p.name }}
        <strong *ngIf="active"> – your current {{ p.type }} </strong>
        <mat-icon *ngIf="p.subtype === 'special'"> stars </mat-icon>
    </mat-card-title>
    <mat-card-subtitle>
        {{ p.description }}
    </mat-card-subtitle>
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: center;" *ngIf="p.type === 'subscription'">
        <button mat-button (click)="order()" class="contentButton">
            Purchase for {{ p.price }} {{ currency }}
        </button>
    </mat-card-actions>
    <mat-card-actions style="display: flex; justify-content: center; align-content: baseline;" *ngIf="p.type === 'addon'">
        <button mat-icon-button (click)="less()">
            <mat-icon> remove_circle_outline </mat-icon>
        </button>
        <button mat-button>
            {{ quantity }}
        </button>
        <button mat-icon-button (click)="more()">
            <mat-icon> add_circle_outline </mat-icon>
        </button>
        <button mat-button (click)="order()" class="contentButton" style="margin-left: 20px !important">
            Purchase for {{ quantity * p.price | number:'1.2-2' }} {{ currency }}
        </button>
    </mat-card-actions>
</mat-card>
