tr.detailsRow {
    height: 0;
}

tr.regularRow td {
    border-bottom-width: 0;
}

div.expandedDetails {
    overflow: hidden;
    display: flex;
}

table.detailsTable {
    width: 100%;
}

table.detailsTable tr td:first-of-type {
    font-weight: bold;
}

table.detailsTable tr td:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
}
