<h1>Email Aliases</h1>
<div>
    <p>
      Here you can set up and configure aliases for your main Runbox account.
    </p>
    
    <p>
      An alias can be another Runbox address or an address on your own domain, if you have any set up under Email Domains. Please allow up to 5 minutes for new aliases to propagate throughout the Runbox servers before using them, and please avoid aliases that could be perceived to be official Runbox administrative addresses (they may be deleted without prior notice).
    </p>

    <p>
      Note: Avoid aliases that could be perceived to be official Runbox addresses or ones used by other companies or individuals, as they may be deleted without prior notice.
    </p>
    <p>
      Runbox addresses are currently synonymous for the domains:
    </p>
</div>

<div class="aliases-lister">
  <button 
    id="create-new-alias"
    (click)="create()"
    color='primary'
    mat-raised-button
    >
    Create new alias
  </button>

        <ng-content select="[section-header]" style="margin-top: 20px;"></ng-content>
        <ng-content select="[section-description]"></ng-content>
        <ng-content select="[section-buttons]"></ng-content>
        <form *ngFor="let item of aliases; let i = index;">
            <div style='width: 100%'>
                <mat-divider *ngIf="i > 0"></mat-divider>

                <mat-form-field class="alias" style="margin: 10px;">
                    <input
                        matInput
                        placeholder="Alias"
                        readonly="true"
                        [value]="item.localpart + '@' + item.domain"
                    >
                </mat-form-field>

                <mat-form-field class="forward_to" style="margin: 10px;">
                    <input
                        matInput
                        placeholder="Deliver to Account"
                        readonly="true"
                        [value]="item.forward_to"
                    >
                </mat-form-field>
                <button
                    (click)="edit(item)"
                    id="edit-alias"
                    color='primary'
                    mat-raised-button
                    style="margin: 10px;"
                >
                    Edit
                </button>

                <button
                    (click)="delete(item)"
                    id="delete-alias"
                    color='primary'
                    mat-raised-button
                    style="margin: 10px;"
                >
                    Delete
                </button>
            </div>
            <mat-divider class='transparent'></mat-divider>
        </form>
    </div>
