<ng-template #dayViewTemplate let-day="day" let-locale="locale">
    <div class="calendarMonthDayView">
        <div class="cal-cell-top">
            <span class="cal-day-number">
                {{ day.date | calendarDate:'monthViewDayNumber':locale }}
            </span>
            <div style="display: flex; flex-direction: column;">
                <div class="add-new-event">
                    <button mat-icon-button color="primary" (click)="addEvent(day.date); $event.stopPropagation()"> <mat-icon style="transform: scale(1.5);" svgIcon="plus-circle"> </mat-icon> </button>
                </div>
                <button mat-button class="calendarMonthDayEvent"
                    *ngFor="let event of (day.events.length > 4 ? day.events.slice(0, 3) : day.events)"
                    (click)="openEvent(event); $event.stopPropagation()"
                >
                    <strong *ngIf="!event.allDay && event.start.getDay() == day.date.getDay()">
                        {{ event.start.getHours() }}:{{ ('0' + event.start.getMinutes()).slice(-2) }}
                    </strong>
                    {{ event.title }}
                </button>
                <button mat-button *ngIf="day.events.length > 4" class="calendarMonthDayEvent">
                    ...and {{ day.events.length - 3 }} other events
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #viewModeButtons>
    <button mat-raised-button
        class="calendarToolbarButton"
        (click)="setView(RunboxCalendarView.Overview)"
        [color]="view === RunboxCalendarView.Overview ? 'primary' : ''"
    >
        Overview
    </button>
    <button mat-raised-button
        class="calendarToolbarButton"
        (click)="setView(RunboxCalendarView.Month)"
        [color]="view === RunboxCalendarView.Month ? 'primary' : ''"
    >
        Month
    </button>
    <button mat-raised-button
        class="calendarToolbarButton"
        (click)="setView(RunboxCalendarView.Week)"
        [color]="view === RunboxCalendarView.Week ? 'primary' : ''"
    >
        Week
    </button>
    <button mat-raised-button
        class="calendarToolbarButton"
        (click)="setView(RunboxCalendarView.Day)"
        [color]="view === RunboxCalendarView.Day ? 'primary' : ''"
    >
        Day
    </button>
</ng-template>

<ng-template #previousPeriodButton>
    <button mat-raised-button mwlCalendarPreviousView
        *ngIf="view !== RunboxCalendarView.Overview"
        id="previousPeriodButton"
        class="calendarToolbarButton"
        [view]="mwlView"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
    >
        <mat-icon *ngIf="mobileQuery.matches; else desktopPrevious" svgIcon="chevron-left">
        </mat-icon>
        <ng-template #desktopPrevious>
            Previous
        </ng-template>
    </button>
</ng-template>

<ng-template #nextPeriodButton>
    <button mat-raised-button
        *ngIf="view !== RunboxCalendarView.Overview"
        id="nextPeriodButton"
        class="calendarToolbarButton"
        mwlCalendarNextView
        [view]="mwlView"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
    >
        <mat-icon *ngIf="mobileQuery.matches; else desktopNext" svgIcon="chevron-right">
        </mat-icon>
        <ng-template #desktopNext>
            Next
        </ng-template>
    </button>
</ng-template>

<ng-template #calendarTitle>
    <span class="calendarTitle">
        {{ mwlView ? (viewDate | calendarDate:(mwlView + 'ViewTitle'):'en') : 'Overview' }}
    </span>
</ng-template>

<mat-sidenav-container autosize>
    <mat-sidenav #sidemenu
        [opened]="sideMenuOpened"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="0"
        id="sideMenu"
        style="width: 330px"
    >
        <mat-nav-list dense>
            <app-sidenav-menu (closeMenu)="sideMenu.close()"></app-sidenav-menu>

            <div class="sidenavSubMenu" *ngIf="mobileQuery.matches">
                <ng-container *ngTemplateOutlet="viewModeButtons"></ng-container>
            </div>

            <mat-list-item id="addEventButton" mat-button (click)="addEvent()" class="calendarMenuButton">
                <mat-icon mat-list-icon svgIcon="plus"></mat-icon>
                <p mat-line>Add event</p>
            </mat-list-item>

            <mat-list-item (click)="importEventClicked()" class="calendarMenuButton">
                <input #icsUploadInput accept="text/calendar,.ics" type="file" [hidden]="true" multiple (change)="onIcsUploaded($event)" />
                <mat-icon mat-list-icon svgIcon="swap-vertical"></mat-icon>
                <p mat-line>Import event</p>
            </mat-list-item>

            <mat-list-item mat-button (click)="openSettings()" class="calendarMenuButton">
                <mat-icon mat-list-icon svgIcon="cog"></mat-icon>
                <p mat-line>Settings</p>
            </mat-list-item>

            <mat-divider></mat-divider>

            <div class="calendarsSideHeader">
                <span>Calendars</span>
                <button mat-icon-button id="createCalendarButton" matTooltip="New calendar..." (click)="showAddCalendarDialog()">
                    <mat-icon svgIcon="plus"></mat-icon>
                </button>
            </div>

            <mat-list-item *ngIf="calendars.length === 0">
                Loading calendars...
            </mat-list-item>

            <mat-list-item class="calendarListItem" *ngFor="let calendar of calendars">
                <mat-icon mat-list-icon class="calendarColorLabel" [ngStyle]="{ 'color': calendar.color || '#1e90ff' }" svgIcon="label">
                </mat-icon>
                <p mat-line>
                    {{ calendar.displayname || calendar.id }}
                </p>
                <button mat-icon-button class="calendarToggleButton"
                    matTooltip="Show/hide this calendar"
                    (click)="toggleCalendar(calendar.id)"
                >
                    <mat-icon svgIcon="{{ calendarVisibility[calendar.id] ? 'eye' : 'eye-off' }}"> </mat-icon>
                </button>
                <button mat-icon-button class="calendarEditButton"
                    matTooltip="Edit this calendar"
                    (click)="editCalendar(calendar.id)"
                >
                    <mat-icon svgIcon="pencil"></mat-icon>
                </button>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item (click)="calendarservice.syncCaldav(true)" class="calendarMenuButton">
                <mat-icon mat-list-icon svgIcon="refresh"></mat-icon> 
                <p mat-line>Synchronize calendars</p>
            </mat-list-item>

            <mat-list-item *ngIf="calendarservice.lastUpdate" class="updateInfo">
                Last update: {{ calendarservice.lastUpdate.fromNow() }}
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <app-activity-indicator
                    [activities]="calendarservice.activities.observable"
                ></app-activity-indicator>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button (click)="sidemenu.toggle()">
                <mat-icon svgIcon="menu"></mat-icon>
            </button>

            <div *ngIf="!mobileQuery.matches; else mobileHeader">
                <ng-container *ngTemplateOutlet="previousPeriodButton">
                </ng-container>
                <button mat-raised-button mwlCalendarToday
                    *ngIf="view !== RunboxCalendarView.Overview"
                    id="todayButton"
                    class="calendarToolbarButton"
                    [(viewDate)]="viewDate"
                >
                    Today
                </button>
                <ng-container *ngTemplateOutlet="nextPeriodButton">
                </ng-container>

                <ng-container *ngTemplateOutlet="calendarTitle">
                </ng-container>

                <ng-container *ngTemplateOutlet="viewModeButtons"></ng-container>
            </div>

            <ng-template #mobileHeader>
                <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                    <ng-container *ngTemplateOutlet="previousPeriodButton">
                    </ng-container>

                    <ng-container *ngTemplateOutlet="calendarTitle">
                    </ng-container>

                    <ng-container *ngTemplateOutlet="nextPeriodButton">
                    </ng-container>
                </div>
            </ng-template>
        </mat-toolbar>

        <div [ngSwitch]="view">
          <app-calendar-overview
            *ngSwitchCase="RunboxCalendarView.Overview"
            [events]="shown_events"
            [refresh]="refresh"
            (editEvent)="openEvent($event)"
          >
          </app-calendar-overview>
          <mwl-calendar-month-view
            *ngSwitchCase="RunboxCalendarView.Month"
            [cellTemplate]="mobileQuery.matches ? undefined : dayViewTemplate"
            [viewDate]="viewDate"
            [events]="shown_events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            [weekStartsOn]="settings.weekStartsOnSunday ? 0 : 1"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="openEvent($event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (beforeViewRender)="beforeViewRender($event)"
          >
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="RunboxCalendarView.Week"
            [viewDate]="viewDate"
            [events]="shown_events"
            [refresh]="refresh"
            [weekStartsOn]="settings.weekStartsOnSunday ? 0 : 1"
            (eventClicked)="openEvent($event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (beforeViewRender)="beforeViewRender($event)"
          >
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="RunboxCalendarView.Day"
            [viewDate]="viewDate"
            [events]="shown_events"
            [refresh]="refresh"
            (eventClicked)="openEvent($event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (beforeViewRender)="beforeViewRender($event)"
          >
          </mwl-calendar-day-view>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
