.calendarsSideHeader {
    font-weight: bold;
    display: flex;
    align-items: center;

    span {
        padding: 16px;
        flex-grow: 1;
    }
}

.calendarMenuButton {
    mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px !important;
    }
}

.updateInfo {
    &:hover {
        background-color: #fff;
        cursor: default;
    }
}

#addCalendarButton {
    font-weight: bold !important;
    p {
        padding: 16px;
    }
}

@media(min-width: 1025px) {
    .calendarToolbar {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    :host ::ng-deep {
        .cal-month-view .cal-header,
        .cal-week-view .cal-day-headers {
            background-color: #fff;
            position: sticky;
            top: 64px;
            z-index: 9;
        }
    }
}
