<h1 mat-dialog-title>{{ event.title || "New event" }}</h1>
<div mat-dialog-content>
    <style>
        .mat-form-field {
            width: 100%;
        }
    </style>
    <p>
        <mat-form-field>
            <input matInput type="text" placeholder="Title" [(ngModel)]="event.title">
        </mat-form-field>
    </p><p>
        <mat-form-field>
            <input matInput type="text" placeholder="Location" [(ngModel)]="event.location">
        </mat-form-field>
    </p><p>
        <mat-form-field>
            <textarea matInput placeholder="Description" [(ngModel)]="event.description"></textarea>
        </mat-form-field>
    </p><p>
        <mat-form-field>
            <mat-label> Calendar </mat-label>
            <mat-select placeholder="Calendar" [formControl]="calendarFC" required>
                <mat-option *ngFor="let calendar of calendars" [value]="calendar.id">
                    {{ calendar.toString() }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="calendarFC.hasError('required')">You must pick a calendar</mat-error>
        </mat-form-field>
    </p><p>
        <label class="calendarEventPeriodLabel">Start: </label>
        <input [(ngModel)]="event.start"
               [owlDateTimeTrigger]="start_dt" [owlDateTime]="start_dt">
        <owl-date-time
            #start_dt
            [pickerType]="event.allDay ? 'calendar' : 'both'"
        ></owl-date-time>
    </p><p>
        <label class="calendarEventPeriodLabel">End: </label>
        <input [(ngModel)]="event.end"
               [owlDateTimeTrigger]="end_dt" [owlDateTime]="end_dt">
        <owl-date-time
            #end_dt
            [pickerType]="event.allDay ? 'calendar' : 'both'"
        ></owl-date-time>
    </p><p>
        <mat-checkbox [(ngModel)]="event.allDay">All-day event</mat-checkbox>
    </p><p>
        <mat-form-field style="margin-top: 10px;">
            <mat-label> Recurring </mat-label>
            <mat-select placeholder="Recurring" [(ngModel)]="recurring_frequency">
                <mat-option *ngFor="let freq of recurrence_frequencies" [value]="freq.val">
                    {{ freq.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p><p>
        <a *ngIf="export_url"
            [href]="export_url"
            mat-button>
            <mat-icon> import_export </mat-icon> Export this event
        </a>
    </p>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button *ngIf="event.id"
            mat-raised-button color="warn"
            (click)="onDeleteClick()">Delete this event</button>

    <button mat-button
            (click)="onCancelClick()">Cancel</button>

    <button id="eventSubmitButton" mat-raised-button color="primary"
            (click)="onSubmitClick()">
        <span *ngIf="event.id">  Update </span>
        <span *ngIf="!event.id"> Create </span>
    </button>

</div>
