<h1 mat-dialog-title>{{ event_title || "New event" }}</h1>
<section mat-dialog-content style="max-width: 500px; box-sizing: border-box;">
  <mat-tab-group>
    <mat-tab label="Details">
    <style>
        .mat-form-field {
            width: 100%;
        }
    </style>
    <p>
        <mat-form-field>
            <input matInput type="text" placeholder="Title" [(ngModel)]="event_title">
        </mat-form-field>
    </p><p>
        <mat-form-field>
            <input matInput type="text" placeholder="Location" [(ngModel)]="event_location">
        </mat-form-field>
    </p><p>
        <mat-form-field>
            <textarea matInput placeholder="Description" [(ngModel)]="event_description"></textarea>
        </mat-form-field>
    </p><p>
        <mat-form-field>
            <mat-label> Calendar </mat-label>
            <mat-select placeholder="Calendar" [formControl]="calendarFC" required>
                <mat-option *ngFor="let calendar of calendars" [value]="calendar.id">
                    {{ calendar.toString() }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="calendarFC.hasError('required')">You must pick a calendar</mat-error>
        </mat-form-field>
    </p><p>
        <label class="calendarEventPeriodLabel">Start: </label>
        <input (ngModelChange)="updateStart($event)"
               [(ngModel)]="event_start"
               [owlDateTimeTrigger]="start_dt" [owlDateTime]="start_dt">
        <owl-date-time
            #start_dt
            [pickerType]="event_allDay ? 'calendar' : 'both'"
            pickerMode="dialog"
            [firstDayOfWeek]="settings.weekStartsOnSunday ? 0 : 1"
        ></owl-date-time>
    </p><p>
        <label class="calendarEventPeriodLabel">End: </label>
        <input [(ngModel)]="event_end"
               [owlDateTimeTrigger]="end_dt" [owlDateTime]="end_dt">
        <owl-date-time
            #end_dt
            [pickerType]="event_allDay ? 'calendar' : 'both'"
            pickerMode="dialog"
            [firstDayOfWeek]="settings.weekStartsOnSunday ? 0 : 1"
        ></owl-date-time>
    </p><p>
        <mat-checkbox [(ngModel)]="event_allDay">All-day event</mat-checkbox>
    </p>
    </mat-tab>
    <mat-tab label="Recurrence">
      <ng-container *ngIf="edit_recurrence" style="display: flex;">
        <p>
          <mat-checkbox style="padding: 0 5px;" [(ngModel)]="event_recurs"> Event repeats </mat-checkbox>
        </p><p>
          <mat-form-field style="margin-top: 10px;">
            <mat-label> Repeat every </mat-label>
            <input matInput type="number" placeholder="1" (input)="updateInterval()" [(ngModel)]="recur_interval" [disabled]="!event_recurs">
          </mat-form-field>
        </p><p>
        <mat-form-field style="margin-top: 10px;">
            <mat-label>  </mat-label>
            <mat-select placeholder="day(s)" (selectionChange)="updateFrequency()" [(ngModel)]="recurring_frequency" [disabled]="!event_recurs">
                <mat-option *ngFor="let freq of recurrence_frequencies" [value]="freq.val">
                    {{ freq.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </p><p>
          <ng-container *ngIf="recurring_frequency === 'WEEKLY'" style="margin-top: 10px;display: flex;">
            <mat-label> on day(s) </mat-label>
            <mat-checkbox *ngFor="let wday of weekdays" (selectionChange)="updateWeekdays()" [(ngModel)]="wday.recurs_on" [value]="wday.val" [disabled]="!event_recurs">{{ wday.name }}</mat-checkbox>
          </ng-container>
        </p>
        <ng-container *ngIf="recurring_frequency === 'MONTHLY' || recurring_frequency === 'YEARLY'" style="margin-top: 10px;display: flex;">
          <p style="display: flex; justify-content: space-between; align-items: center;">
            on the
            <mat-select style="width:auto;" (selectionChange)="updateMonthlyNth($event)" [(value)]="recur_by_monthyeardays" multiple [disabled]="!event_recurs">
              <mat-option *ngFor="let mnthday of month_year_days" [value]="mnthday.val" ngDefaultControl>{{ mnthday.name }}</mat-option>
            </mat-select>
            <mat-select style="width:auto;" (selectionChange)="updateWeekday($event)" [(value)]="recur_by_weekdays" multiple [disabled]="!event_recurs">
              <mat-option value="day">day</mat-option>
              <mat-option *ngFor="let wday of weekdays"[value]="wday.val" ngDefaultControl>{{ wday.name }}</mat-option>
            </mat-select>
            <span *ngIf="recurring_frequency === 'MONTHLY'">
              of the month
            </span>
            <span *ngIf="recurring_frequency === 'YEARLY'">
              of
              <mat-select style="width:auto;" (selectionChange)="updateMonths($event)" [(value)]="recur_by_months" multiple [disabled]="!event_recurs">
                <mat-option *ngFor="let month of year_months" [value]="month.val" ngDefaultControl>{{ month.name }}</mat-option>
              </mat-select>
          </span>
        </ng-container>
      </ng-container>
      <p *ngIf="!edit_recurrence">
      This event is an exception to a recurring one, to change the recurrence edit the main event.
    </p>
    </mat-tab>
  </mat-tab-group>
    <ng-container>
      <p>
        <a *ngIf="export_url"
           [href]="export_url"
           mat-button>
          <mat-icon svgIcon="swap-vertical"></mat-icon> Export this event
        </a>
      </p>
      <mat-form-field style="margin-top: 10px;">
            <mat-label> modify which events? </mat-label>
            <mat-select placeholder="All ocurrences" [(ngModel)]="recur_save_type" [disabled]="!change_save_type">
                <mat-option *ngFor="let type of save_types" [value]="type.val" [disabled]="type.disabled">
                    {{ type.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
</section>
<section mat-dialog-actions style="display: flex; justify-content: space-between;">
  <span>
    <button *ngIf="event.id"
            mat-raised-button color="warn"
            (click)="onDeleteClick()">Delete this event</button>
  </span>
  <span>
    <button mat-raised-button color="accent"
            (click)="onCancelClick()">Cancel</button>

    <button id="eventSubmitButton" mat-raised-button color="primary"
            (click)="onSubmitClick()">
        <span *ngIf="event.id">  Update </span>
        <span *ngIf="!event.id"> Create </span>
    </button>
  </span>

</section>
