.mailFolder:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}  

.nonLocalFolder {
    opacity: 0.5;
}

.selectedFolder.mat-button {
    font-size: 14px !important;
    margin-top: 1px !important;
}

.dropToFolderAllowed {
    transition: background 0.2s ease;
    background: rgba(0, 255, 0, 0.4);
}
.dropAboveFolderAllowed {
    transition: background 0.2s ease;
    background: linear-gradient(0deg, rgba(0, 255, 0, 0.0) 0%, rgba(0, 255, 0, 0.1) 90%, rgba(0, 100, 0, 1.0) 100%);
}
.dropBelowFolderAllowed {
    transition: background 0.2s ease;
    background: linear-gradient(180deg, rgba(0, 255, 0, 0.0) 0%, rgba(0, 255, 0, 0.1) 90%, rgba(0, 100, 0, 1.0) 100%);
}

.folderCount {
    font-size: 10px;
}

.visibleOnHover {
    display: none;
}

mat-list-item.selectedFolder p.visibleOnHover {
    display: inherit;
}
