<div style="display: flex">
  <span mat-subheader style="flex-grow: 1">Folders</span>
  <button mat-icon-button matTooltip="Create folder..." (click)="addFolder()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" [matTreeNodePadding]="node.folderLevel"
      matTreeNodePaddingIndent="20"
      style="display: flex"
      class="mailFolder"
      [ngClass]="{
        'selectedFolder' : selectedFolder == node.folderPath,
        'dropToFolderAllowed' : dropFolderId===node.folderId && dropAboveOrBelowOrInside === dropPosition.INSIDE,
        'dropAboveFolderAllowed' : dropFolderId===node.folderId && dropAboveOrBelowOrInside === dropPosition.ABOVE,
        'dropBelowFolderAllowed' : dropFolderId===node.folderId && dropAboveOrBelowOrInside === dropPosition.BELOW
        }"
        (drop)="dropToFolder($event,node.folderId)"         
        (dragover)="allowDropToFolder($event,node)" 
        (dragend)="dragCancel()" 
        (click)="selectFolder(node.folderPath)"
      >
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.folderName"
                [disabled]="!node.isExpandable"
                >
          <mat-icon class="mat-icon-rtl-mirror" *ngIf="node.isExpandable">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-icon *ngIf="node.folderType=='inbox'" mat-list-icon class="folderIconStandard">move_to_inbox</mat-icon>
        <mat-icon *ngIf="node.folderType=='sent'" mat-list-icon class="folderIconStandard">send</mat-icon>
        <mat-icon *ngIf="node.folderType=='spam'" mat-list-icon class="folderIconStandard">do_not_disturb</mat-icon>
        <mat-icon *ngIf="node.folderType=='templates'" mat-list-icon class="folderIconStandard">description</mat-icon>
        <mat-icon *ngIf="node.folderType=='trash'" mat-list-icon class="folderIconStandard">delete</mat-icon>
        <mat-icon *ngIf="node.folderType=='user'" mat-list-icon class="folderIconUser">folder</mat-icon>
        <div style="margin-left: 5px;" 
              draggable="true"
              (dragstart)="dragFolderStart($event, node.folderId)">
              {{node.folderName}}
        </div>
        <span *ngIf="node.newMessages" matBadge="{{node.newMessages}}" matBadgeOverlap="true" class="newMessagesCount" matBadgeSize="medium">&nbsp;</span>
	      <span style="flex-grow: 1"></span>
        <span class="foldersidebarcount">{{node.totalMessages}}</span>
        
        <ng-container [ngSwitch]="node.folderType">
          <ng-container *ngSwitchCase="'user'">
            <mat-menu #folderActionsMenu="matMenu">
              <button mat-menu-item (click)="renameFolder(node)">
                <mat-icon color="primary">border_color</mat-icon>
                <span>Rename</span>
              </button>
              <button mat-menu-item (click)="deleteFolder(node)">
                <mat-icon color="primary">delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
            <button mat-icon-button
              (click)="$event.stopPropagation()"
              [matMenuTriggerFor]="folderActionsMenu" matTooltip="Folder actions">
              <mat-icon>more_vert</mat-icon>
            </button>              
          </ng-container>  
          <ng-container *ngSwitchCase="'trash'">
            <mat-menu #trashFolderActionsMenu="matMenu">
              <button mat-menu-item (click)="emptyTrash()">
                <mat-icon>clear_all</mat-icon>
                <span>Empty trash</span>              
              </button>
            </mat-menu>
            <button mat-icon-button
              (click)="$event.stopPropagation()"
              [matMenuTriggerFor]="trashFolderActionsMenu" matTooltip="Folder actions">
              <mat-icon>more_vert</mat-icon>
            </button>          
          </ng-container>
          <ng-container *ngSwitchCase="'spam'">
            <mat-menu #trashFolderActionsMenu="matMenu">
              <button mat-menu-item (click)="emptySpam()">
                <mat-icon>clear_all</mat-icon>
                <span>Move all to trash</span>              
              </button>
            </mat-menu>
            <button mat-icon-button
              (click)="$event.stopPropagation()"
              [matMenuTriggerFor]="trashFolderActionsMenu" matTooltip="Folder actions">
              <mat-icon>more_vert</mat-icon>
            </button>          
          </ng-container>
          <ng-container *ngSwitchDefault>
            <button disabled mat-icon-button *ngIf="node.folderType!=='user'"></button>      
          </ng-container>          
        </ng-container>
    </mat-tree-node>
</mat-tree>
<mat-divider></mat-divider>
