.dashdeskCard {
    box-sizing: border-box;
    display: flex;
    width: calc(100% - 20px);
    margin: 5px 0 1px 5px;
    overflow: hidden;

    /* For mobile screens: */
    @media only screen and (max-width: 768px) {
        margin: 20px 0 0 0;
        width: 100%;
        display: block;
        border: 0;
        .contact,
        .subject {
            width: 100%;
        }
        .subject {
            padding-top: 10px;
        }
    }
    .contactIcon {
        width: 10%;
    }
    .contact {
        width: 25%;
        font-weight: bold;
    }
    .contactIcon mat-icon {
        margin-right: 10px;
        font-size: 40px;
        width: 40px;
        height: auto;
    }
    .contact h5 {
        display: inline;
        margin: 10px 0;
    }
    .messages {
        font-size: 0.75em;
    }
    .subject {
        width: 55%;
    }
    .subject ul {
        margin: 0;
    }
    .subject li {
        list-style-type: square;
    }
    .subject a {
        text-decoration: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .senderItem {
        display: block;
        margin-right: 0;
        div {
            display: block !important;
            width: 100%;
        }
    }
}

.showMoreLess {
    float: right;
    width: 10%
}

.showMore, .showLess {
    height: 30px;
    font-size: 0.75em;	       
}
