@import '../../../node_modules/@angular/material/theming';
$rmm-default-highlight:  mat-palette($mat-light-blue, 50, 25, 75);

#startdesk {
      position: relative;
      margin: 64px 20px 100px 30px;
  }
  #heading {
      display: flex;
  }
  #title {
      display: flex;
      flex-grow: 1;
  }
  #panelControls {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
  }
  #panelControls mat-icon {
      vertical-align: bottom;
      line-height: 24px;
  }
  #panelControlSmall {
      font-size: 16px;
      width: 16px;
      height: auto;
  }
  #panelControlMedium {
      font-size: 24px;
      width: 24px;
      height: auto;
  }
  #panelControlLarge {
      font-size: 40px;
      width: 40px;
      height: auto;
  }
  #startdesk mat-card {
      float: left;
      margin: 0 20px 20px 0;
      width: 43%;
      height: 250px;
      padding: 20px;
  }
  #startdesk mat-card div {
      margin: 10px 0;
  }
  #startdesk mat-card h3 mat-icon {
      font-size: 1.4em;
      height: 1em;
      margin-right: 20px;
  }
  .start_chart {
      font-size: 3em;
      height: auto;
  }
  #startdesk #dashdeskOverviewContainer {
      display: block;
      width: 100%;
  }
  #startdesk #dashdeskOverview {
      width: 93%;
      height: auto;
  }
  #startdesk .overviewEntry {
      display: flex;
      border: 1px solid #ddd;
      padding: 10px 30px;
      background-color: mat-color($rmm-default-highlight, 50);
  }
  #startdesk .contact {
      display: flex;
      flex-grow: 2;
      font-weight: bold;
  }
  #startdesk .contact mat-icon {
      margin-right: 10px;
      font-size: 40px;
      width: 40px;
      height: auto;
  }
  #startdesk .contact h4 {
      margin: 10px 0;
  }
  #startdesk .subject {
      display: flex;
      flex-grow: 5;
      text-decoration: underline;
  }
  #startdesk .subject ul {
	margin: 0;
  }
  #startdesk .subject li {
	list-style-type: square;
  }
