@import '../../../node_modules/@angular/material/theming';
$rmm-default-highlight: mat-palette($mat-light-blue, 100, 50, 200);

#startdesk {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    @media only screen and (max-width: 768px) {
        padding: 0;
        top: 56px;

        .communicationTitle {
            position: absolute;
            top: -39px;
            left: 60px;

            mat-icon {
                display: none;
            }
        }
    }
    h3 {
        margin: 10px 0 0 0;
        padding: 0;
        @media only screen and (max-width: 768px) {
            font-size: 21px;
        }
    }
    h3 mat-icon {
        margin-right: 5px;
    }
    h4 {
        margin-block-start: 1em;
        margin-block-end: 1em;
        @media only screen and (max-width: 768px) {
            margin-block-start: 0;
        }
    }

    mat-card {
        float: left;
        width: 100%;
        padding: 10px;

        @media only screen and (max-width: 768px) {
            border-radius: 0;
            border: 0;
            padding: 16px;
        }
    }
}
#dashdeskOverviewContainer {
    display: block;
    width: 100%;
    height: 100%;

    .communicationOverview {
        box-sizing: border-box;

        /* For mobile screens: */
        @media only screen and (max-width: 768px) {
            margin: 0;
            min-height: calc(100vh - 56px);
        }
    }
    #folderSelector {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}
#dashdeskSections {
    mat-card {
        width: 43%;
        height: 250px;
        padding: 20px;
    }
    mat-card div {
        margin: 10px 0;
    }
    mat-card h3 mat-icon {
        font-size: 1.4em;
        height: 1em;
        margin-right: 20px;
    }
    .start_chart {
        font-size: 3em;
        height: auto;
    }
}
.noMessagesCard {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}
.highlights {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0;
    }
}

#hilightsSettings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    
    mat-form-field {
	margin-right: 20px;
	width: 100px;
    }

    mat-checkbox {
        padding-left: 10px;
    }

    @media only screen and (max-width: 768px) {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @media only screen and (max-width: 400px) {
        flex-direction: column;
    }
}
