<style>
  div.start {
      margin: 50px;
  }

  div.start div {
      float: left;
      margin: 20px;
      width: 250px;
  }
</style>
<div class="start">
  <div>
    <h3>Get synchronized</h3>
    Synchronize Runbox 7 using the app on all your devices  
  </div>
  
  <div>
    <h3>Import your contacts</h3>
    Import all your contacts from other email services
  </div>
  
  <div>
    <h3>Import your email</h3>
    Consolidate email from your other email accounts
  </div>
  
  <div> 
    <h3>Email and Domain Hosting</h3>
    Register a new domain, or complete email hosting setup for an existing domain
  </div>
  
  <div>
    <h3>Subscribe or upgrade</h3>
    Take full advantage of Runbox with extra accounts and other add-ons
  </div>
  
  <div>
    <h3>Learn more about Runbox</h3>
    Find documentation, get support, and learn about all the Runbox features
  </div>

  <div>
    <h3>Using an email program or mobile device</h3>
    Find out how to use your Runbox account with an email program or an app on a mobile device
  </div>
</div>
