<style>
  div.start {
      margin: 75px 0 0 50px;
  }

  div.start mat-card {
      float: left;
      width: 45%
  }
  div.start mat-card div {
      margin: 20px 0;
  }
  div.start mat-card h3 mat-icon {
      font-size: 1.4em;
      height: 1em;
      margin-right: 20px;
  }

</style>

<div class="start">
  <h1>Runbox Start Desk</h1>
  <mat-card>
    <h3><mat-icon>email</mat-icon>Email highlights</h3>
    <div>New messages</div>
    <div>New replies</div>
    <div>Important messages (main contacts)</div>
  </mat-card>
  
  <mat-card>
    <h3><mat-icon>people</mat-icon>Contact highlights</h3>
    <div>Email from new senders</div>
    <div>Email from known contacts</div>
    <div>New contacts (received vCards)</div>
  </mat-card>

  <mat-card>
    <h3><mat-icon>date_range</mat-icon>Calendar highlights</h3>
    <div>New events</div>
    <div>Events today</div>
    <div>Events this week</div>
  </mat-card>

  <mat-card>
    <h3><mat-icon>assignment</mat-icon>Task highlights</h3>
    <div>Due tasks</div>
    <div>Tasks in progress</div>
    <div>Upcoming tasks</div>
  </mat-card>
</div>
