@import '../../../node_modules/@angular/material/theming';
$rmm-default-highlight: mat-palette($mat-light-blue, 50, 25, 75);

#startdesk {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;

    @media only screen and (max-width: 768px) {
        padding: 0;
        top: 56px;

        .communicationTitle{
            position: absolute;
            top: -39px;
            left: 60px;

            mat-icon {
                display: none;
            }
        }
    }
    h3 {
        margin: 0;
        padding: 0;
        @media only screen and (max-width: 768px) {
            font-size: 21px;
        }
    }
    h3 mat-icon {
        margin-right: 5px;
    }
    h4 {
        margin-block-start: 1em;
        margin-block-end: 1em;
        @media only screen and (max-width: 768px) {
            margin-block-start: 0;
        }
    }
    
    mat-card {
        float: left;
        width: 100%;
        padding: 20px;

        @media only screen and (max-width: 768px) {
            border-radius: 0;
            border: 0;
            padding: 16px;
        }
    }
}
#dashdeskOverviewContainer {
    display: block;
    width: 100%;
    height: 100%;

    .communicationOverview {
        box-sizing: border-box;

        /* For mobile screens: */
        @media only screen and (max-width: 768px) {
            margin: 0;
            min-height: calc(100vh - 56px);
        }
    }
    .dashdeskCard {
        box-sizing: border-box;
        display: flex;
        width: calc(100% - 20px);
        margin: 20px 0 1px 10px;

        /* For mobile screens: */
        @media only screen and (max-width: 768px) {
            margin: 20px 0 0 0;
            width: 100%;
            display: block;
            border: 0;
            .contact,
            .subject {
                width: 100%;
            }
            .subject {
                padding-top: 10px;
            }
        }
    }
    #folderSelector {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .contact {
        width: 33%;
        font-weight: bold;
    }
    .contact mat-icon {
        margin-right: 10px;
        font-size: 40px;
        width: 40px;
        height: auto;
    }
    .contact h4 {
        display: inline;
        margin: 10px 0;
    }
    .messages {
        margin: 0 5px;
    }
    .subject {
        width: 66%;
        text-decoration: underline;
    }
    .subject ul {
        margin: 0;
    }
    .subject li {
        list-style-type: square;
    }
}
#dashdeskSections {
    mat-card {
        width: 43%;
        height: 250px;
        padding: 20px;
    }
    mat-card div {
        margin: 10px 0;
    }
    mat-card h3 mat-icon {
        font-size: 1.4em;
        height: 1em;
        margin-right: 20px;
    }
    .start_chart {
        font-size: 3em;
        height: auto;
    }
}
.noMessagesCard {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}
.highlights{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0;
    }
}
#hilightsSettings {
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-checkbox {
        padding-left: 10px;
    }

    @media only screen and (max-width: 768px) {
        justify-content: space-around;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .senderItem {
        display: block;
        margin-right: 0;
        div {
            display: block !important;
            width: 100%;
        }
        #hilightsSettings {
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}
