.adjustableHeight {
    position: absolute;
    bottom: 0px; left: 0px;
    right: 0px; z-index: 1000; background-color: white;    
    transition: all 0.2s;
    border-top: 1px solid darkgrey !important;
}							       

#messageHeader {
    overflow: hidden;
}

.messageHeaders {
    padding-left: 2%;
}

.messageHeaderDate {
    font-size: 12px;
}

.messageHeaderFrom {
    font-size: 15px;
}

#messageHeaderSubject {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.messageHeaderTo, .messageHeaderCC, .messageHeaderBCC {
    font-size: 12px;
}

.messageHeaderTo span, .messageHeaderCC span, .messageHeaderBCC span {
    padding-right: 10px;
}

.messageHeaderRow {
    clear: both;
}

.messageHeaderRow div {
    float: left;
    margin-right: 5px;
}

#messageContents {
    overflow: auto;
    position: absolute;
    top: 55px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

@media(max-width: 812px) {
    #messageContents {
	top: 40px !important;
    }
}

#messageContentsBody {
    margin: 0 2%;
    width: 96%;
    margin-top: 10px;
    white-space: pre-wrap;
}

.attachmentlink {
    padding: 10px;
    cursor: pointer;     
}
.attachmentlink:hover {
    background-color: #f0f0f0;
}

.notificationContainer {
    text-align: center;
    background-color: hsl(37, 100%, 95%); /*lavenderblush papayawhip*/
    padding: 0.2em 0;
}

.inMessageNotification {
    font-size: 13px;
    font-style: italic;
    color: rgb(131, 131, 131);
}

#iframe {
    border: 0;
    height: 0px;
    width: 100%;
    margin-bottom: -10px;
}

.menuradiobutton {
    margin: 5px;
}  

mat-grid-tile:hover {
    background-color: #ddd;
    cursor: pointer;
}

@media(max-width: 812px) {
    #buttonPrint {
	display: none;
    }
}

.icon-bigger {
    transform: scale(2);
}

.string-ellipsis {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.link-pointer {
    cursor: pointer;
}
