mat-expansion-panel-header {
    box-shadow: none !important;
    height: 40px !important;
    padding-left: 8px !important;
    padding-right: 24px !important;
}

mat-expansion-panel {
    padding-left: 0px !important;
}

mat-expansion-panel-header mat-icon {
    padding-left: 10px;
    padding-right: 13px;
}

mat-expansion-panel-header .headerText {
    padding: 5px;
}
