mat-expansion-panel-header {
    box-shadow: none !important;
    min-height: 36px !important;
    height: auto !important;
    padding-left: 10px !important;
    padding-right: 24px !important;
}

mat-expansion-panel {
    padding-left: 0px !important;
}

mat-expansion-panel-header mat-icon {
    padding-left: 10px;
    padding-right: 4px;
    flex-shrink: 0;
}

mat-expansion-panel-header .headerText {
    padding: 5px;
    font-size: 13px;
    line-height: 20px;
}

/* MDC list item styling */
.mat-mdc-list-base[dense] .mat-mdc-list-item,
.mat-list-base[dense] .mat-list-item {
    height: auto;
    min-height: 30px;
}
