mat-expansion-panel-header {
    box-shadow: none !important;
    height: 30px !important;
    padding-left: 10px !important;
    padding-right: 24px !important;
}

mat-expansion-panel {
    padding-left: 0px !important;
}

mat-expansion-panel-header mat-icon {
    padding-left: 10px;
    padding-right: 13px;
}

mat-expansion-panel-header .headerText {
    padding: 5px;
    font-size: 13px;
    line-height: 20px;
}

.mat-list-base[dense] .mat-list-item {
    height: 24px;
}
