:host {
  display: block;
  height: 100%;
}

.virtual-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 300px;
}

table {
  border-collapse: collapse; /* Removes space between table cells */
  border-spacing: 0; /* Ensures no extra spacing between cells */
  max-width: 100%;
  table-layout: fixed;
  user-select: none;
  width: 100%;
  box-shadow: unset;
}

.header-table {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

cdk-virtual-scroll-viewport {
    position: relative;
    display: block;
    flex: 1 1 auto;
    height: 100%;
    min-height: 200px;

    ::ng-deep & table thead {
        visibility: hidden;
        opacity: 0;
    }
}
