<mat-toolbar style="background-image: linear-gradient(175deg, #0068b7, #003156);" color="primary" id="mainMenu">
  <a mat-button routerLink="/" class="mainMenu"><mat-icon svgIcon="email"></mat-icon>Webmail</a><br />
  <a mat-button routerLink="/contacts" class="mainMenu"><mat-icon svgIcon="account-multiple"></mat-icon>Contacts</a>
  <a mat-button routerLink="/calendar" class="mainMenu"><mat-icon svgIcon="calendar-range"></mat-icon>Calendar</a>
  <a mat-button href="/files" class="mainMenu" [matTooltip]="rmm6tooltip" target="rmm6"><mat-icon svgIcon="folder-outline"></mat-icon>Files</a>

  <mat-menu #settingsMenu="matMenu">
    <mat-menu #accountSubMenu="matMenu" class="mainMenuSub">
      <a mat-button href="/mail/account" [matTooltip]="rmm6tooltip" target="rmm6"><mat-icon svgIcon="account"></mat-icon>Account Settings</a><br />
      <a mat-button [routerLink]="['/identities']"><mat-icon svgIcon="border-inside"></mat-icon>Identities</a>
      <a mat-button [routerLink]="['/account-security']"><mat-icon svgIcon="security"></mat-icon>Account Security</a><br />
      <a mat-button routerLink="/account/components"><mat-icon svgIcon="widgets"></mat-icon>Account Products</a><br />
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="accountSubMenu" class="mainMenuSub">
      <mat-icon svgIcon="account"></mat-icon> Account
    </button>

    <mat-menu #managerSubMenu="matMenu" class="mainMenuSub">
      <a mat-button href="/mail/manager" [matTooltip]="rmm6tooltip" target="rmm6"><mat-icon svgIcon="briefcase"></mat-icon>Manager</a><br />
      <a mat-button href="/mail/fetch" [matTooltip]="rmm6tooltip" target="rmm6"><mat-icon svgIcon="cloud-download"></mat-icon>Retrieve</a><br />
      <a mat-button routerLink="/account/filters"><mat-icon svgIcon="filter-variant"></mat-icon>Filter</a><br />
      <a mat-button href="/mail/access" [matTooltip]="rmm6tooltip" target="rmm6"><mat-icon svgIcon="download"></mat-icon>Access</a>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="managerSubMenu" class="mainMenuSub">
      <mat-icon svgIcon="briefcase"></mat-icon> Manager
    </button>

    <mat-menu #hostingSubMenu="matMenu" class="mainMenuSub">
	<a mat-button href="/mail/account_domain" [matTooltip]="rmm6tooltip" target="rmm6"><mat-icon svgIcon="email"></mat-icon>Email Hosting</a><br />
	<a mat-button href="/mail/account_webhosting" [matTooltip]="rmm6tooltip" target="rmm6"><mat-icon svgIcon="earth"></mat-icon>Web Hosting</a><br />
	<a mat-button href="/mail/account_domain_hosting" [matTooltip]="rmm6tooltip" target="rmm6"><mat-icon svgIcon="domain"></mat-icon>Domain Hosting</a>
    <a mat-button [routerLink]="['/domainregistration']"><mat-icon svgIcon="border-inside"></mat-icon>Domain Registration</a>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="hostingSubMenu" class="mainMenuSub">
      <mat-icon svgIcon="cloud"></mat-icon> Hosting
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon svgIcon="cog"></mat-icon> Settings
  </button>
  
  <span flex style="flex-grow: 1"></span>

  <a *ngIf="user_is_trial" mat-button routerLink="/account/components" matTooltip="Subscribe now">
    <mat-icon svgIcon="wallet-membership" id="subscribe"></mat-icon> Subscribe
  </a>

  <a *ngIf="!user_is_trial" mat-button color="accent" matTooltip="Go back to the old version of Runbox" href="/mail">
    <mat-icon  svgIcon="undo" id="runbox6"></mat-icon> Runbox 6
  </a>

  <button mat-button [matMenuTriggerFor]="helpMenu">
    <mat-icon svgIcon="help-circle"></mat-icon> Help
  </button>
  <mat-menu #helpMenu="matMenu" class="mainMenuSub">
    <a mat-button href="https://help.runbox.com/"><mat-icon svgIcon="help-circle"></mat-icon>Help</a><br />
    <a mat-button href="https://status.runbox.com/"><mat-icon svgIcon="check-circle"></mat-icon>Service Status</a><br />
    <a mat-button href="https://help.runbox.com/how-tos/"><mat-icon svgIcon="format-list-numbered"></mat-icon>How-Tos</a><br />
    <a mat-button href="https://help.runbox.com/faq/"><mat-icon svgIcon="lightbulb-outline"></mat-icon>FAQ</a><br />
    <a mat-button href="https://help.runbox.com/documentation/"><mat-icon svgIcon="format-list-bulleted"></mat-icon>Documentation</a><br />
    <a mat-button href="https://forum.runbox.com/"><mat-icon svgIcon="forum"></mat-icon>Forum</a><br />
    <a mat-button href="https://support.runbox.com/"><mat-icon svgIcon="comment-question"></mat-icon>Support</a>
  </mat-menu>

  <a mat-button href="https://blog.runbox.com/" class="mainMenu"><mat-icon svgIcon="comment-text"></mat-icon>Blog</a>

  <button mat-fab [matMenuTriggerFor]="accountMenu" class="accountMenu">
    <mat-icon svgIcon="account"></mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu" class="mainMenuSub themePalettePrimary">
    <a mat-button href="/mail/account" [matTooltip]="rmm6tooltip" target="rmm6"><mat-icon svgIcon="account"></mat-icon>Account Settings</a><br />
    <a mat-button routerLink="/account/components"><mat-icon svgIcon="widgets"></mat-icon>Account Products</a><br />
    <a mat-button (click)="logoutservice.logout()"><mat-icon svgIcon="power"></mat-icon>Log out</a>
  </mat-menu>

  <img src="assets/runbox7.png" id="logo" alt="Runbox 7" />
</mat-toolbar>

<style>
#connectionDownIndicator {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
</style>

<button mat-fab color="warn" *ngIf="rmmoffline.is_offline"
  id="connectionDownIndicator"
  matTooltip="Runbox API unavailable"
>
    <mat-icon svgIcon="cloud-off-outline"></mat-icon>
</button>
