<mat-sidenav-container class="dkim">
    <mat-sidenav mode="side" opened=false></mat-sidenav>
    <mat-sidenav-content>
            <section class="mat-typography">
                <mat-card class='dkim'>
                    <mat-card-header style="display: flex; width: 100%">
                        <mat-card-title style="flex-grow: 1">
                            <h1 class="mat-h1">DKIM <h2>{{domain}}</h2></h1>
                            This is the DKIM configuration for domain {{domain}}.
                            There are 2 selectors with difrent private & public keys that are required for proper key rotation. Only 1 selector is active.
                            The first time key is enabled, it can take up to 48hrs to propagate in dns world wide.

                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-accordion *ngIf="keys.length">
                      <mat-expansion-panel *ngFor="let item of keys">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{item.selector_recordset_name}}
                                <span *ngIf="item.is_active">active</span>
                            </mat-panel-title>
                          <mat-panel-description>updated at {{item.updated}}</mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field style='width: 100%'>
                          <textarea matInput placeholder="Public key" [value]="item.public_key">
                          </textarea>
                        </mat-form-field>

                        <p *ngIf="item.is_active">
                            <span>Date published to DNS: {{item.date_saved_to_pdns}}</span>
                            <span>Activation date: {{item.date_rotation_finalized}}</span>
                        </p>
                        <p *ngIf="!item.is_active">
                            <span>Dectivation date: {{item.date_deactivated}}</span>
                        </p>                                                                                                           </mat-expansion-panel>

                    </mat-accordion>
                    <div *ngIf="!keys.length">
                        No keys found for {{domain}}
                        <button mat-raised-button color="primary" (click)="create_keys()">Create keys for {{domain}}</button>
                    </div>
                </mat-card>
            </section>
    </mat-sidenav-content>
</mat-sidenav-container>

