<div class="contact-details" *ngIf="!contact">
    Select a contact to view or edit its details
</div>

<div class="contact-details" *ngIf="contact">
    <h2> {{ contact.display_name() || "New contact" }}'s details </h2>
    <form [formGroup]="contactForm">
        <h3> Basic information </h3>
        <table>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput formControlName="nickname" placeholder="Nickname">
                    </mat-form-field>
                </td><td>
                    <mat-form-field>
                        <input matInput formControlName="first_name" placeholder="First name">
                    </mat-form-field>
                </td><td>
                    <mat-form-field>
                        <input matInput formControlName="last_name" placeholder="Last Name">
                    </mat-form-field>
                </td><td>
                    <mat-form-field>
                        <input matInput formControlName="categories" placeholder="Groups">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput formControlName="company" placeholder="Company">
                    </mat-form-field>
                </td><td>
                    <mat-form-field>
                        <input matInput formControlName="department" placeholder="Department">
                    </mat-form-field>
                </td><td>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput formControlName="birthday" placeholder="Birthday">
                    </mat-form-field>
                </td><td>
                </td><td>
                </td>
            </tr>
            <tr>
                <td colspan=3>
                    <textarea matInput formControlName="note" placeholder="Notes"> </textarea>
                </td>
            </tr>
        </table>

        <app-contact-details-fa-viewer
            title="Email addresses"
            [hidden]="false"

            [inputFG]="contactForm"
            faName="emails"
            (newElementClicked)="newEmail()"
            layout="simple"
            editable="!contact.rmm_backed"

            valuePlaceholder="E-mail address"
            deleteDescription="Delete this address"
            addNewDescription="Add a new e-mail address"

            actionIcon="email"
            actionDescription="Send an email to this address"
        >
        </app-contact-details-fa-viewer>

        <app-contact-details-fa-viewer
            title="Phone numbers"

            [inputFG]="contactForm"
            faName="phones"
            (newElementClicked)="newPhone()"
            layout="simple"
            editable="!contact.rmm_backed"

            valuePlaceholder="Phone number"
            deleteDescription="Delete this phone number"
            addNewDescription="Add a new phone number"
        >
        </app-contact-details-fa-viewer>

        <app-contact-details-fa-viewer
            title="Websites"

            [inputFG]="contactForm"
            faName="urls"
            (newElementClicked)="newUrl()"
            layout="simple"
            editable="!contact.rmm_backed"

            valuePlaceholder="Website address"
            deleteDescription="Delete this address"
            addNewDescription="Add a new address"

            actionIcon="link"
            actionDescription="Visit this website"
        >
        </app-contact-details-fa-viewer>

        <app-contact-details-fa-viewer
            title="Addresses"

            [inputFG]="contactForm"
            faName="addresses"
            (newElementClicked)="newAdr()"
            layout="complex"
            editable="!contact.rmm_backed"

            deleteDescription="Delete this address"
            addNewDescription="Add a new address"
        >
        </app-contact-details-fa-viewer>

        <app-contact-details-fa-viewer
            title="Relatives"

            [inputFG]="contactForm"
            faName="related"
            (newElementClicked)="newRelative()"
            layout="simple"
            editable="!contact.rmm_backed"

            valuePlaceholder="Name"
            deleteDescription="Delete this relative"
            addNewDescription="Add a new relative"
        >
        </app-contact-details-fa-viewer>

        <mat-toolbar style="position: fixed; bottom: 0;">
            <div *ngIf="contact.rmm_backed">
                <a mat-button (click)="edit_rmm6()">Edit this contact (in old webmail)</a>
            </div>
            <div *ngIf="!contact.rmm_backed">
                <a mat-button (click)="save()">Save changes</a>
                <a mat-button (click)="rollback()" *ngIf="contact.id">Discard changes</a>
                <a mat-button (click)="delete()" *ngIf="contact.id">Delete this contact</a>
            </div>
        </mat-toolbar>
    </form>
</div>
