<div class="contact-details" *ngIf="!contact">
    Select a contact to view or edit its details
</div>

<div class="contact-details" *ngIf="contact">
    <h2> {{ contact.full_name() || "New contact" }}'s details </h2>
    <form [formGroup]="contactForm">
        <table>
            <tr>
                <td> Nickname: </td>
                <td> <input formControlName="nickname"
                            placeholder="Nickname">
                </td>
            </tr>
            <tr>
                <td> First name: </td>
                <td> <input formControlName="first_name"
                            placeholder="First name">
                </td>
            </tr>
            <tr>
                <td> Last name: </td>
                <td> <input formControlName="last_name"
                            placeholder="Last Name">
                </td>
            </tr>
        </table>
        <table formArrayName="emails" *ngFor="let email of contactForm.get('emails').controls; let i=index">
            <tr [formGroupName]="i">
                <td> Email address: </td>
                <td *ngFor="let type of email.get('types').controls; let j=index">
                    <select>
                        <option><mat-icon>home</mat-icon> Home</option>
                        <option><mat-icon>work</mat-icon> Work</option>
                    </select>
                </td>
                <td>
                    <a mat-button (click)="addTypeToEmail(i)">
                        <mat-icon>add</mat-icon>Add a type
                    </a>
                </td>
                <td>
                    <input formControlName="value"
                           placeholder="E-mail address">
                </td>
                <td>
                    <a mat-button routerLink="/compose" [queryParams]="{to: value}">
                        <mat-icon>email</mat-icon> Write an email to {{ contact.full_name() }}
                    </a>
                </td>
                <td>
                    <a mat-button (click)="removeEmailAt(i)">
                        <mat-icon>delete</mat-icon>Delete this address
                    </a>
                </td>
        </table>
        <div>
            <a mat-button (click)="newEmail()">Add a new email address</a>
        </div>
        <table>
            <tr>
                <td> Birthday: </td>
                <td> <input formControlName="birthday"
                            placeholder="Birthday">
                </td>
            </tr>
            <tr>
                <td> Notes: </td>
                <td> <textarea formControlName="note"
                               placeholder="Contact notes">
                     </textarea>
                </td>
            </tr>
        </table>
        <div>
            <a mat-button (click)="save()">Save changes</a>
            <a mat-button (click)="rollback()" *ngIf="contact.id">Discard changes</a>
        </div>
    </form>
</div>
