<div>
    <h4>
        {{ title }}
        <a mat-button (click)="hidden = false" *ngIf="hidden">
            Show {{ faObj.controls.length }} elements
        </a>
        <a mat-button (click)="hidden = true" *ngIf="!hidden">
            Hide {{ faObj.controls.length }} elements
        </a>
    </h4>
    <div [formGroup]="inputFG" *ngIf="!hidden">
        <div [formArrayName]="faName" *ngFor="let elem of faObj.controls; let i=index">
            <div class="contact-details-row" [formGroupName]="i">
                <app-contact-details-multivalue-editor
                    [inputFC]="elem.get('types')"
                    [defaultOptions]="defaultTypesFor[faName] || []"
                    label="Types"
                    noValuesLabel="No types"
                    newValueLabel="New type"
                ></app-contact-details-multivalue-editor>

                <div formGroupName="value" *ngIf="faName === 'addresses'; else notAddresses">
                    <div class="contact-details-row">
                        <mat-form-field>
                            <input matInput formControlName="street" placeholder="Street">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="city" placeholder="City">
                        </mat-form-field>
                        <div class="mat-form-field">
                            <a mat-button (click)="removeAt(i)">
                                <mat-icon svgIcon="delete"></mat-icon> {{ deleteDescription }}
                            </a>
                        </div>
                    </div>
                    <div class="contact-details-row">
                        <mat-form-field>
                            <input matInput formControlName="region" placeholder="Region">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="post_code" placeholder="Post code">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="country" placeholder="Country">
                        </mat-form-field>
                    </div>
                </div>

                <ng-template #notAddresses>
                    <mat-form-field>
                        <input matInput formControlName="value" [placeholder]="valuePlaceholder">
                    </mat-form-field>
                    <div class="mat-form-field" *ngIf="faName === 'urls'">
                        <a mat-button href="{{ elem.value.value }}">
                            <mat-icon svgIcon="link"></mat-icon> Visit this website
                        </a>
                    </div>
                    <div class="mat-form-field" *ngIf="faName === 'emails'">
                        <a mat-button routerLink="/compose" [queryParams]="{to: elem.value.value }">
                            <mat-icon svgIcon="email"></mat-icon> Send an email to this address
                        </a>
                    </div>
                    <div class="mat-form-field" *ngIf="faName === 'emails'">
                        <a mat-button (click)="startVideoCall.emit(elem.value.value)">
                            <mat-icon svgIcon="message-video"></mat-icon> Invite to video call
                        </a>
                    </div>
                    <div class="mat-form-field">
                        <a mat-button (click)="removeAt(i)">
                            <mat-icon svgIcon="delete"></mat-icon> {{ deleteDescription }}
                        </a>
                    </div>
                </ng-template>
            </div>
        </div>

        <div>
            <a mat-button (click)="newElementClicked.emit()">
                <mat-icon svgIcon="plus"></mat-icon> {{ addNewDescription }}
            </a>
        </div>
    </div>
</div>
