button {
    --fg: white;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: col-resize;
    right: 0;
    border: none;
    width: 1rem;
    border-right: var(--fg);
    padding: 0;
    margin: 0;
    display: block;
    transition: opacity 0.1s ease;
    opacity: 0.1;
}

button:hover, button:focus, button.resizing {
    opacity: 0.8;
}


