#sideMenu {
    border-right: 1px solid darkgrey !important;
}

canvastablecontainer {
    opacity: 0;
}

#rightPane {
    border-left: 1px solid darkgrey !important;
}

.tableViewOptionsMenuElement {
    vertical-align: middle !important;
}

.contextToolButtonsRegular {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 70px;
    top: 50px;
    z-index: 10;
    padding: 0 10px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px !important;
        height: 30px !important;
        margin-bottom: 8px;

        mat-icon {
            margin: 0;
        }
    }
}

.contextToolButtonsMobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 25px;
    top: 110px;
    z-index: 10;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin-bottom: 8px;

        mat-icon {
            margin: 0;
        }
    }
}

.noMessageSelectedNotification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

// Override default tooltip CSS
::ng-deep .multiline-tooltip {
    width: 150px;
}

.resizable {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messages-table {
    --checked-color: #eee;
    --focussed-color: #ddd;
    --selected-color: #ccc;
    --border-color: #ddd;

    --row-y-spacing: 0.3lh;

    & .checkbox-cell {
        width: 2rem;
        text-align: center;
    }

    & th {
        text-align: left;
        position: relative;
        background-color: white;
        z-index: 1;
    }

    & tr {
        padding-bottom: var(--row-y-spacing);
        padding-top: var(--row-y-spacing);
    }

    & td,
    & th {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    & tbody {
        cursor: pointer;
    }

    & tbody.checked {
        background-color: var(--checked-color);
    }

    & tbody.focussed {
        background-color: var(--focussed-color);
    }

    & tbody:hover,
    & tbody.selected {
        background-color: var(--selected-color);
    }

    & .preview {
        display: block;
        height: 1lh;
    }

    @media (max-width: 60rem) {
        & {
            display: block;
        }

        & thead {
            display: none;
        }

        & tbody {
            border-bottom: 1px solid var(--border-color);
            position: relative;
            display: block;
        }

        & td.sm-hidden {
            display: none;
        }

        & tr {
            margin-left: 8px;
            display: flex;
            flex-flow: row wrap;
            gap: 0.5rem;
        }

        & td.checkbox-cell {
            position: absolute;
            margin-left: -6px;
        }

        & td {
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 2rem;

            &.subject {
                width: 100%;
            }
        }
    }

}

::ng-deep table {
    font-size: 13px;
}

tbody mat-icon {
    /* Prevent icon from increasing tbody height */
    max-height: 1.3em;
    margin: -0.3em;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

