<mat-sidenav-container autosize>
  <mat-sidenav #sidemenu
      [opened]="sideMenuOpened"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="0"
      id="sideMenu"
      style="width: 330px"
      appResizable>
    <mat-nav-list dense>      
      <app-sidenav-menu (closeMenu)="sidemenu.close()"></app-sidenav-menu>

      <mat-menu #settingsMenu="matMenu" xPosition="before">
          <mat-list>
              <mat-list-item>
                <mat-checkbox
                  [(ngModel)]="settingsService.settings.showPopularRecipients"
                  (change)="settingsService.store()"
                  (click)="$event.stopPropagation()"
                > Show popular recipients </mat-checkbox>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field>
                  <mat-label> Avatars </mat-label>
                  <mat-select
                    [(ngModel)]="settingsService.settings.avatars"
                    (click)="$event.stopPropagation()"
                    (selectionChange)="settingsService.store()"
                  >
                    <mat-option [value]="AvatarSource.REMOTE"> Load from external services </mat-option>
                    <mat-option [value]="AvatarSource.LOCAL">  Only from Contacts </mat-option>
                    <mat-option [value]="AvatarSource.NONE">   Disabled </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-list-item>
          </mat-list>
      </mat-menu>

      <div style="display: flex;">
        <div id="sidenavGreeting">
            <p>Good {{timeOfDay}}, {{(rmmapi.me | async)?.user_address}}.</p>
            <p id="sidenavGreetingContent"><a routerLink="/welcome" class="textLink">Welcome</a> to Runbox 7 (beta)! Please <a href="https://community.runbox.com/" target="forum" class="textLink">visit our forum</a> for help, suggestions, and more information.</p>
            <p *ngIf="startDeskEnabled">
                <a routerLink="/start" class="textLink"> Go to the (experimental) start desk </a>
            </p>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="settingsMenu" matTooltip="Show webmail settings">
                <mat-icon svgIcon="cog"></mat-icon>
            </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="sidenavSubMenu" *ngIf="mobileQuery.matches">
        <a mat-button (click)="compose();" matTooltip="Compose">
          <mat-icon  svgIcon="pencil" color="primary"></mat-icon></a>
        <a mat-button (click)="drafts();" matTooltip="Drafts">
          <mat-icon svgIcon="email-open" color="primary"></mat-icon></a>
      </div>

      <mat-list-item (click)="compose();" id="composeButton" [ngClass]="{'selectedFolder' : composeSelected}">
        <mat-icon mat-list-icon  svgIcon="pencil" class="folderIconStandard"></mat-icon>
        <p mat-line class="folderName">Compose</p>
      </mat-list-item>

      <mat-list-item (click)="drafts()" id="draftsButton" [ngClass]="{'selectedFolder' : draftsSelected}">
        <mat-icon mat-list-icon  svgIcon="email-open" class="folderIconStandard"></mat-icon>
        <p mat-line class="folderName">Drafts</p>
        <span style="flex-grow: 1"></span>
        <span class="foldersidebarcount" style="margin-right: 24px"> {{ draftDeskService.draftModels.length }} </span>
      </mat-list-item>

      <mat-list-item (click)="overview()" id="overviewButton" [ngClass]="{'selectedFolder' : overviewSelected}">
        <mat-icon mat-list-icon svgIcon="blur" class="folderIconStandard"></mat-icon>
        <p mat-line class="folderName">Overview</p>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-nav-list>

    <app-popular-recipients
        [ngStyle]="{ 'display': settingsService.settings.showPopularRecipients ? 'block' : 'none' }"
        (recipientClicked)="searchFor($event)"
    >
        <mat-list-item *ngIf="!dataReady" (click)="downloadIndexFromServer()">
            Synchronize index in order to use this feature
        </mat-list-item>
    </app-popular-recipients>

    <mat-divider></mat-divider>

    <app-saved-searches (searchClicked)="searchFor($event)"></app-saved-searches>

    <mat-divider></mat-divider>

    <rmm-folderlist #folderListComponent
        [folders]="displayedFolders"
        [folderMessageCounts]="messagelistservice.folderMessageCountSubject"
        [selectedFolder]="selectedFolder"
        (folderSelected)="selectFolder($event)"
        (droppedToFolder)="dropToFolder($event)"
        (emptyTrash)="emptyTrash($event)"
        (emptySpam)="emptySpam($event)"
        (createFolder)="createFolder($event)"
        (deleteFolder)="deleteFolder($event)"
        (moveFolder)="moveFolder($event)"
        (renameFolder)="renameFolder($event)"
    ></rmm-folderlist>

    <mat-divider></mat-divider>

    <mat-nav-list *ngIf="dataReady">
      <mat-list-item
        (click)="deleteLocalIndex()"
        matTooltip="Stop synchronization and remove index stored on your device">
          <mat-icon  svgIcon="sync-off" mat-list-icon></mat-icon>
          <p mat-line>Stop index synchronization</p>
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list *ngIf="(xapianLoaded | async) && !dataReady && searchService.downloadProgress===null">
      <mat-list-item (click)="downloadIndexFromServer()" matTooltip="Synchronize index with your device">
        <mat-icon  svgIcon="sync" mat-list-icon></mat-icon>
        <p mat-line>Synchronize index</p>
      </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <p style="text-align: center; font-size: 12px">
        Runbox 7 build time: {{buildtimestampstring}} <br>
        <a routerLink="/changelog"> Read the changelog </a>
    </p>
  </mat-sidenav>
  <mat-sidenav *ngIf="mailViewerOnRightSide" position="end" mode="side"
    [opened]="!hasChildRouterOutlet
              && (singlemailviewer.messageId
                  || (!mobileQuery.matches && keepMessagePaneOpen)
            )"
    [style.width]="mailViewerRightSideWidth"
    id="rightPane"
    appResizable>
      <single-mail-viewer #singlemailviewer
      [messageActionsHandler]="messageActionsHandler"
      [adjustableHeight]="false"
      (orientationChangeRequest)="mailViewerOrientationChangeRequest($event)"
      (onClose)="singleMailViewerClosed($event)"></single-mail-viewer>
      <div *ngIf="mailViewerOnRightSide && !singlemailviewer.messageId"
       class="noMessageSelectedNotification">
        <p>
            No Message Selected
        </p>
        <button mat-button (click)="dontShowMessagePane()">
            Hide preview pane unless a message is opened
        </button>
      </div>
  </mat-sidenav>
  <div style="overflow: hidden; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; width: 100%">
    <mat-toolbar style="display: flex">
      <button mat-icon-button (click)="sidemenu.toggle();" matTooltip="Toggle folder pane" id="toggleFolderPaneIcon">
          <mat-icon svgIcon="menu"></mat-icon>
      </button>

      <ng-container *ngIf="!hasChildRouterOutlet">
        <app-multiple-search-fields-input
          *ngIf="showMultipleSearchFields && searchService.downloadProgress===null"
          [currentFolder]="selectedFolder"
          (close)="showMultipleSearchFields = false"
          (searchexpression)="searchFor($event)">
        </app-multiple-search-fields-input>
        <mat-form-field id="searchField" style="flex-grow: 1" floatLabel="auto"
          *ngIf="searchService.downloadProgress===null">
          <input matInput #searchInputField type="text"
            (focus)="searchTextFieldFocus()"
            (blur)="searchTextFieldBlur()" [placeholder]="dynamicSearchFieldPlaceHolder ? dynamicSearchFieldPlaceHolder: 'Start typing to search messages'"
            [value]="searchText" (keyup)="searchFor($event.target.value)" />
            <!-- <app-search-expression-builder
              [searchInputField]="searchInputField"
              [currentFolder]="selectedFolder"
              matSuffix matTooltip="Show search options"></app-search-expression-builder> -->
          <button *ngIf="searchText!==''"
            mat-icon-button
            matSuffix
              (click)="showSaveSearchDialog()"
              matTooltip="Save search">
            <mat-icon svgIcon="content-save"></mat-icon>
          </button>
          <button *ngIf="!showMultipleSearchFields"
            mat-icon-button
            matSuffix
            (click)="showMultipleSearchFields = true"
            matTooltip="Multiple search fields">
            <mat-icon svgIcon="wrench"></mat-icon>
          </button>
          <button *ngIf="searchText!==''"
            mat-icon-button
            matSuffix
              (click)="searchFor('')"
              matTooltip="Clear search">
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        </mat-form-field>

        <button mat-icon-button (click)="updateViewMode('conversations')" *ngIf="!searchtextfieldfocused && viewmode==='singleconversation'"
          matTooltip="Back to conversations list">
          <mat-icon svgIcon="arrow-left"></mat-icon>
        </button>

        <mat-menu #tableViewOptionsMenu="matMenu">
          <mat-list>
            <ng-container *ngIf="dataReady">
              <!-- currently only supporting threading / unread for local index -->
              <mat-list-item>
                <mat-checkbox
                  *ngIf="canvastable"
                  [(ngModel)]="canvastable.showContentTextPreview"
                  matLine
                  (change)="saveContentPreviewSetting()"
                  (click)="$event.stopPropagation()"
                  class="tableViewOptionsMenuElement"
                >
                  <mat-icon  svgIcon="format-align-right" class="tableViewOptionsMenuElement" matTooltip="Inline message previews"></mat-icon>
                  Inline previews
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item>
                <mat-checkbox [(ngModel)]="conversationGroupingCheckbox"
                  matLine
                  (change)="updateViewMode($event.source.checked ? 'conversations' : 'messages')"
                  (click)="$event.stopPropagation()"
                  [disabled]="unreadMessagesOnlyCheckbox"
                  class="tableViewOptionsMenuElement"
                >
                  <mat-icon  svgIcon="view-list" class="tableViewOptionsMenuElement" matTooltip="Threaded conversation view"></mat-icon>
                  Threaded view
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item>
                <mat-checkbox [(ngModel)]="unreadMessagesOnlyCheckbox"
                  matLine
                  (change)="updateSearch(true)"
                  (click)="$event.stopPropagation()"
                  [disabled]="viewmode==='conversations'"
                  class="tableViewOptionsMenuElement"
                >
                  <mat-icon  svgIcon="email-mark-as-unread" class="tableViewOptionsMenuElement" matTooltip="Unread messages only"></mat-icon>
                  Unread only
                </mat-checkbox>
              </mat-list-item>
            </ng-container>

            <mat-list-item *ngIf="!mobileQuery.matches">
              <mat-checkbox [(ngModel)]="keepMessagePaneOpen"
                matLine
                (change)="saveMessagePaneSetting()"
                (click)="$event.stopPropagation()"
              >
                <mat-icon  svgIcon="book-open" class="tableViewOptionsMenuElement" matTooltip="Keep preview pane open"></mat-icon>
                Keep preview pane open
              </mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="tableViewOptionsMenu" matTooltip="Show view options">
          <mat-icon svgIcon="dots-vertical"></mat-icon>
        </button>
      </ng-container>
      <div *ngIf="searchService.downloadProgress!==null" id="syncMessage">
          Synchronizing account index
      </div>
    </mat-toolbar>
    <mat-progress-bar *ngIf="searchService.downloadProgress!==null"
        [mode]="searchService.downloadProgress===0 ? 'indeterminate' : 'determinate'"
        [value]="searchService.downloadProgress">

    </mat-progress-bar>

    <mat-progress-bar *ngIf="websocketsearchservice.searchInProgress" mode="indeterminate">
    </mat-progress-bar>

    <mat-progress-bar
      *ngIf="searchService.partitionDownloadProgress!==null && searchService.partitionDownloadProgress!==1"
      [value]="searchService.partitionDownloadProgress*100">
    </mat-progress-bar>

    <div [hidden]="hasChildRouterOutlet">
      <div id="canvasTableContainerArea" [ngStyle]="{'bottom.px': !mailViewerOnRightSide && singlemailviewer ? singlemailviewer.height: 0}">
        <canvastablecontainer [canvastableselectlistener]="this" (sortToggled)="updateSearch(true)"></canvastablecontainer>
      </div>

      <single-mail-viewer #singlemailviewer *ngIf="!mailViewerOnRightSide"
          [adjustableHeight]="true"
          [showVerticalSplitButton]="allowMailViewerOrientationChange"
          [messageActionsHandler]="messageActionsHandler"
          (orientationChangeRequest)="mailViewerOrientationChangeRequest($event)"
          (onClose)="singleMailViewerClosed($event)"></single-mail-viewer>
    </div>

    

  </div>

  <div class="contextToolButtons" *ngIf="!hasChildRouterOutlet && showSelectOperations && !showSelectMarkOpMenu">
      <button mat-fab matTooltip="Move&nbsp;to&nbsp;folder" (click)="moveToFolder()">
          <mat-icon svgIcon="folder"></mat-icon>
      </button>
      <button mat-fab (click)="deleteMessages()"
        [matTooltip]="selectedFolder !== this.messagelistservice.trashFolderName ? 'Move to Trash' : 'Delete permanently'"
      >
        <mat-icon
            *ngIf="selectedFolder !== this.messagelistservice.trashFolderName; else deletePermanently"
            svgIcon="delete"
        >
        </mat-icon>
        <ng-template #deletePermanently>
          <mat-icon svgIcon="delete-forever"></mat-icon>
        </ng-template>
      </button>
      <button mat-fab matTooltip="Mark as ..." (click)="openMarkOpMenu()">
          <mat-icon svgIcon="playlist-check"></mat-icon>
      </button>
      <button *ngIf="selectedFolder!==messagelistservice.spamFolderName" mat-fab matTooltip="Report spam" (click)="trainSpam({is_spam:1})">
          <mat-icon svgIcon="alert-octagon"></mat-icon>
      </button>
      <button mat-fab *ngIf="selectedFolder===messagelistservice.spamFolderName" matTooltip="Not spam" (click)="trainSpam({is_spam:0})">
          <mat-icon svgIcon="alert-octagon-outline"></mat-icon>
      </button>
    </div>

    <div class="contextToolButtons" *ngIf="!hasChildRouterOutlet && showSelectOperations && showSelectMarkOpMenu">
      <button mat-fab matTooltip="Mark unread" (click)="setReadStatus(false)">
          <mat-icon svgIcon="email-mark-as-unread"></mat-icon>
      </button>
      <button mat-fab matTooltip="Mark read" (click)="setReadStatus(true)">
          <mat-icon svgIcon="email-check"></mat-icon>
      </button>
      <button mat-fab matTooltip="Set flag" (click)="setFlaggedStatus(true)">
          <mat-icon svgIcon="flag"></mat-icon>
      </button>
      <button mat-fab matTooltip="Unset flag" (click)="setFlaggedStatus(false)">
          <mat-icon svgIcon="flag-outline"></mat-icon>
      </button>
      <button mat-fab matTooltip="Back" (click)="closeMarkOpMenu()">
          <mat-icon svgIcon="keyboard-backspace"></mat-icon>
      </button>
    </div>
<router-outlet (activate)="childRouteActivated(true)" (deactivate)="childRouteActivated(false)"></router-outlet>
</mat-sidenav-container>

<div style="position: absolute; bottom: 2px; right: 2px; z-index: 10000;"
    *ngIf="progressService.httpRequestInProgress | async"
    >
  <mat-spinner diameter="20" ></mat-spinner>
</div>
