#sideMenu {
    border-right: 1px solid darkgrey !important;
}

#rightPane {
    border-left: 1px solid darkgrey !important;
}

.tableViewOptionsMenuElement {
    vertical-align: middle !important;
}

.contextToolButtons {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 25px;
    top: 110px;
    z-index: 10;

    button {
        width: 50px;
        height: 50px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
            margin: 0;
        }
    }
}