<ng-template #syncLoading>
    <app-runbox-loading text="Loading sync settings..."></app-runbox-loading>
</ng-template>

<style>
    mat-radio-group {
        display: flex;
        flex-direction: column;
    }
    mat-radio-button {
        margin: 5px;
    }
</style>

<div class="mainTextContent">
    <div>
      <div *ngIf="oldContacts">
        <h3> Contact migration </h3>
        
        <p>
            You have <strong>{{ oldContacts }}</strong> Runbox 6 contacts that have not been migrated yet.
        </p>
        <p>
            The migration is already started, but it may take a little while.
            If you think it's taking too long, please contact Runbox Support at
            <a routerLink="/compose" [queryParams]="{ to: 'support@runbox.com' }">support@runbox.com</a>.
        </p>
    </div>

    <h3> General settings </h3>
        <div>
            <mat-checkbox [(ngModel)]="contactsservice.settings.showDragHelpers"> Show drag helpers </mat-checkbox>
            <p style="font-size: small;"> Enable this if you have trouble dragging contacts on your browser </p>
        </div>
        <div>
            <h4> Avatars (contact pictures) </h4>
            <mat-radio-group
                [(ngModel)]="settingsService.settings.avatars"
                (change)="settingsService.store()"
            >
                <mat-radio-button [value]="AvatarSource.REMOTE">
                    Load from external services (like <a href="https://gravatar.com">gravatar.com</a>)
                </mat-radio-button>
                <mat-radio-button [value]="AvatarSource.LOCAL">
                    Only show pictures stored locally
                </mat-radio-button>
                <mat-radio-button [value]="AvatarSource.NONE">
                    Disable completely
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div *ngIf="syncSettings | async as sync; else syncLoading">
        <h3> Your contacts client (CardDAV) settings </h3>

        <p>
            Use this URL in a CardDAV client on your device to synchronize your contacts:
        </p>

        <code> {{ sync.carddav_url }} </code>

        <p>
            Remember to use your <strong>full username</strong> as your login: <code>{{ sync.carddav_username }}</code>.
        </p>
        <p>
            The password is your Runbox account password.
        </p>
    </div>

    <div>
      <h3> Contact export </h3>
      <p>
        You control your own data and you may export them at any time.
      </p>
      <p>
        All your contacts can be downloaded as a VCF file by clicking the button below.
      </p>
      <a mat-raised-button color="primary"  href="/rest/v1/addresses_contact/vcf">
	Export Contacts
      </a>
    </div>
</div>
