.twoColumns {
    display: grid;
    grid-template-columns: min-content auto;
    height: 100%;

    .contactList {
        min-width: 200px;
        max-width: 350px;
        border-right: 1px solid #e0e0e0;
    }

    .contactDetails {
        overflow: auto;
    }
}

.contactName {
    overflow: hidden;
}

.contactIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.showList {
    display: block;

    .contactDetails {
        display: none;
    }
}

.showDetails {
    display: block;

    .contactList {
        display: none;
    }
}

.multiContactActions {
    display: flex;
    flex-flow: column;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
}

.multiContactActions button {
    margin-top: 10px;
}

.contactListControls {
    height: 60px !important;
    padding-top: 10px !important;

    &:hover {
        background-color: #fff;
        cursor: default;
    }

    &:active {
        background-color: #fff;
    }
}

.selectedGroupLabel {
    text-decoration: underline;
    font-weight: bold;
}

.contact-details-row {
    display: flex;
    flex-wrap: wrap;
}

.contact-details-row .mat-form-field {
    padding: 5px;
}

.contactListButton {
    mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px !important;
    }
}

.contactListHint p {
    font-size: small !important;
}

.mainTextContent h2 {
    display: flex;
    align-items: center;
}

.contactDetailsPicture {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    object-fit: contain;
    padding-right: 20px;
}

.contactDetailsPicture button {
    width: 120px;
    height: 120px;
    border-radius: 120px;
}

.contactDetailsPicture mat-icon {
    transform: scale(2);
}

.contactList {
    .mat-icon {
        margin: 0 !important;
    }
}