<mat-sidenav-container autosize>
    <mat-sidenav #sidemenu mode="side" opened>
        <mat-nav-list dense>
            <mat-list-item>
                <a mat-button routerLink="/contacts/new">
                    <mat-icon> add </mat-icon> New contact
                </a>
            </mat-list-item>
            <mat-list-item>
                <input #vcfUploadInput type="file" [hidden]="true" multiple (change)="onVcfUploaded($event)" />
                <button mat-button (click)="importVcfClicked()">
                    <mat-icon>import_export</mat-icon> Import contacts
                </button>
            </mat-list-item>
            <mat-list-item>
                <a mat-button routerLink="/contacts/settings">
                    <mat-icon> settings </mat-icon> Settings
                </a>
            </mat-list-item>

            <mat-list-item  class="contactListControls">
                <mat-form-field>
                    <mat-label> Show groups </mat-label>
                    <mat-select [(value)]="groupFilter" (selectionChange)="filterContacts()">
                        <mat-option value="RUNBOX:ALL">
                            All groups
                        </mat-option>
                        <mat-option *ngFor="let group of groups" [value]="'USER:' + group">
                            {{ group }}
                        </mat-option>
                        <mat-option value="RUNBOX:NONE">
                            Uncategorized contacts
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item class="contactListControls">
                <mat-form-field>
                    <mat-label> Sort by </mat-label>
                    <mat-select [(value)]="sortMethod" (selectionChange)="sortContacts()">
                        <mat-option value="firstname+"> First name, ascending  </mat-option>
                        <mat-option value="firstname-"> First name, descending </mat-option>
                        <mat-option value="lastname+">  Last name, ascending   </mat-option>
                        <mat-option value="lastname-">  Last name, descending  </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item class="contactListControls">
                <mat-form-field>
                    <mat-label> Search </mat-label>
                    <input matInput [(ngModel)]="searchTerm" (input)="filterContacts()">
                    <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''; filterContacts()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </mat-list-item>
            <!--
            <mat-list-item *ngIf="groupFilter.substr(0, 4) === 'USER'">
                <a mat-button>
                  <mat-icon color="primary">email</mat-icon> Email this group
                </a>
            </mat-list-item>
            -->

            <mat-list-item *ngFor="let contact of shownContacts">
                <a routerLink="/contacts/{{ contact.id }}" matTooltip="View details">
                    <h4 mat-line>
                        <span *ngIf="contact.show_as_company()">
                            <mat-icon> business </mat-icon>
                        </span>
                        {{ contact.display_name() || "Unnamed contact"  }}
                    </h4>
                </a>
                <a mat-icon-button matTooltip="Email {{ contact.display_name() }}"
                    *ngIf="contact.primary_email()"
                    routerLink="/compose" [queryParams]="{to: contact.primary_email()}">
                  <mat-icon color="primary">email</mat-icon>
                </a>
            </mat-list-item>

            <mat-list-item *ngIf="shownContacts.length != contacts.length">
                {{ contacts.length - shownContacts.length }} others in other groups
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="display: flex">
            <button mat-icon-button (click)="sidemenu.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet
            
        ></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
