<ng-template #syncLoading>
    <app-runbox-loading text="Loading sync settings..."></app-runbox-loading>
</ng-template>

<div class="mainTextContent">
    <div *ngIf="syncSettings | async as sync; else syncLoading">
        <h3> Your CardDAV settings </h3>

        <p>
            Use this URL in a CardDAV client on your device to synchronize your contacts:
        </p>

        <code> {{ sync.carddav_url }} </code>

        <p>
            Remember to use your <strong>full username</strong> as your login
            – <code>{{ sync.carddav_username }}</code>.
        </p>
        <p>
            The password is just your regular account password.
        </p>
    </div>

    <div *ngIf="oldContacts">
        <h3> Contact migration </h3>
        
        <p>
            You have <strong>{{ oldContacts }}</strong> Runbox 6 contacts that has not been migrated yet.
        </p>
        <p>
            The migration is already started, but it may take a while.
            If you think it's taking too long, please contact Runbox Support at
            <a routerLink="/compose" [queryParams]="{ to: 'support@runbox.com' }">support@runbox.com</a>.
        </p>
    </div>

    <div>
        <h3> Contact export </h3>

        <a mat-button href="/rest/v1/addresses_contact/vcf">
            Click here to download all your contacts as a VCF file
        </a>
    </div>
</div>
