<mat-sidenav-container autosize>
    <mat-sidenav #sidemenu
        [opened]="sideMenuOpened"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="0"
        id="sideMenu"
        style="width: 330px"
    >
        <mat-nav-list dense>
            <app-sidenav-menu (closeMenu)="sideMenu.close()"></app-sidenav-menu>

            <mat-list-item routerLink="/contacts/new" class="contactListButton">
                <mat-icon mat-list-icon>person_add</mat-icon>
                <p mat-line>New contact</p>
            </mat-list-item>
            <mat-list-item routerLink="/contacts/new_group" class="contactListButton" (click)="shownGroup = null">
                <mat-icon mat-list-icon>group_add</mat-icon>
                <p mat-line>New group</p>
            </mat-list-item>

            <mat-list-item (click)="importVcfClicked()" class="contactListButton">
                <input #vcfUploadInput type="file" [hidden]="true" multiple (change)="onVcfUploaded($event)" />
                <mat-icon mat-list-icon>import_export</mat-icon>
                <p mat-line>Import contacts</p>
            </mat-list-item>

            <mat-list-item routerLink="/contacts/settings" class="contactListButton">
                <mat-icon mat-list-icon>settings</mat-icon>
                <p mat-line>Settings</p>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item routerLink="/contacts/" class="contactListButton" [ngClass]="!shownGroup ? 'selectedFolder' : ''">
                <mat-icon mat-list-icon> group </mat-icon>
                <p mat-line>
                    Show all contacts
                </p>
            </mat-list-item>

            <mat-list-item *ngFor="let group of groups"
                class="contactListButton"
                [ngClass]="(shownGroup ? shownGroup.id : null) === group.id ? 'selectedFolder' : ''"
                (drop)="dropContactTo(group, $event)"
                routerLink="/contacts/{{ group.id }}"
            >
                <mat-icon mat-list-icon> group </mat-icon>
                <p mat-line>
                    {{ group.display_name() }}
                </p>
            </mat-list-item>

            <mat-list-item *ngIf="groups.length === 0" class="contactListButton contactListHint">
                <mat-icon mat-list-icon> info </mat-icon>
                <p mat-line>
                    your groups will be visible here
                </p>
            </mat-list-item>
        </mat-nav-list>

        <div class="multiContactActions" *ngIf="selectedCount > 0">
            <button mat-fab *ngIf="groups.length > 0"
                matTooltip="Add these contacts to a group"
                (click)="addSelectedToGroup()"
            >
                <mat-icon [matBadge]="selectedCount" matBadgePosition="below before"> group_add </mat-icon>
            </button>

            <button mat-fab
                matTooltip="Delete these contacts"
                (click)="deleteSelected()"
            >
                <mat-icon [matBadge]="selectedCount" matBadgePosition="below before"> delete </mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar *ngIf="mobileQuery.matches" style="display: flex; justify-content: space-between;">
            <button mat-icon-button (click)="sidemenu.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <span *ngIf="!showingDetails">
                <span *ngIf="shownGroup; else showingAll">
                    Showing group <button mat-stroked-button (click)="showDetails(true)"> {{ shownGroup.display_name() }} </button>
                </span>
                <ng-template #showingAll>
                    Showing all contacts
                </ng-template>
            </span>

            <button mat-icon-button *ngIf="showingDetails" (click)="closeDetails()">
                <mat-icon> close </mat-icon>
            </button>
        </mat-toolbar>
        <div [class]="appLayout">
            <div class="contactList">
                <mat-nav-list dense>
                    <app-contact-list #contactList
                        [contacts]="shownContacts"
                        [categories]="categories"
                        [allowDragging]="true"
                        [showDragHelpers]="contactsservice.settings.showDragHelpers"
                        (selectionUpdated)="onContactsSelected($event)"
                    ></app-contact-list>

                    <mat-list-item *ngIf="contactsservice.migratingContacts > 0">
                        <a routerLink="/contacts/settings"> {{ contactsservice.migratingContacts }} contact(s) not migrated yet </a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
            <div class="contactDetails">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
