<style>
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  flex-grow: 1;
}

.column.right {
  flex-grow: 7;
}

</style>
<mat-sidenav-container class="" style="padding: 10px;" class='dev runbox-components'>
    <mat-sidenav mode="side" opened=false></mat-sidenav>
    <mat-sidenav-content>
        <section class="mat-typography">
            <div class='some-page-wrapper'>
              <div class='row'>
                <div class='column left'>
                  <div class='blue-column'>
                    <h2>Components</h2>
                    <mat-list>
                     <mat-list-item *ngFor="let route of routes">
                         <a mat-button [routerLink]="route.path"><mat-icon svgIcon="border-inside"></mat-icon> {{ route.name }} </a>
                     </mat-list-item>
                    </mat-list>
                  </div>
                </div>
                <div class='column right'>
                  <div class='green-column'>
                    <router-outlet></router-outlet>
                  </div>
                </div>
              </div>
            </div>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>

