<button mat-icon-button matSuffix [matMenuTriggerFor]="searchExpressionBuildMenu"
    (click)="$event.preventDefault()"
    >
  <mat-icon svgIcon="wrench"></mat-icon>
</button>
<mat-menu #searchExpressionBuildMenu>
  <button mat-menu-item (click)="to()"
    ><mat-icon svgIcon="account"></mat-icon>
    <span>To</span>
  </button>
  <button mat-menu-item (click)="from()">
    <mat-icon svgIcon="account"></mat-icon>
    <span>From</span>
  </button>
  <button mat-menu-item (click)="subject()">
    <mat-icon svgIcon="text-subject"></mat-icon>
    <span>Subject</span>
  </button>
  <button mat-menu-item (click)="limitToSelectedFolder()">
      <mat-icon svgIcon="folder"></mat-icon>
      <span>Current folder</span>
  </button>
  <button mat-menu-item (click)="picker.open()">
    <mat-icon svgIcon="calendar-range"></mat-icon>
    <span>Year/month/date</span>
  </button>
  <mat-form-field style="width: 0px; height: 0px;">
    <input matInput [matDatepicker]="picker" 
      (dateChange)="selectDate($event)"
    />
    <mat-datepicker #picker
      (monthSelected)="selectMonth($event)"
      (yearSelected)="selectYear($event)"
      ></mat-datepicker>
  </mat-form-field>
  <a mat-menu-item target="_blank" href="https://help.runbox.com/runbox-7-webmail-new-features/#Search_parameters">
    <mat-icon svgIcon="help-circle"></mat-icon>
    <span>Help</span>
  </a>
  
</mat-menu>
