<h1> Active products </h1>

<style>
#renewalButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
}
</style>

<button mat-fab id="renewalButton" matTooltip="Renew selected products" *ngIf="selected > 0" (click)="renewSelected()">
    <mat-icon>autorenew</mat-icon>
</button>

<app-payment-summary
    *ngIf="selected_products.length > 0"
    [products]="selected_products"
>
</app-payment-summary>

<table mat-table [dataSource]="active_products" [ngStyle]="{ width: '100%' }">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let p"> {{ p.name }} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let p"> {{ p.quantity }} </td>
    </ng-container>
    <ng-container matColumnDef="active_until">
        <th mat-header-cell *matHeaderCellDef> Active until </th>
        <td mat-cell *matCellDef="let p">
            {{ p.active_until.format('YYYY-MM-DD') }}
        </td>
    </ng-container>
    <ng-container matColumnDef="hints">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let p">
            <strong *ngIf="p.expired">
                (expired {{ p.active_until.fromNow() }})
            </strong>
            <mat-error *ngIf="p.expires_soon" style="font-weight: bold;">
                (expires {{ p.active_until.fromNow() }})
            </mat-error>
        </td>
    </ng-container>
    <ng-container matColumnDef="renew">
        <th mat-header-cell *matHeaderCellDef> Renew </th>
        <td mat-cell *matCellDef="let p">
            <mat-checkbox [(ngModel)]="p.renew" (change)="checkboxChanged($event)">
                Renew
            </mat-checkbox>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name', 'quantity', 'active_until', 'hints', 'renew']">
    <tr mat-row        *matRowDef="let row; columns: ['name', 'quantity', 'active_until', 'hints', 'renew'];"></tr>
</table>
