<h1> Active products </h1>

<table mat-table [dataSource]="active_products" [ngStyle]="{ width: '100%' }">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let p"> {{ p.name }} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let p"> {{ p.quantity }} </td>
    </ng-container>
    <ng-container matColumnDef="active_until">
        <th mat-header-cell *matHeaderCellDef> Active until </th>
        <td mat-cell *matCellDef="let p">
            {{ p.active_until.format('YYYY-MM-DD') }}
        </td>
    </ng-container>
    <ng-container matColumnDef="hints">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let p">
            <strong *ngIf="p.expired">
                (expired {{ p.active_until.fromNow() }})
            </strong>
            <mat-error *ngIf="p.expires_soon" style="font-weight: bold;">
                (expires {{ p.active_until.fromNow() }})
            </mat-error>
        </td>
    </ng-container>
    <ng-container matColumnDef="renew">
        <th mat-header-cell *matHeaderCellDef> Renew </th>
        <td mat-cell *matCellDef="let p">
            <button mat-button (click)="renew(p)" *ngIf="!p.ordered">
                Renew <mat-icon> shopping_cart </mat-icon>
            </button>
            <span *ngIf="p.ordered">
                Added to shopping cart
            </span>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name', 'quantity', 'active_until', 'hints', 'renew']">
    <tr mat-row        *matRowDef="let row; columns: ['name', 'quantity', 'active_until', 'hints', 'renew'];"></tr>
</table>
