<mat-sidenav-container autosize>
    <mat-sidenav #sidemenu mode="side"></mat-sidenav>
    <mat-sidenav-content>
        <form [formGroup]="selection">
            <h2> Account upgrades </h2>

            <p>
                <strong> Acccount: «ACCOUNT NAME» («ACCOUNT EMAIL») </strong>
            </p>

            <p>
                Please select your plan below, along with any sub-accounts or other add-ons.
                All Runbox subscriptions come with a 60-day full money back guarantee.
            </p>

            <p>
                We offer the following payment methods: Credit/debit cards, Bitcoin, PayPal, Money Orders, SWIFT/SEPA payments, and cash.
            </p>

            <h2>
                Runbox Subscriptions 
            </h2>

            <p>
                All subscriptions renew annually and include the powerful Runbox features, mail management tools, ad-free Webmail,
                spam and virus filtering, email consolidation and filtering, access from any client via POP, IMAP, SMTP, and more.
            </p>

            <h3>
                Main account («ACCOUNT EMAIL»)
            </h3>

            <p>
                Note: When selecting a subscription plan for renewal, please note that your current email disk usage is «CURRENT DISK USAGE»
            </p>

            <mat-radio-group formControlName="subscription">
                <app-payments-product *ngFor="let p of subscriptions"
					[p]="p"
                    [currency]="currency"
                >
                    <ul>
                        <li *ngFor="let detail of p.details"> {{ detail }}
                    </ul>
                </app-payments-product>
                <app-payments-product
					[p]="{ type: 'subscription', id: 'NONE', name: 'No subscription', description: 'Renew my account later' }"
                >
                </app-payments-product>
            </mat-radio-group>

            <h3> Sub-accounts </h3>

            <p>
                For additional accounts tied to your main subscription, please select a number of sub-accounts below
            </p>

            <app-payments-product *ngFor="let p of subaccounts"
				[p]="p"
                [currency]="currency"
                [fc]="selection.get(p.id)"
            >
            </app-payments-product>

            <h3> Email add-ons </h3>

            <app-payments-product *ngFor="let p of emailaddons"
				[p]="p"
                [currency]="currency"
                [fc]="selection.get(p.id)"
            >
            </app-payments-product>

            <h3> Web & Domain Hosting add-ons </h3>

            <app-payments-product *ngFor="let p of hostingaddons"
				[p]="p"
                [currency]="currency"
                [fc]="selection.get(p.id)"
            >
            </app-payments-product>
        </form>

        <h2> Selected products </h2>
        <table mat-table [dataSource]="selected_products" [ngStyle]="{ width: '100%' }">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
                <td mat-footer-cell *matFooterCellDef> <strong> Total </strong> </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let product"> {{ product.quantity }} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let product"> {{ product.price | number:'1.2-2' }} {{ currency }} </td>
            </ng-container>

            <ng-container matColumnDef="total-price">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let product"> {{ product.price * product.quantity | number:'1.2-2' }} {{ currency }} </td>
                <td mat-footer-cell *matFooterCellDef> <strong> {{ selected_total | number:'1.2-2' }} {{ currency }} </strong> </td>
            </ng-container>

            <ng-container matColumnDef="empty">
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['name', 'quantity', 'price', 'total-price']">
            <tr mat-row        *matRowDef="let row; columns: ['name', 'quantity', 'price', 'total-price'];"></tr>
            <tr mat-footer-row *matFooterRowDef="['name', 'empty', 'empty', 'total-price']">
        </table>

        <h2> Payment method </h2>

        <style>
.paymentMethods {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
        </style>

        <div class="paymentMethods">
            <app-payments-method
                logo="/_img/pay/stripe-logo.png"
                logo_alt="Stripe logo"
                style="width: 30%;"
                (clicked)="initiatePayment('stripe')"
            >
                <p>
                    Pay with your credit/debit card using Stripe
                </p>
                <p>
                    All card details are processed securely.
                </p>
            </app-payments-method>

            <app-payments-method
                logo="/_img/pay/bitpay-logo.png"
                logo_alt="Bitpay logo"
                style="width: 30%;"
                (clicked)="initiatePayment('bitpay')"
            >
                <p>
                    Pay with cryptocurrencies like Bitcoin using Bitpay
                </p>
                <p>
                    <a href="https://help.runbox.com/bitcoin-payments/">
                        Note about BitPay contact email addresses
                    </a>
                </p>
            </app-payments-method>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
