<style>
  div.welcome {
      margin: 75px 0 0 50px;
  }
  div.welcome div {
      float: left;
      margin: 20px 20px 20px 0;
      width: 28%;
  }
  div.welcome h3 mat-icon {
      font-size: 1.4em;
      height: 1em;
      margin-right: 20px;
  }
</style>

<div class="welcome">
  <h1>Welcome to Runbox</h1>
  <p>Let's get you set up with Runbox 7 and make you an email pro!</p> 
  <div>
    <h3><mat-icon>sync</mat-icon>Get synchronized</h3>
    Synchronize Runbox 7 using the app on all your devices  
  </div>
  
  <div>
    <h3><mat-icon>mail</mat-icon>Import your email</h3>
    Consolidate email from your other email accounts
  </div>
  
  <div>
    <h3><mat-icon>people</mat-icon>Import your contacts</h3>
    Import all your contacts from other email services
  </div>
  
  <div> 
    <h3><mat-icon>domain</mat-icon>Email and Domain Hosting</h3>
    Register a new domain, or complete email hosting setup for an existing domain
  </div>

  <div> 
    <h3><mat-icon>security</mat-icon>Secure your account</h3>
    Set up two-factor authentication and manage your services
  </div>

  <div> 
    <h3><mat-icon>settings</mat-icon>Configure your account</h3>
    Change settings and preferences, and make Runbox work the way you want
  </div>

  <div>
    <h3><mat-icon>devices</mat-icon>Use an email program or mobile app</h3>
    Find out how to use your Runbox account with an email program or an app on a mobile device
  </div>

  <div>
    <h3><mat-icon>card_membership</mat-icon>Subscribe or upgrade</h3>
    Take full advantage of Runbox with extra accounts and other add-ons
  </div>
  
  <div>
    <h3><mat-icon>help</mat-icon>Learn more about Runbox</h3>
    Find documentation, get support, and learn about all the Runbox features
  </div>

</div>
