div.welcomeDesk {
    position: relative;
    margin: 64px 20px 100px 30px;
}
mat-icon.category {
    margin: 0;
    width: 24px;
    height: auto;
    line-height: 24px;
}
mat-card a {
    color: inherit;
    text-decoration: none;
}
h1 {
    text-align: center;
}
h2 {
    margin: 20px 0 0 0;
    text-align: center;
}
h3 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
h4 {
    margin: 0;
    font-size: 16px;
}
#introSpecialOffer {
    text-align: center;
    margin: 20px;
}
#introSpecialOfferNote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
#introSpecialOfferNote div {
    text-align: center;
}
#introSpecialOfferNote mat-icon {
    margin: 0;
    padding: 0;
    width: 50px;
    height: auto;
}
#introSpecialOffer.h4 {
    text-align: center;
}    
#introSpecialOfferBanner {
    width: 100%;
    height: auto;
    text-align: center;
}
div.gridHighlight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
mat-card {
    display: flex;
    width: 200px;
    height: 130px;
    margin: 0 10px 10px 0;
    border: 2px solid #f4f4f4;
}
mat-card mat-icon {
    margin-right: 5px;
    width: 26px;
    height: auto;
    line-height: 14px;
}
div.divider {
    clear: both;
    height: 20px;
}
