<mat-nav-list dense>
    <mat-list-item (click)="newContact()">
        <h4 mat-line>New contact</h4>
    </mat-list-item>

    <mat-list-item (click)="selectContact(contact)" *ngFor="let contact of contacts">
        <h4 mat-line>{{ contact.full_name() }}</h4>
        <a mat-icon-button matTooltip="Email {{ contact.full_name() }}" 
            routerLink="/compose" [queryParams]="{to: contact.email}">
          <mat-icon color="primary">email</mat-icon>
        </a>
    </mat-list-item>
</mat-nav-list>
