@use '@angular/material' as mat;
@import '../iconfont/material-icons.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

// Include non-theme styles for core.
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// GTA 13.05.2017: From https://material.angular.io/guide/theming and https://www.materialui.co/colors:

$rmm-default-primary:    mat.define-palette(mat.$light-blue-palette, 900, A400, A700);
$rmm-default-accent:     mat.define-palette(mat.$blue-palette, 200, 100, 400);
$rmm-default-warn:       mat.define-palette(mat.$orange-palette, 500, A400, A700);
$rmm-default-caution:    mat.define-palette(mat.$deep-orange-palette, 500, A400, A700);
$rmm-default-error:      mat.define-palette(mat.$red-palette, 500, A400, A700);
$rmm-default-foreground: mat.define-palette(mat.$light-blue-palette, 400, 200, 600);
$rmm-default-highlight:  mat.define-palette(mat.$light-blue-palette, 100, 50, 200);
$rmm-default-background: mat.define-palette(mat.$light-blue-palette, 900, A400, A700);

$rmm-default-theme: mat.define-light-theme($rmm-default-primary, $rmm-default-accent, $rmm-default-warn);

@include mat.all-legacy-component-themes($rmm-default-theme);

// GTA 13.06.2018: Load custom fonts

@font-face {
    font-family: "Avenir Next Pro Regular";
    src: url("assets/AvenirNextLTPro-Regular.otf");
    src: url("assets/Avenir-Next-LT-Pro.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Avenir Next Pro Medium";
    src: url("assets/AvenirNextLTPro-Medium.otf");
    src: url("assets/AvenirNextLTPro-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

// GTA 13.06.2018: Override default fonts as per https://material.angular.io/guide/typography

$custom-typography: mat.define-legacy-typography-config(
    $font-family: '"Avenir Next Pro Regular", "Helvetica Neue", sans-serif'
);

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
@include mat.all-legacy-component-typographies($custom-typography);
@include mat.legacy-core();


/*** Generic styles ***/

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Avenir Next Pro Regular", "Helvetica Neue", sans-serif;
    overscroll-behavior: contain;
}

h1, .mat-typography h1 {
    margin: 10px 0 20px 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}

h2, .mat-typography h2 {
    font-size: 26px;
}

h3, .mat-typography h3 {
    font-size: 20px;
}

h3.runbox-section-header {
    display: inline;
    margin: 0px;
}

h4, .mat-typography h4 {
    font-size: 16px;
}

h4.runbox-section-header {
    display: inline;
    margin: 0px;
}

h5, .mat-typography h5 {
    font-size: 13px;
}

th {
   font-size: 16px;
}

ul.square-list {
    padding-left: 10px !important;
}

ul.square-list li {
    list-style-type: square;
    margin-left: 5px;
}

p {
    font-size: 14px;
}


/* Generic MD styles */

.mat-typography {
    padding-top: 0px;
}

mat-form-field {
    /* This is for iOS not to zoom in when focusing on text fields */
    font-size: 13px !important;
}

/* The anchor tag classing is required as it doesn't inherit the styles with html level a[mat-list-item] */
mat-list-item .mat-list-item-content,
a[mat-list-item] .mat-list-item-content {
    min-height: 24px !important;
}

.mat-list[dense] .mat-list-item .mat-list-text, 
.mat-nav-list[dense] .mat-list-item .mat-list-text>*,
mat-list-item .mat-list-text,
a[mat-list-item] .mat-list-text {
    height: 1.3em;
    line-height: 22px;
    font-weight: 400;
}

.mat-list-base[dense] .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base[dense] .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text, .mat-list-base[dense] .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base[dense] .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text {
    padding-left: 5px !important;
}

mat-list-item p.mat-line mat-icon {
    padding-right: 8px !important;
    padding-bottom: 8px !important;
}

.mat-toolbar, .mat-button {
    font-size: 16px;
    font-weight: 400;
}

button, mat-button, mat-raised-button {
    padding-top: 2px !important;
}

button:hover, mat-button:hover, mat-raised-button:hover {
    filter: brightness(1.1);
}

.mat-line, .mat-tree-node {
    height: 30px !important;
    min-height: 30px !important;
    font-size: 13px !important;
}

.mat-list-base {
    padding-top: 0px !important;
}

.mat-list-base[dense], .mat-list-item.mat-list-item-with-avatar {
    height: auto !important;
    font-size: 13px !important;
}

.mat-menu-content .mat-list-item {
    height: 32px !important;
}

.mat-menu-panel .mat-list-item {
    height: 40px !important;
}

.mat-header-cell {
    font-size: 16px;
}

.mat-card-header-text {
    margin-left: 0px !important;
}

.gridHighlight mat-card {
    transition: background-color 0.25s;
}

.gridHighlight mat-card:hover {
    background-color: mat.get-color-from-palette($rmm-default-highlight);
}

mat-grid-tile {
    text-align: left;
}

mat-chip.mat-chip.mat-standard-chip {
    background-color: #f5f5f5;
}

.mat-expansion-panel-header, .mat-expansion-panel-body .mat-list-item-content {
    min-height: 24px;
    height: 36px;

    .mat-list-text, .mat-list-text>*, .mat-list-text, .mat-line {
	height: 1.8em !important;
	min-height: 1.8em !important;
    }
}

.mat-expansion-panel-header.mat-expanded {
    height: 36px;
}

mat-icon {
    vertical-align: middle;
}

/* Generic custom styles */

.appPageHeader * {
    float: left;
}

.appPageHeader h1 {
    margin-top: 4px;
}

.mat-dialog-container {
    max-width: 550px;
}

mat-grid-tile.tableTitle {
    background-color: mat.get-color-from-palette($rmm-default-foreground);
}

.contentButton {
    margin: 0 5px !important;
    background: #eeeeee;
    padding: 5px 0px 3px 3px !important;
    line-height: 1.5em !important;
    text-decoration: none !important;
    white-space: nowrap;
    font-size: 13px;
    color: #000;

    mat-icon {
	width: 22px;
	height: 22px;
	vertical-align: top;
    }
}

.primaryContentButton {
    @extend .contentButton;
    background-color: mat.get-color-from-palette($rmm-default-primary);
    color: white;
}

.mainTextContent {
    padding: 3em;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: mat.get-color-from-palette($rmm-default-primary);
}

.mat-slide-toggle-content {
    margin-top: 1px;
}

.section-header-with-toggle {
    .mat-slide-toggle-bar {
	height: 16px;
	width: 42px;
    }
    
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
	top: -5px;
	transform: translate3d(20px, 0, 0);
    }
    
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
	height: 24px;
	width: 24px;
    }
    
    .mat-slide-toggle-label {
	font-size: 16px;
    }
    
    .mat-slide-toggle-content {
	margin-left: 2px;
    }
}

.description {
    font-size: 12px;
}

+.warning {
    color: mat.get-color-from-palette($rmm-default-warn);
    font-weight: bold;
}

.caution {
    color: mat.get-color-from-palette($rmm-default-caution);
    font-weight: bold;
}

.error {
    color: mat.get-color-from-palette($rmm-default-error);
    font-weight: bold;
}


/* Palette colors */

.themePalettePrimary {
    color: mat.get-color-from-palette($rmm-default-primary);
}
.themePaletteAccent {
    color: mat.get-color-from-palette($rmm-default-accent);
}
.themePaletteAccentLighter {
    color: mat.get-color-from-palette($rmm-default-accent, lighter);
}
.themePaletteWarn {
    color: mat.get-color-from-palette($rmm-default-warn);
}
.themePaletteForeground {
    color: mat.get-color-from-palette($rmm-default-foreground);
}
.themePaletteBackground {
    color: mat.get-color-from-palette($rmm-default-background);
}

.themePaletteLighterGray {
    color: #eeeeee !important;
}
.themePaletteLightGray {
    color: #f4f4f4 !important;
}
.themePaletteDarkGray {
    color: #949494 !important;
}
.themePaletteBlack {
    color: #444 !important;
}

/*** App-specific styles ***/

/* NOTE: These include ones that can't be loaded from component stylesheets ***/

/*** Main ***/

#main {
    position: fixed; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    width: 100%; 
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}


/*** Login screen ***/

.loginSection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.loginSection a {
    color: #fff;
}

#loginHeader {
    text-align: center;
    color: #fff;

    h1 {
	display: none;
	margin: 0;
    }
    
    #logo {
	margin: 0;
	width: 300px;
	height: auto;
    }
}

#loginHeaderTitle {
    margin: 2vh 0 0 0;
    font-size: 6vh;
    color: white;
}

@media(max-width: 812px) {
    #loginHeaderTitle {
        font-size: 4vh;
    }
}

#loginHeaderSubTitle {
    margin: 0;
    font-size: 2vh;
    font-weight: 100;
    color: mat.get-color-from-palette($rmm-default-foreground);
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

@media(max-width: 812px) {
    #loginHeaderSubTitle {
        font-size: 1.7vh;
    }
}

login {
      width: 100%;
      height: 100%;
}

@media(max-width: 812px) {
    .side7 {
	display: none;
    }
}

#logoLogin {
    margin: 0;
    width: 150px;
    height: auto;
}

div.loginScreen {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;

    a {
	color: mat.get-color-from-palette($rmm-default-primary);
    }

    #loginArea {
	border: 1px solid mat.get-color-from-palette($rmm-default-primary);
	min-width: 300px;
	min-height: 350px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;

	mat-form-field {
	    width: 200px;
	}
    }	
    #loginOptions {
        display: flex;
        margin: 0.5em;
        font-size: 13px;

	.mat-checkbox-label {
	    padding-top: 3px;
	}
    }
    #loginButton {
        width: 100px;
        margin: 0.5em;
    }
    .login-checkbox {
        padding: 0 5px;
    }
    .mat-checkbox-layout {
        display: flex;
        align-items: center;
    }
    .mat-checkbox-inner-container {
        margin: 0 5px;
        height: 13px;
        width: 13px;
    }
    .login_error_html p {
	margin: 0;
    }

    .login_error_html a {
	color: #f00 !important;
    }

    #progressBar {
	position: absolute;
	bottom: 0;
	height: 5px;
	width: 100%;
    }

    .loginScreen #tfaArea {
	border: 1px solid mat.get-color-from-palette($rmm-default-primary);
    }

    mat-button-toggle button {
	border-right: 1px solid #949494;
    }

    #forgotPassword, #createAccount {
	margin: 1em;
	font-size: 13px;
    }
}

.login_error_html {
    min-height: 20px;
    padding: 0 10px 0.7em;
    color: #f00;
    font-size: 13px;
}

div.loginScreen .login-link a {
    color: mat.get-color-from-palette($rmm-default-primary);
}

/* Smaller 2FA buttons on small screens */
@media(max-width: 375px) {
    div.loginScreen button {
	max-width: 110px;
    }
    div.loginScreen button, div.loginscreen button div {
	padding: 0 5px !important;
    }
    div.loginScreen img {
	width: 25px;
	height: auto;
    }
}

#loginFooter {
    margin: 1vh 0;
    text-align: center;
    color: #fff;
    font-size: 2.8vh;
}

#loginFooter a {
    text-decoration: underline;
    font-size: 2.2vh;
}

@media(max-width: 812px) {
    #loginFooter a {
        font-size: 1.8vh;
    }
}

#loginFooterMenuBottom {
    width: 100%;
    margin-top: 2vh;
}

@media(max-width: 812px) {
    #loginFooterMenuBottom a {
        font-size: 1.3vh;
    }
}

#loginFooterMenuBottom ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

#loginFooterMenuBottom li {
    display: inline;
    margin: 0 3vw;
    padding: 0;
}

#loginFooterMenuBottom a {
    color: mat.get-color-from-palette($rmm-default-foreground);
    text-decoration: none;
}

#loginFooterMenuBottom a:hover {
    color: #fff;
}


/* Main menu */

rmm-headertoolbar {
    flex-grow: 1;
    width: 100%;
}

#logo {
    margin: 2px 10px 1px 20px;
    width: 125px;
    height: auto;
    transition: filter 0.5s;
}

#logo:hover {
    filter: brightness(110%);
}

#logo:active {
    filter: brightness(120%);
}

#mainMenuContainer mat-icon {
    color: #fff;
}

#mainMenuContainer {
    padding: 0 30px;
}

#mainMenuContainer #runbox6 {
    color: mat.get-color-from-palette($rmm-default-accent) !important;
}

.mat-menu-item, .mat-menu-item .mat-icon:not([color]) {
    height: 36px !important;
    line-height: 36px !important;
    color: mat.get-color-from-palette($rmm-default-primary) !important;
}

#mainMenuContainer button {
    margin-left: 0em;
}

.mainMenu a, mat-menu a, .mat-nav-list a {
    padding: 0;
    text-decoration: none;
    font-weight: 400;
}

.mainMenu {
    margin-top: 30px;
    transition: margin-top 0.25s;
}

.mainMenuDesc {
    margin: 20px 0 0 0;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    transition: margin-top 0.25s;
}

.mainMenu:hover {
    margin-top: -10px;

    .mainMenuDesc {
	margin-top: -3px;
    }
}


/* Sidenav pane */

mat-sidenav-container {
    position: absolute !important; 
    bottom: 0px !important; 
    left: 0px !important;
    right: 0px !important;
    width: 100% !important;
}

@media(min-width: 1025px) {
    mat-sidenav-container {
	    top: 50px !important;
    }
}

@media(max-width: 1024px) {
    mat-sidenav-container {
	    top: 0px !important;
    }
}

#sideMenu {
    width: 275px;
    flex-grow: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    mat-icon {
	width: 20px;
	height: 20px;
    }
}

#toggleFolderPaneIcon {
    overflow: visible;
    margin-right: 10px;
    width: 24px;
}

@media (min-width: 1025px) {
    .sidenavMainMenu {
	    display: none;
    }
}

@media (max-width: 1024px) {
    #mainMenu {
	    display: none;
    }
    .sidenavMainMenu {
	    display: inline;
    }
}

.sidenavMainMenu a {
    width: 30%;
}

.sidenavSubMenu {
    display: flex;
    justify-content: space-evenly;
}

#sidenavLogoContainer {
    background-color: mat.get-color-from-palette($rmm-default-primary) !important;
    margin-top: -4px;

    .mat-button .mat-ripple-element {
	opacity: 0; // Override lower opacity in theme
    }
}

#sidenavLogoButton {
    width: 100%;
}

#webmailSettingsMenuButto {
    margin-right: 10px;
}

#sidenavGreeting {
    margin-left: 10px;
}

#sidenavGreeting p {
    margin-bottom: 5px;
    font-size: 13px;
}

#sidenavGreetingContent {
    margin: 5px 0;
    font-size: 12px !important;
}

#sidenavGreetingContent p, #sidenavGreetingContent a {
    line-height: 1.2em;
}

#logoSidenav {
    width: 125px;
    height: auto;
}

@media(min-width: 1025px) {
    #composeButton, #draftsButton, #overviewButton {
	    display: block;
    }
}

@media(max-width: 1024px) {
    #composeButton, #draftsButton, #overviewButton {
	    display: none;
    }
}

h3.sideNavHeader {
    margin: 20px 0 10px 0;
    padding-left: 20px;
}

.mat-nav-list a.textLink {
    color: mat.get-color-from-palette($rmm-default-primary);
    text-decoration: underline;
}


/*** Welcome Desk ***/

.welcomedesk a {
    color: mat.get-color-from-palette($rmm-default-primary);
    text-decoration: underline;
}

/*** Mail ***/

/* Folders */

#folderListHeader {
    height: 30px;
    font-size: 13px;
}

#createFolderButton {
    margin-right: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}
    
.mailFolder div, .mailFolder span {
    height: 1em;
    vertical-align: middle;
}

.folderIconStandard {
    color: mat.get-color-from-palette($rmm-default-primary);
}

.folderIconUser {
    color: mat.get-color-from-palette($rmm-default-foreground) !important;
}

.folderName {
    color: #444;
}

.folderNameUnread {
    font-family: "Avenir Next Pro Medium";
    color: #444;
    font-weight: bold !important;
}

.mat-badge-content {
    color: white !important;
    background-color: mat.get-color-from-palette($rmm-default-foreground) !important;
    font-size: 10px;
    line-height: 18px !important;
    right: auto !important;
    left: 0px;
    padding: 2px 3px 2px 3px;
}

.foldersidebarcount {
    font-size: 10px; 
}

.draftsFolder {
    display: none;
}

.selectedFolder {
    background-color: mat.get-color-from-palette($rmm-default-accent, 50) !important;
}

app-popular-recipients, app-saved-searches {
    mat-expansion-panel-header span {
	align-items: center;
	height: 17px;
    }
}

app-saved-searches .mat-list-base[dense] .mat-list-item {
    height: 30px;
}


/* List screen */

#mailMenuContainer {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
}

#mailMenu {
    height: 55px;
    padding: 0 8px;
    @media(max-width: 340px) {

    }
}
.messageListActionButtonsRight {
    flex-grow: 1;
    overflow: hidden;
}
                             
.messageListActionButtonsRight button {
    width: 30px; // Remember to also update TOOLBAR_LIST_BUTTON_WIDTH in app.component.ts in order to show the correct number of menu items
}

#mailMenu .mat-icon-button {
    height: 40px;
}

#searchField {
    flex-grow: 10;
    margin: 0px 10px 0 10px;
    @media(max-width: 340px) {
        margin: 0px 5px 0 5px;
    }
}

#searchField .mat-form-field-wrapper {
    padding-bottom: 0.5em;
}

#searchField .mat-form-field-infix {
    line-height: 1.25em;
    padding: 0.2em 0;
}

#searchField .mat-form-field-underline {
    bottom: 0.75em;
}

#searchField mat-icon {
    font-size: 20px !important;
    line-height: 20px !important;
}

#searchField input {
    font-size: 16px;
}

#searchField label {
    font-size: 14px;
}

#searchField .mat-form-field-infix {
    width: 100%;
}

#multipleSearchFieldsContainer {
      position: absolute;
      top: 45px;
      right: 13px;
      z-index: 9999;
      height: auto;
      background-color: white;
      border: #aaa solid 1px;
      padding: 0 10px 5px 10px;

      .mat-form-field-wrapper {
	  padding-bottom: 1em;
      }

      .mat-form-field-infix {
	  padding-bottom: 3px;
      }
}

#threadedCheckbox, #unreadCheckbox {
    margin: 10px 20px 0 0;
    height: 40px;
}

.mat-checkbox-label {
    font-size: 13px;
}

#threadedCheckbox .mat-checkbox-label, #unreadCheckbox .mat-checkbox-label {
    line-height: 0px;
}

.mat-icon, .mat-icon-button {
    color: mat.get-color-from-palette($rmm-default-primary);
}
    
@media (max-width: 540px) {
    #threadedCheckbox {
	display: none;
    }
    #unreadCheckbox {
	display: none;
    }
}

#syncMessage {
    margin-top: 20px;
    flex-grow: 1;
    text-align: center;
    font-family: "Avenir Next Pro Regular ", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #949494;
}

#canvasTableContainerArea {
    position: absolute;
    top: 55px;
    left: 0px;
    right: 0px;
}

.mat-fab.mat-accent {
    color: mat.get-color-from-palette($rmm-default-primary);
}

#moveMessagesToFolderList {
    width: 250px;
}

/* Read screen */

.inMessageNotification {
    font-size: 12px;
    font-style: italic;
    color: #bbb;
    text-align: center;
}

.messageActionButtonsLeft {
    flex-grow: 1;
    overflow: hidden;
}

.messageActionButtonsRight {
    overflow: hidden;
}

.messageActionButtonsLeft button, .messageActionButtonsRight button {
    width: 30px; // Remember to also update TOOLBAR_BUTTON_WIDTH in singlemailviewer.component.ts in order to show the correct number of menu items
}

/* Message display options */

.htmlButtons {
    display: flex;
    min-height: 30px;
    padding: 0 10px;
    font-size: 14px;
    align-items: center;

    .mat-raised-button {
	min-width: 30px;
	line-height: 24px;
    }

    .mat-radio-label-content {
	padding: 0 !important;
    }
    
    button, .mat-radio-button, .mat-checkbox {
	margin-left: 5px;
    }

    .mat-flat-button {
	background-color: mat.get-color-from-palette($rmm-default-primary);

	.mat-icon {
	    color: white !important;
	}
    }
    .mat-raised-button {
	background-color: white;

	.mat-icon {
	    color: mat.get-color-from-palette($rmm-default-primary);
	}
    }

    .mat-icon  {
	margin: 0 3px !important;
    }
    
    mat-flat-button, .mat-flat-button, mat-raised-button, .mat-raised-button {
	min-width: 30px !important;
	width: 30px !important;
	padding: 0 !important;
	line-height: 24px !important;
    }

    .space {
	width: 20px;
    }

    .disabled {
	color: #f4f4f4;
    }
}

/* Preview pane message action button row */

single-mail-viewer .mat-toolbar, single-mail-viewer .mat-toolbar-row, single-mail-viewer .mat-toolbar-single-row {
    height: 55px !important;
}

@media(max-width: 812px) {
    single-mail-viewer .mat-toolbar, single-mail-viewer .mat-toolbar-row, single-mail-viewer .mat-toolbar-single-row {
	height: 40px !important;
    }
}

mat-expansion-panel, mat-expansion-panel-header {
    box-shadow: none !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

/* Message header area */
#messageHeader .mat-expansion-panel-header {
    min-height: 24px;
    height: 100%;
}

#messageHeaderSubject {
    font-size: 16px !important;
}

#messageContentsBody {
    font-size: 13px !important;
}

/* Compose */

.draftdesk-container {
    display: flex;
    flex-wrap: wrap;
}

compose {
    flex-grow: 1;
}

compose.draftPreviewContainer {
}

@media(min-width: 1025px) {
    compose #fieldSubject, compose #fieldRecipient .mat-form-field-infix, compose mailrecipient-input .mat-form-field-underline, compose mailrecipient-input input.mat-chip-input {
    width: 45vw !important;
    }
}

@media(max-width: 1024px) and (min-width: 376px) {
    compose #fieldSubject, compose #fieldRecipient .mat-form-field-infix, compose mailrecipient-input .mat-form-field-underline, compose mailrecipient-input input.mat-chip-input {
    width: 66vw !important;
    }
}

/* Styles to decrease vertical spacing on Compose */

compose .mat-card-actions {
    padding: 0 !important;
    margin-bottom: 8px !important;
}

compose .mat-form-field-underline, compose input.mat-chip-input {
    bottom: 10px !important;
}

compose .mat-card-title {
    margin-bottom: 0px !important;
    font-size: 13px;
}

compose .mat-card-subtitle {
    margin-bottom: 0px !important;
}

compose input.mat-chip-input {
    margin-top: 0px !important;
}

compose .mat-standard-chip {
    padding: 7px 8px 5px 10px !important;
}

compose #fieldFrom .mat-form-field-wrapper, compose .fieldRecipient .mat-form-field-wrapper, compose #fieldSubject .mat-form-field-wrapper {
    padding-bottom: 0.5em;
}

.recipientSuggestionContainer {
    max-height: 90px;
    overflow: auto;
    
    span {
        font-size: 12.5px;
    }

    .recipientSuggestionList {
        display: flex;
	flex-wrap: wrap;
        white-space: nowrap;

        .suggestionItem {
            align-items: center;
            padding-right: 5px;
        }

        div {
            padding: 2px 0;
        }
	.mat-chip {
	    padding: 2px 5px !important;
	    font-size: 12px !important;
	}
    }
}

#fieldFrom, #fieldSubject {
    overflow: hidden;

    .mat-form-field-infix {
	padding-bottom: 4px;
    }
}


/*** Contacts ***/

.contactListControls {
    .mat-nav-list[dense], .mat-list-item, .mat-list-text, .mat-form-field {
	height: 48px !important;
    }
}    

.contactList .mat-form-field-infix {
    font-size: 16px;
}

#contactListControlsSearch {

    .mat-form-field-label-wrapper {
        top: -1em;
    }

    .mat-form-field-label-wrapper label {
	margin-top: 10px;
    }

    .mat-list-item-content {
	padding: 0 !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding-top: 0 !important;
    }
    
    .mat-form-field-appearance-legacy .mat-form-field-label {
        top: 0.75em;
    }
}

.contactList .contactName p {
    margin: 0;
}


/*** Calendar ***/

app-calendar-app-component mat-nav-list button {
    margin: 0 !important;
    padding: 0 !important;
}

@media(min-width: 1025px) {
    .calendarToolbarButton {
        margin: 0.5em !important;
    }
}

.calendarTitle {
    font-size: 20px !important;
    font-weight: bold;
    margin: 0 0.5em;
}

@media(min-width: 1025px) {
    .calendarTitle {
        margin: 0 1em;
    }
}

div.calendarMonthDayView {
    height: 15vh;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

div.calendarMonthDayView .add-new-event {
    visibility: hidden;
}

div.calendarMonthDayView:hover .add-new-event {
    visibility: visible;
}

.add-new-event {
    position: absolute;
    bottom: 0.1em;
    right: 0.1em;
}

button.calendarMonthDayEvent {
    width: 100%;
    margin: 5px !important;
    padding: 0 !important;
    text-align: left;
    white-space: pre-line !important;
    overflow: hidden;
    font-size: 12px !important;
    line-height: 1.2em;
}

app-calendar-event-editor-dialog p {
    margin: 5px 0 !important;
    padding: 0 !important;
}

.calendarEventPeriodLabel {
    display: inline-block;
    width: 50px;
}

.upcomingEventCard {
    margin: 10px;
}

/* Dom reg */

.domreg .mat-card-header-text {
    width: 100%;
}

.domreg .long_placeholder label {
    white-space: normal !important;
}

.domreg .default_margintop {
    margin-top: 35px;
}

/*** Payment ***/

/** Put here instead of component CSS due to use of palette variables **/
.limitedTimeOffer, .holidayOffer {
    border: 1px solid mat.get-color-from-palette($rmm-default-primary);
    padding: 1%;
    text-align: center;
}

.limitedTimeOffer h1, .holidayOffer h1 {
    color: mat.get-color-from-palette($rmm-default-primary);
}

.limitedTimeOffer h2, .holidayOffer h2 {
    color: mat.get-color-from-palette($rmm-default-primary);
}

.productCardSpecial .mat-card, .productCardSpecial mat-card {
    background: mat.get-color-from-palette($rmm-default-accent);
}

#specialOffer {
    width: 98%;
    border: 1px solid mat.get-color-from-palette($rmm-default-primary);
    padding: 10px;
    text-align: center;
}

#specialOffer h1 {
    margin: 10px 0 0 -100px;
    font-size: 40px;
    text-transform: uppercase !important;
    line-height: 1.5em;
    color: mat.get-color-from-palette($rmm-default-primary);
}

#specialOffer h2 {
    margin: 10px 0 10px -100px;
    color: mat.get-color-from-palette($rmm-default-primary);
}

#specialOffer h3 {
    margin: 0 0 0 -100px;
    color: mat.get-color-from-palette($rmm-default-primary);
}

#specialOffer p.description {
    font-size: 13px;
    color: mat.get-color-from-palette($rmm-default-primary);
}

#shoppingCartButton {
    position: fixed;
    top: 75px;
    right: 50px;
    z-index: 10;
    width: 75px;
    height: 75px;

    mat-icon {
        width: inherit;
        height: inherit;
    }
    svg {
        width: 50px !important;
        height: 50px !important;
    }
    .mat-badge-content {
        font-size: 20px !important;
        line-height: 26px !important;
    }
}


/*** Runbox components ***/

.dev.runbox-components .nice_green_timer {
    color: #0F0;
}

.dev.runbox-components .nice_green_timer .timeunit { 
    border: 1px solid #0F0;
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin-left: 1px;
    justify-content: center;
    font-size: 20px;
    align-items: center;
	background: #1212FF;
}

.dev.runbox-components .nice_green_timer .timeunit.hours {
    color: #0f0;
}
.dev.runbox-components .nice_green_timer .timeunit.years::after { 
    content: "y";
}
.dev.runbox-components .nice_green_timer .timeunit.months::after { 
    content: "m";
}
.dev.runbox-components .nice_green_timer .timeunit.days::after { 
    content: "d";
}
.dev.runbox-components .nice_green_timer .timeunit.hours::after { 
    content: "h";
}
.dev.runbox-components .nice_green_timer .timeunit.minutes::after { 
    content: "m";
}
.dev.runbox-components .nice_green_timer .timeunit.seconds::after { 
    content: "s";
}

.dev.runbox-components .nice_blue_timer {
    color: #00F;
}

.dev.runbox-components .nice_blue_timer .timeunit {
    height: 30px;
    display: inline-flex;
    margin-right: 13px;
    justify-content: center;
    align-items: center;
}

.dev.runbox-components .nice_blue_timer .timeunit.years::after { 
    content: " years";
}
.dev.runbox-components .nice_blue_timer .timeunit.months::after { 
    content: " months";
}
.dev.runbox-components .nice_blue_timer .timeunit.days::after { 
    content: " days";
}
.dev.runbox-components .nice_blue_timer .timeunit.hours::after { 
    content: " hours";
}
.dev.runbox-components .nice_blue_timer .timeunit.minutes::after { 
    content: " mins";
}
.dev.runbox-components .nice_blue_timer .timeunit.seconds::after { 
    content: " secs";
}

.dev.runbox-components .timer-custom-tpl .date {
  background: #77f;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.dev.runbox-components .timer-custom-tpl .time {
  background: #ff7;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  font-size: 36px;
}

.dev.runbox-components .timer-custom-tpl .time .timeunit {
  border: 3px solid #000;
  padding: 5px;
  justify-content: center;
  justify-items: center;
}

.app-runbox-section {
    margin-bottom: 50px;
}

runbox-section-header mat-slide-toggle {
    display: inline;
}

canvastable {
    [draggable] {
        cursor: pointer;
    }
}

// helpers for multi-row mobile-friendly mat-tables
tr.detailsRow {
    height: 0 !important;
}

tr.regularRow td {
    border-bottom-width: 0;
}

tr.regularRow td.mat-cell:first-of-type {
    padding-left: 0px;
}
tr.regularRow td.mat-cell:last-of-type {
    padding-right: 0px;
}

div.expandedDetails {
    overflow: hidden;
    display: flex;
    min-height: 0;
    @media only screen and (min-width: 1025px) {
        height: 0px;
    }
}

td.mat-cell.cdk-column-expandedDetails.mat-column-expandedDetails {
    @media only screen and (max-width: 1024px) {
        padding-bottom: 10px;
    }
    @media only screen and (max-width: 500px) {
        padding: 0 10px 10px;
    }
}

td.mat-cell.cdk-column-renewal_name.mat-column-renewal_name {
    @media only screen and (max-width: 1024px) {
        background-color: #f5f5f5;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }
    @media only screen and (max-width: 500px) {
        padding: 10px 13px 10px;
    }
}

table.renewalsTable td, table.paymentsTable td {
    padding: 5px 10px 0px 10px !important;
}    

table.detailsTable {
    width: 100%;
}

table.detailsTable tr td:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
}
