* {
    box-sizing: border-box;
}

.profile-form {
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile-form form > div {
    position: relative;
    display: inline-block;
    margin: 10px;
}
.header-image {
    flex-shrink: 0;
    border-radius: 50%;
    background-image: url(/_img/avatar.svg);
    background-size: cover;
}
.mat_header {
    align-items: center;
}
.profile-card {
    display: inline-flex;
    width: calc(100% - 10px);
    margin: 5px;
    min-height: 200px;
    @media only screen and (min-width: 769px) {
        width: calc(50% - 10px);
        max-width: 600px;
        margin: 5px;
    }
}
.profile-content {
    width: 100%;
    .float-right {
        width: 100%;
        margin-right: 10px;
        text-align: right;
        white-space: nowrap;
    }
    .float-left {
        width: 100%;
        text-align: left;
    }
    .mobile-edit {
        height: 50px;
    }
}
.identity-warning {
    font-weight: bold;
    color: crimson;
}
