* {
    box-sizing: border-box;
}
.modal-card {
    padding: 0;
}
.header {
    position: relative;
    left: -25px;
    top: -25px;
    width: calc(100% + 49px);
    padding: 25px 30px;
    background: #013b69;
    overflow: hidden;
}
.header-title,
.header-subtitle {
    color: #fff;
}
.header-subtitle {
    margin-bottom: 0;
}
.action-buttons {
    display: flex;
    justify-content: space-between;

    margin-left: 0;
    padding: 0;

    @media only screen and (max-width: 375px) {
        button {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}
.delete-button {
    margin-right: 8px;
}
.content {
    display: flex;
}
.form-item {
    @media only screen and (min-width: 520px) {
        padding: 0 10px;
    }
}
.form-field,
.form-checkbox {
    width: 100%;
    @media only screen and (min-width: 520px) {
        width: 50%;
    }
}
.form-checkbox {
    display: inline-block;
    padding-bottom: 20px;
}
.signature {
    width: 100%;
    textarea {
        @media only screen and (min-height: 600px) {
            height: 100px;
        }
    }
}
