<!--
<div id="nativemessagelist">
    <div *ngIf="rowsDisplayed < rowCount">
        Showing messages {{ offset + 1 }}..{{ upto }} out of {{ rowCount }}
    </div>
    <button mat-stroked-button class="pagingButton" *ngIf="offset > 0" (click)="scrollUp()">
        Show previous {{ rowsDisplayed }} messages
    </button>
    <button mat-stroked-button
        *ngFor="let row of shownRows; index as i"
        [ngClass]="{ 'messageButton': true, 'selectedFolder': rows.openedRowIndex == row.rowid }"
        (click)="openMessage(row.rowid)"
    >
        <div class="firstRow">
            <div>
                {{ row.from }}
            </div>
            <div>
                {{ row.date }}
            </div>
        </div>
        <div class="subjectRow">
            <div class="subject"> {{ row.subject }} </div>
            <div class="notes">
                <span class="note" *ngIf="row.count > 1"><em>{{ row.count }} messages in thread</em></span>
                <span class="note" *ngIf="row.unread"><em>UNREAD</em></span>
            </div>
        </div>
        <div class="contentPreview" *ngIf="inlinePreviews">
            <span *ngIf="row.contentPreview; else noPreview"> {{ row.contentPreview }} </span>
            <ng-template #noPreview>
                <span class="noPreview"> Preview not available </span>
            </ng-template>
        </div>
    </button>
    <button mat-stroked-button class="pagingButton" *ngIf="remaining > 0" (click)="scrollDown()">
        Show next {{ rowsDisplayed }} messages
    </button>
</div>
-->
<div style="overflow: auto;">
    <table mat-table [dataSource]="dataSource" style="width: 100%" multiTemplateDataRows>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{ row.date }} </td>
        </ng-container>
        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef> From/To </th>
            <td mat-cell *matCellDef="let row"> {{ row.from }} </td>
        </ng-container>
        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> Subject </th>
            <td mat-cell *matCellDef="let row"> {{ row.subject }} </td>
        </ng-container>
        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Count </th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row.count !== 'RETRY'">
                    {{ row.count }}
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="preview">
            <td mat-cell *matCellDef="let row" class="contentPreview" [attr.colspan]="shownColumns.length"> 
                <span *ngIf="row.contentPreview; else noPreview"> {{ row.contentPreview }} </span>
                <ng-template #noPreview>
                    <span class="noPreview"> Preview not available </span>
                </ng-template>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="shownColumns; sticky: true"></tr>
        <tr mat-row [ngClass]="{ 'regularRow': inlinePreviews }" *matRowDef="let row; columns: shownColumns;" (click)="openMessage(row.rowid)"></tr>
        <tr mat-row class="detailsRow" *matRowDef="let row; columns: ['preview']" [ngStyle]="{ 'display': inlinePreviews ? null : 'none' }"></tr>
    </table>
    <mat-paginator
        [length]="rowCount"
        [pageIndex]="pageIndex"
        [pageSize]="rowsDisplayed"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="changePage($event)"
    ></mat-paginator>
</div>
