#messageTextArea textarea {
    width: 97%;
    border: 1px solid #949494;
    padding: 10px;
}

.draft-card {
    margin-bottom: 20px;
}

.draft-title {
    flex-grow: 1;
    padding-left: 15px;
    font-size: 24px;
}

.draft-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
}

.draftPreview {
    max-height: 100px;
    overflow: hidden;

    span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

mat-form-field {
    width: 100%;
}

.dropzonehighlight {
    border: #155d97 dashed 5px;
    border-radius: 20px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}

.overdropzone {
    border: #5d9715 solid 5px;
}

#useHTML div.mat-checkbox-inner-container {
    margin-right: 4px !important;
}

#sendMail .mat-icon {
    font-size: 36px;
}

button {
    float: right !important;
}

#dropZoneText {
    margin: 10px 0;
}

#deleteAttachment {
    height: 16px;
    line-height: 16px;
}

#deleteAttachment mat-icon {
    margin-top: -5px;
    font-size: 20px;
}
