<mat-card [ngClass]="{'draftPreview': !editing}" class="draft-card" [formGroup]="formGroup">
    <mat-card-actions class="draft-actions">
        <div class="draft-title">
            {{model.subject ? model.subject : "New message"}}
        </div>
        <mat-checkbox *ngIf="editing" formControlName="useHTML" (change)="htmlToggled()" id="useHTML">HTML</mat-checkbox>    
        <button *ngIf="editing" mat-icon-button matTooltip="Attach files" (click)="attachFilesClicked()">
            <mat-icon>attachment</mat-icon>
        </button>
        <input #attachmentFileUploadInput type="file" [hidden]="true" multiple (change)="onFilesSelected($event)" />
        
        <button *ngIf="editing" [disabled]="saved" mat-icon-button matTooltip="Save draft" (click)="submit()">
            <mat-icon *ngIf="saved">cloud_done</mat-icon>
            <mat-icon *ngIf="!saved && !saveErrorMessage">save</mat-icon>
            <mat-icon *ngIf="!saved && saveErrorMessage" color="warn" [matTooltip]="saveErrorMessage">save</mat-icon>
        </button>
        <button *ngIf="!isUnsaved" mat-icon-button matTooltip="Move draft to trash" (click)="trashDraft()">
            <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="editing" mat-icon-button matTooltip="Close draft" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="editing && isUnsaved" mat-icon-button matTooltip="Cancel draft" (click)="cancelDraft()">
            <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="!editing" mat-icon-button (click)="editDraft()" matTooltip="Edit draft" id="editDraftIcon">
            <mat-icon>edit</mat-icon>
        </button>                 
        <button *ngIf="editing" mat-icon-button matTooltip="Send mail" (click)="submit(true)" id="sendMail">
            <mat-icon>send</mat-icon>
        </button>
    </mat-card-actions>        
    <mat-card-subtitle>                
        <mat-form-field floatPlaceholder="always" *ngIf="editing" style="width: 100%" id="fieldFrom">
            <mat-select placeholder="From" formControlName="from">
                <mat-option *ngFor="let from of draftDeskservice.froms" [value]="from.nameAndAddress">
                    {{from.nameAndAddress}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span *ngIf="!editing">
            <span *ngFor="let t of model.to">
                {{t.nameAndAddress}}
            </span>
        </span>        
        <div style="display: flex;" class="fieldRecipient">
            <mailrecipient-input *ngIf="editing" style="flex-grow: 1" [initialfocus] = "model.to.length>0 ? false : true" placeholder="To" [recipients]="model.to" (updateRecipient)="onUpdateRecipient('to',$event)"></mailrecipient-input>
            <button mat-button *ngIf="editing && !hasCC" (click)="hasCC=true" id="buttonCC">CC</button>
            <button mat-button *ngIf="editing && !hasBCC" (click)="hasBCC=true" id="buttonBCC">BCC</button>
        </div>
        <div style="display: flex;" *ngIf="editing && hasCC" class="fieldRecipient">
            <mailrecipient-input *ngIf="editing" style="width: auto; flex-grow: 1" placeholder="CC" [recipients]="model.cc" (updateRecipient)="onUpdateRecipient('cc',$event)"></mailrecipient-input>
            <button mat-icon-button (click)="onUpdateRecipient('cc',[])"><mat-icon>close</mat-icon></button>              
        </div>
        <div style="display: flex;" *ngIf="editing && hasBCC" class="fieldRecipient">
            <mailrecipient-input *ngIf="editing"  style="width: auto; flex-grow: 1" placeholder="BCC" [recipients]="model.bcc" (updateRecipient)="onUpdateRecipient('bcc',$event)"></mailrecipient-input>
            <button mat-icon-button (click)="onUpdateRecipient('bcc',[])"><mat-icon>close</mat-icon></button>
        </div>
    </mat-card-subtitle>    
    <mat-card-content>       
        <mat-form-field *ngIf="editing" floatPlaceholder="auto" id="fieldSubject">
            <input matInput placeholder="Subject" name="subject" formControlName="subject" />
        </mat-form-field>                     
        <section *ngIf="editing" [ngClass]="{'dropzonehighlight': showDropZone, 'overdropzone': draggingOverDropZone}" (dragover)="draggingOverDropZone=true" (dragleave)="draggingOverDropZone=false" (drop)="dropFiles($event)" id="dropZone">
            <h1 *ngIf="showDropZone" id="dropZoneText">Drop files here</h1>            
            <mat-progress-bar *ngIf="uploadprogress!=null"                               
                mode="determinate"
                [value]="uploadprogress"
               >
            </mat-progress-bar>
            <button mat-button *ngIf="uploadprogress !== null" (click)="cancelAttachmentUpload()">
                <mat-icon>close</mat-icon> Cancel attachment upload
            </button>
            <mat-card-content *ngIf="uploadprogress!=null">
                <div *ngFor="let file of uploadingFiles">
                    <p>{{file.name}}, {{formatBytes(file.size)}}</p>
                </div>
            </mat-card-content>
        </section>
        <section *ngIf="editing && model.attachments && model.attachments.length>0" style="display: flex; flex-wrap: wrap; margin-top: 10px;">
	  Attachments:&nbsp;
          <div *ngFor="let attachment of model.attachments; let i=index">
            <ng-container *ngIf="attachment.file_url!=='UTF-8Q'">
              <a [href]="'/ajax/download_draft_attachment?filename='+attachment.file" target="_blank">{{displayWithoutRBWUL(attachment.file)}} ({{attachment.size}})</a>
              <button mat-icon-button id="deleteAttachment" (click)="removeAttachment(i)"><mat-icon>delete</mat-icon></button>
            </ng-container>
          </div>      
        </section>      
        <span [hidden]="editing">
            {{this.model.preview}}
        </span>
            
        <div [hidden]="!editing">            
          <textarea style="
			   width: 100%;
			   height: 300px;
			   " 
                    [id]="selector"
                    [hidden]="!formGroup.value.useHTML">
          </textarea>
          <mat-form-field id="messageTextArea" *ngIf="!formGroup.value.useHTML" floatPlaceholder="auto">
            <textarea 
               #messageTextArea
               placeholder="Message text" 
               matInput                                      
               formControlName="msg_body"
               rows="20"
               >
            </textarea>
          </mat-form-field>   
        </div>          
    </mat-card-content>

</mat-card>
