.draftdesk-container {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
}

.more-drafts {
    width: 180px;
    height: 180px;
    text-align: center;
    padding-top: 80px;
}
