<div style="width: 99%; height: 100%; display: flex; flex-wrap: wrap; padding: 0 10px 10px 0;">
    <compose [model]="draftModel" (draftDeleted)="draftDeleted($event)" #draft [style.width]="draft.editing ? '100%' : 'auto'" *ngFor="let draftModel of draftModelsInView"></compose>
    <div *ngIf="hasMoreDrafts" style="width: 180px; height: 180px; text-align: center; padding-top: 80px">            
        <button mat-icon-button mat-tooltip="Show more" (click)="showMore()" style="transform: scale(4,4);">
            <mat-icon>more_horiz</mat-icon>
        </button>        
    </div>
</div>
