.draftdesk-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
}

.draftPreviewContainer {
    position: absolute;
    top: 55px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .draftdesk-container {
        padding: 0;
    }
}

.more-drafts {
    width: 180px;
    height: 180px;
    text-align: center;
    padding-top: 80px;
}

.noMessageSelectedNotification {
    font-size: 20px;
    font-style: italic;
    color: #bbb;
    text-align: center;
}
