<mat-form-field style="width: 100%" floatPlaceholder="auto">
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let recipient of recipientsList; let ndx=index" [selectable]="selectable"
                [removable]="true" 
                (removed)="removeRecipient(ndx)">        
                {{recipient.nameAndAddress}}
                <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #searchTextInput [formControl]="searchTextFormControl" [placeholder]="placeholder" 
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"                
                [matChipInputAddOnBlur]="false"
                (blur)="addRecipientFromBlur()"
                (matChipInputTokenEnd)="addRecipient($event)" 
                [matAutocomplete]="auto" style="flex-grow: 1" 
                type="email"
                email
            />
        <mat-error *ngIf="invalidemail && !searchTextFormControl.valid">
            Please enter a valid email address
        </mat-error>        
    </mat-chip-list>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="addRecipientFromAutoComplete($event.option.value)">
    <mat-option *ngFor="let recipient of filteredRecipients | async" [value]="recipient">
        {{ recipient.name }}
    </mat-option>
</mat-autocomplete>
