<mat-form-field class="recipient-field" floatPlaceholder="auto">
    <mat-chip-list #chipList class="recipient-chip-list">
        <mat-chip *ngFor="let recipient of recipientsList; let ndx=index" [selectable]="selectable"
                class="recipient-chip"
                [removable]="true" 
                (removed)="removeRecipient(ndx)">        
                <span class="recipient-chip-label">{{recipient.nameAndAddress}}</span>
                <mat-icon matChipRemove svgIcon="close"></mat-icon>
        </mat-chip>
        <input #searchTextInput [formControl]="searchTextFormControl" [placeholder]="placeholder" 
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"                
                [matChipInputAddOnBlur]="false"
                (blur)="addRecipientFromBlur()"
                (matChipInputTokenEnd)="addRecipientFromEnter($event)" 
                [matAutocomplete]="auto" class="recipient-search-input"
                type="email"
            />
        <mat-error *ngIf="invalidemail">
            Please enter a valid email address
        </mat-error>        
    </mat-chip-list>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete" [panelWidth]="autocompletePanelWidth" (optionSelected)="addRecipientFromAutoComplete($event.option.value)">
    <mat-option *ngFor="let recipient of filteredRecipients | async" [value]="recipient" class="recipient-option">
        <span class="recipient-option-label">{{ recipient.name }}</span>
    </mat-option>
</mat-autocomplete>
